<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Accounts Payable Report</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Accounts Payable Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ========================================
                        Input Filters and Display Number of Rows
                        ========================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpAccountsPayableReportSeachFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboAccountsPayableReportDisplayNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnAccountsPayableReportDownloadCSVOnclick()" id="btnAccountsPayableReportDownloadCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnAccountsPayableReportPrintPDFOnclick()" id="btnAccountsPayableReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========================================
                        Date, Company, Branch amd Account Filters
                        =========================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Date as of</b></span>
                                        <div class="comboBox-wide" id="cboAccountsPayableReportDateAsOfFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboAccountsPayableReportCompanyFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboAccountsPayableReportBranchFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Account</b></span>
                                        <div class="comboBox-wide" id="cboAccountsPayableReportAccountFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="accountsPayableReportFlexGrid" style="font-size: 11.5px;"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="accountsPayableReportNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnAccountsPayableReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnAccountsPayableReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnAccountsPayableReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnAccountsPayableReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnAccountsPayableReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ======================================
                    Accounts Payable Report Totals (Aging)
                    ======================================
                -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Balance</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalBalance" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Current Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalCurrentAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount in 30 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount30Days" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount in 60 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount60Days" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount in 90 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount90Days" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount Over 120 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmountOver120Days" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ===========
        // Filter Date
        // ===========
        var cboAccountsPayableReportDateAsOfFilter = new wijmo.input.InputDate('#cboAccountsPayableReportDateAsOfFilter');
        var isCboDateAsOfFilterSelected = true;

        // ==============
        // Filter Company
        // ==============
        var cboAccountsPayableReportCompanyFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportCompanyFilter');
        var isCboCompanyFilterSelected = false;

        // =============
        // Filter Branch
        // =============
        var cboAccountsPayableReportBranchFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportBranchFilter');

        // ==============
        // Filter Account
        // ==============
        var cboAccountsPayableReportAccountFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportAccountFilter');

        // ==============================================
        // Accounts Payable Collection View and Flex Grid
        // ==============================================
        var accountsPayableReportCollectionView;
        var accountsPayableReportFlexGrid;
        var cboAccountsPayableReportDisplayNumberOfRows = new wijmo.input.ComboBox('#cboAccountsPayableReportDisplayNumberOfRows');
        var ifAccountsPayableReportHasData = false;

        // =================
        // Navigation Button
        // =================
        var btnAccountsPayableReportMoveToFirstPageGrid = document.getElementById('btnAccountsPayableReportMoveToFirstPageGrid');
        var btnAccountsPayableReportMoveToPreviousPageGrid = document.getElementById('btnAccountsPayableReportMoveToPreviousPageGrid');
        var btnAccountsPayableReportMoveToNextPageGrid = document.getElementById('btnAccountsPayableReportMoveToNextPageGrid');
        var btnAccountsPayableReportMoveToLastPageGrid = document.getElementById('btnAccountsPayableReportMoveToLastPageGrid');
        var btnAccountsPayableReportCurrentPageGrid = document.getElementById('btnAccountsPayableReportCurrentPageGrid');
        var accountsPayableReportCurrentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);

            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ==============================
        // Create Combo Date As of Filter
        // ==============================
        function createCboAccountsPayableReportDateAsOfFilter() {
            NProgress.start();

            cboAccountsPayableReportDateAsOfFilter.dispose();
            cboAccountsPayableReportDateAsOfFilter = new wijmo.input.InputDate('#cboAccountsPayableReportDateAsOfFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("DateAsOf")),
                onValueChanged: function () {
                    if (isCboDateAsOfFilterSelected) {
                        NProgress.start();
                        refreshAccountsPayableReportFlexGrid();
                    } else {
                        isCboDateAsOfFilterSelected = false;
                    }
                }
            });

            createCboAccountsPayableReportCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboAccountsPayableReportCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();

            $.ajax({
                url: '/api/accountsPayable/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnAccountsPayableReportDownloadCSV").prop("disabled", true);
                        $("#btnAccountsPayableReportPrintPDF").prop("disabled", true);
                    }

                    cboAccountsPayableReportCompanyFilter.dispose();
                    cboAccountsPayableReportCompanyFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportCompanyFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();

                            if (ifAccountsPayableReportHasData) {
                                $("#btnAccountsPayableReportDownloadCSV").prop("disabled", false);
                                $("#btnAccountsPayableReportPrintPDF").prop("disabled", false);
                            }

                            isCboCompanyFilterSelected = true;
                            createCboAccountsPayableReportBranchFilter();
                        }
                    });

                    createCboAccountsPayableReportBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboAccountsPayableReportBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();

            if (cboAccountsPayableReportCompanyFilter.selectedValue != null) {
                var companyId = cboAccountsPayableReportCompanyFilter.selectedValue;

                $.ajax({
                    url: '/api/accountsPayable/dropdown/list/branch/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnAccountsPayableReportDownloadCSV").prop("disabled", true);
                            $("#btnAccountsPayableReportPrintPDF").prop("disabled", true);
                        }

                        cboAccountsPayableReportBranchFilter.dispose();
                        cboAccountsPayableReportBranchFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportBranchFilter', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshAccountsPayableReportFlexGrid();
                            }
                        });

                        if (!isCboCompanyFilterSelected) {
                            createCboAccountsPayableReportAccountFilter();
                        } else {
                            refreshAccountsPayableReportFlexGrid();
                        }
                    }
                });
            } else {
                cboAccountsPayableReportBranchFilter.dispose();
                cboAccountsPayableReportBranchFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportBranchFilter', {
                    disabled: true,
                    itemsSource: branchObservableArray
                });

                refreshAccountsPayableReportFlexGrid();
            }
        }

        // ===========================
        // Create Combo Account Filter
        // ===========================
        function createCboAccountsPayableReportAccountFilter() {
            var accountObservableArray = new wijmo.collections.ObservableArray();

            $.ajax({
                url: '/api/accountsPayable/dropdown/list/articleGroupAccount',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            accountObservableArray.push({
                                AccountId: results[i]["AccountId"],
                                Account: results[i]["Account"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                        ifAccountsPayableReportHasData = true;
                    } else {
                        $("#btnAccountsPayableReportDownloadCSV").prop("disabled", true);
                        $("#btnAccountsPayableReportPrintPDF").prop("disabled", true);
                    }

                    cboAccountsPayableReportAccountFilter.dispose();
                    cboAccountsPayableReportAccountFilter = new wijmo.input.ComboBox('#cboAccountsPayableReportAccountFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: accountObservableArray,
                        displayMemberPath: "Account",
                        selectedValuePath: "AccountId",
                        selectedValue: getURLParameterValue("AccountId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            refreshAccountsPayableReportFlexGrid();
                        }
                    });

                    createCboAccountsPayableReportDisplayNumberOfRows();
                }
            });
        }

        // =============================
        // Create Display Number of Rows
        // =============================
        function createCboAccountsPayableReportDisplayNumberOfRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboAccountsPayableReportDisplayNumberOfRows.dispose();
            cboAccountsPayableReportDisplayNumberOfRows = new wijmo.input.ComboBox('#cboAccountsPayableReportDisplayNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboAccountsPayableReportDisplayNumberOfRows.selectedValue;
                        accountsPayableReportCollectionView.pageSize = parseInt(numberOfRows);
                        accountsPayableReportCollectionView.refresh();
                        accountsPayableReportFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            createAccounstPayableReportFlexGrid();
        }

        // ================================
        // Get Accounts Payable Report Data
        // ================================
        function getAccountsPayableReportData() {
            var accountsPayableObservableArray = new wijmo.collections.ObservableArray;

            if (cboAccountsPayableReportCompanyFilter.selectedValue != null) {
                if (cboAccountsPayableReportBranchFilter.selectedValue != null) {
                    if (cboAccountsPayableReportAccountFilter.selectedValue != null) {

                        var dateAsOf = cboAccountsPayableReportDateAsOfFilter.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAccountsPayableReportCompanyFilter.selectedValue;
                        var branchId = cboAccountsPayableReportBranchFilter.selectedValue;
                        var accountId = cboAccountsPayableReportAccountFilter.selectedValue;

                        $.ajax({
                            url: '/api/accountsPayable/list/' + dateAsOf + "/" + companyId + "/" + branchId + "/" + accountId,
                            cache: false,
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (results) {
                                var inpTotalBalance = 0;
                                var inpTotalCurrentAmount = 0;
                                var totalAge30Amount = 0;
                                var totalAge60Amount = 0;
                                var totalAge90Amount = 0;
                                var totalAge120Amount = 0;

                                if (results.length > 0) {
                                    for (i = 0; i < results.length; i++) {
                                        var docLink = "/Software/ReceivingReceiptDetail?id=" + results[i]["RRId"];

                                        inpTotalBalance = inpTotalBalance + results[i]["BalanceAmount"];
                                        inpTotalCurrentAmount = inpTotalCurrentAmount + results[i]["CurrentAmount"];
                                        totalAge30Amount = totalAge30Amount + results[i]["Age30Amount"];
                                        totalAge60Amount = totalAge60Amount + results[i]["Age60Amount"];
                                        totalAge90Amount = totalAge90Amount + results[i]["Age90Amount"];
                                        totalAge120Amount = totalAge120Amount + results[i]["Age120Amount"];

                                        var RRDateResult = new Date(results[i]["RRDate"])
                                        var RRDate = ('0' + (RRDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + RRDateResult.getDate()).slice(-2) + '-' + RRDateResult.getFullYear();

                                        var DueDateResult = new Date(results[i]["DueDate"])
                                        var DueDate = ('0' + (DueDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + DueDateResult.getDate()).slice(-2) + '-' + DueDateResult.getFullYear();

                                        accountsPayableObservableArray.push({
                                            BtnDetail: "<a href='" + docLink + "' style='font-size: 9px;' class='btn btn-primary btn-xs btn-block'><i class='fa fa-edit'></i> Detail</a>",
                                            RRId: results[i]["RRId"],
                                            Branch: results[i]["Branch"],
                                            Account: results[i]["Account"],
                                            RRNumber: results[i]["RRNumber"],
                                            Supplier: results[i]["Supplier"],
                                            RRDate: RRDate,
                                            DocumentReference: results[i]["DocumentReference"],
                                            DueDate: DueDate,
                                            BalanceAmount: results[i]["BalanceAmount"],
                                            BalanceAmountDisplay: parseFloat(results[i]["BalanceAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            CurrentAmount: results[i]["CurrentAmount"],
                                            CurrentAmountDisplay: parseFloat(results[i]["CurrentAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age30Amount: results[i]["Age30Amount"],
                                            Age30AmountDisplay: parseFloat(results[i]["Age30Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age60Amount: results[i]["Age60Amount"],
                                            Age60AmountDisplay: parseFloat(results[i]["Age60Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age90Amount: results[i]["Age90Amount"],
                                            Age90AmountDisplay: parseFloat(results[i]["Age90Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age120Amount: results[i]["Age120Amount"],
                                            Age120AmountDisplay: parseFloat(results[i]["Age120Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        });
                                    }
                                }

                                document.getElementById("inpTotalBalance").value = parseFloat(inpTotalBalance).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalCurrentAmount").value = parseFloat(inpTotalCurrentAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmount30Days").value = parseFloat(totalAge30Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmount60Days").value = parseFloat(totalAge60Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmount90Days").value = parseFloat(totalAge90Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmountOver120Days").value = parseFloat(totalAge120Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                NProgress.done();
                            }
                        });
                    } else {
                        document.getElementById("inpTotalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        NProgress.done();
                    }
                } else {
                    document.getElementById("inpTotalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("inpTotalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return accountsPayableObservableArray;
        }

        // ========================================
        // Create Accounts Payable Report Flex Grid
        // ========================================
        function createAccounstPayableReportFlexGrid() {
            accountsPayableReportCollectionView = new wijmo.collections.CollectionView(getAccountsPayableReportData());
            accountsPayableReportCollectionView.canFilter = true;
            accountsPayableReportCollectionView.pageSize = cboAccountsPayableReportDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpAccountsPayableReportSeachFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                accountsPayableReportCollectionView.refresh();
            });

            accountsPayableReportCollectionView.filter = function (item) {
                return !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            accountsPayableReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateAccountsPayableReportNavigateButtons();
            });

            accountsPayableReportFlexGrid = new wijmo.grid.FlexGrid('#accountsPayableReportFlexGrid');
            accountsPayableReportFlexGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 70,
                        "isContentHtml": true
                    },
                    {
                        "header": "RR No.",
                        "binding": "RRNumber",
                        "allowSorting": true,
                        "width": 80
                    },
                    {
                        "header": "RR Date",
                        "binding": "RRDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": "1.2*",
                    },
                    {
                        "header": "Doc. Ref.",
                        "binding": "DocumentReference",
                        "allowSorting": true,
                        "width": "1*",
                    },
                    {
                        "header": "Due Date",
                        "binding": "DueDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Balance",
                        "binding": "BalanceAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Current",
                        "binding": "CurrentAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "30 Days",
                        "binding": "Age30AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "60 Days",
                        "binding": "Age60AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "90 Days",
                        "binding": "Age90AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Over 120 Days",
                        "binding": "Age120AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: accountsPayableReportCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            accountsPayableReportFlexGrid.trackChanges = true;

            updateAccountsPayableReportNavigateButtons();

            btnAccountsPayableReportMoveToFirstPageGrid.addEventListener('click', function () {
                accountsPayableReportCollectionView.moveToFirstPage();
                accountsPayableReportCurrentPageIndex = accountsPayableReportCollectionView.pageIndex + 1;
                updateAccountsPayableReportNavigateButtons();
            });

            btnAccountsPayableReportMoveToPreviousPageGrid.addEventListener('click', function () {
                accountsPayableReportCollectionView.moveToPreviousPage();
                accountsPayableReportCurrentPageIndex = accountsPayableReportCollectionView.pageIndex + 1;
                updateAccountsPayableReportNavigateButtons();
            });

            btnAccountsPayableReportMoveToNextPageGrid.addEventListener('click', function () {
                accountsPayableReportCollectionView.moveToNextPage();
                accountsPayableReportCurrentPageIndex = accountsPayableReportCollectionView.pageIndex + 1;
                updateAccountsPayableReportNavigateButtons();
            });

            btnAccountsPayableReportMoveToLastPageGrid.addEventListener('click', function () {
                accountsPayableReportCollectionView.moveToLastPage();
                accountsPayableReportCurrentPageIndex = accountsPayableReportCollectionView.pageIndex + 1;
                updateAccountsPayableReportNavigateButtons();
            });
        }

        // =========================================
        // Refresh Accounts Payable Report Flex Grid
        // =========================================
        function refreshAccountsPayableReportFlexGrid() {
            accountsPayableReportCollectionView = new wijmo.collections.CollectionView(getAccountsPayableReportData());
            accountsPayableReportCollectionView.canFilter = true;
            accountsPayableReportCollectionView.pageSize = cboAccountsPayableReportDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpAccountsPayableReportSeachFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                accountsPayableReportCollectionView.refresh();
            });

            accountsPayableReportCollectionView.filter = function (item) {
                return !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            accountsPayableReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateAccountsPayableReportNavigateButtons();
            });

            accountsPayableReportFlexGrid.itemsSource = accountsPayableReportCollectionView;
            accountsPayableReportFlexGrid.trackChanges = true;
        }

        // =================================================
        // Update Accounst Payable Report Navigation Buttons
        // =================================================
        function updateAccountsPayableReportNavigateButtons() {
            if (accountsPayableReportCollectionView.pageSize <= 0) {
                document.getElementById('accountsPayableReportNavigationPageGrid').style.display = 'none';
                return;
            }

            document.getElementById('accountsPayableReportNavigationPageGrid').style.display = 'block';

            if (accountsPayableReportCollectionView.pageIndex === 0) {
                btnAccountsPayableReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnAccountsPayableReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnAccountsPayableReportMoveToNextPageGrid.removeAttribute('disabled');
                btnAccountsPayableReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (accountsPayableReportCollectionView.pageIndex === (accountsPayableReportCollectionView.pageCount - 1)) {
                btnAccountsPayableReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnAccountsPayableReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnAccountsPayableReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnAccountsPayableReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnAccountsPayableReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnAccountsPayableReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnAccountsPayableReportMoveToNextPageGrid.removeAttribute('disabled');
                btnAccountsPayableReportMoveToLastPageGrid.removeAttribute('disabled');
            }

            btnAccountsPayableReportCurrentPageGrid.innerHTML = (accountsPayableReportCollectionView.pageIndex + 1) + ' / ' + accountsPayableReportCollectionView.pageCount;
        }

        // ====================================
        // Download Accounts Payable Report CSV
        // ====================================
        function btnAccountsPayableReportDownloadCSVOnclick() {
            var CSV = '';
            var accountPayables = [];
            var fileName = 'AccountsPayableReport.CSV';

            accountsPayableReportCollectionView.moveToFirstPage();

            for (var p = 1; p <= accountsPayableReportCollectionView.pageCount; p++) {
                for (i = 0; i < accountsPayableReportCollectionView.items.length; i++) {
                    accountPayables.push({
                        Branch: accountsPayableReportCollectionView.items[i].Branch,
                        Account: accountsPayableReportCollectionView.items[i].Account,
                        RRNumber: accountsPayableReportCollectionView.items[i].RRNumber,
                        RRDate: accountsPayableReportCollectionView.items[i].RRDate,
                        Supplier: accountsPayableReportCollectionView.items[i].Supplier,
                        DocumentReference: accountsPayableReportCollectionView.items[i].DocumentReference,
                        DueDate: accountsPayableReportCollectionView.items[i].DueDate,
                        BalanceAmount: accountsPayableReportCollectionView.items[i].BalanceAmount,
                        CurrentAmount: accountsPayableReportCollectionView.items[i].CurrentAmount,
                        Age30Amount: accountsPayableReportCollectionView.items[i].Age30Amount,
                        Age60Amount: accountsPayableReportCollectionView.items[i].Age60Amount,
                        Age90Amount: accountsPayableReportCollectionView.items[i].Age90Amount,
                        Age120Amount: accountsPayableReportCollectionView.items[i].Age120Amount
                    });
                }

                accountsPayableReportCollectionView.moveToNextPage();
                if (p == accountsPayableReportCollectionView.pageCount) {
                    accountsPayableReportCollectionView.moveToPage(accountsPayableReportCurrentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                Account: "Account",
                RRNumber: "RR Number",
                RRDate: "RR Date",
                Supplier: "Supplier",
                DocumentReference: "Doc Reference",
                DueDate: "Due Date",
                BalanceAmount: "Balance",
                CurrentAmount: "Current",
                Age30Amount: "30 Days",
                Age60Amount: "60 Days",
                Age90Amount: "90 Days",
                Age120Amount: "120 Days"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < accountPayables.length; i++) {
                var row = '';
                for (var a in accountPayables[i]) {
                    row += '"' + accountPayables[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                toastr.success("Dowload successful.");
            }
        }

        // =================================
        // Print Accounts Payable Report PDF
        // =================================
        function btnAccountsPayableReportPrintPDFOnclick() {
            if (cboAccountsPayableReportCompanyFilter.selectedValue != null) {
                if (cboAccountsPayableReportBranchFilter.selectedValue != null) {
                    if (cboAccountsPayableReportAccountFilter.selectedValue != null) {
                        var dateAsOf = cboAccountsPayableReportDateAsOfFilter.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAccountsPayableReportCompanyFilter.selectedValue;
                        var branchId = cboAccountsPayableReportBranchFilter.selectedValue;
                        var accountId = cboAccountsPayableReportAccountFilter.selectedValue;

                        window.location.href = '/RepAccountsPayable/AccountsPayableReport?DateAsOf=' + dateAsOf + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&AccountId=' + accountId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On load Page
        // ============
        $(document).ready(function () {
            createCboAccountsPayableReportDateAsOfFilter();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>