<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Account Ledger</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Account Ledger
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ========================================
                        Input Filters and Display Number of Rows
                        ========================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control " id="inpAccountLedgerReportSearchFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboAccountLedgerReportDisplayNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnAccountLedgerReportDownloadCSVOnclick()" id="btnAccountLedgerReportDownloadCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnAccountLedgerReportPrintPDFOnclick()" id="btnAccountLedgerReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/FinancialStatements" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ======================================
                        Date Range, Company and Branch Filters
                        ======================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboAccountLedgerReportFilterStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboAccountLedgerReportFilterEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboAccountLedgerReportFilterCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboAccountLedgerReportFilterBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ==============
                        Account Filter
                        ==============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Account</b></span>
                                        <div class="comboBox-wide" id="cboAccountLedgerReportFilterAccount"></div>
                                    </div>
                                </td>
                                <td style="width: 50.5%"></td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="accountLedgerReportFlexGrid" class="grid"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="accountLedgerReportNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnAccountLedgerReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnAccountLedgerReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnAccountLedgerReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnAccountLedgerReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnAccountLedgerReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ============================
                    Account Ledger Report Totals
                    ============================
                -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Debit</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalDebitAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Credit</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalCreditAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Balance</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalBalanceAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ===================
        // Filter - Date Range
        // ===================
        var cboAccountLedgerReportFilterStartDate = new wijmo.input.InputDate('#cboAccountLedgerReportFilterStartDate');
        var cboAccountLedgerReportFilterEndDate = new wijmo.input.InputDate('#cboAccountLedgerReportFilterEndDate');
        var isCboAccountLedgerReportFilterStartDateSelected = false;
        var isCboAccountLedgerLedgerFilterEndDateSelected = false;

        // ====================================
        // Filter - Company, Branch and Account
        // ====================================
        var cboAccountLedgerReportFilterCompany = new wijmo.input.ComboBox('#cboAccountLedgerReportFilterCompany');
        var isCboAccountLedgerReportFilterCompanySelected = false;
        var cboAccountLedgerReportFilterBranch = new wijmo.input.ComboBox('#cboAccountLedgerReportFilterBranch');
        var cboAccountLedgerReportFilterAccount = new wijmo.input.ComboBox('#cboAccountLedgerReportFilterAccount');

        // ==========================
        // Collection View, Flex Grid
        // ==========================
        var accountLedgerReportCollectionView;
        var accountLedgerReportFlexGrid;
        var cboAccountLedgerReportDisplayNumberOfRows = new wijmo.input.ComboBox('#cboAccountLedgerReportDisplayNumberOfRows');

        // =================
        // Navigation Button
        // =================
        var btnAccountLedgerReportMoveToFirstPageGrid = document.getElementById('btnAccountLedgerReportMoveToFirstPageGrid');
        var btnAccountLedgerReportMoveToPreviousPageGrid = document.getElementById('btnAccountLedgerReportMoveToPreviousPageGrid');
        var btnAccountLedgerReportMoveToNextPageGrid = document.getElementById('btnAccountLedgerReportMoveToNextPageGrid');
        var btnAccountLedgerReportMoveToLastPageGrid = document.getElementById('btnAccountLedgerReportMoveToLastPageGrid');
        var btnAccountLedgerReportCurrentPageGrid = document.getElementById('btnAccountLedgerReportCurrentPageGrid');
        var accountLedgerReportCurrentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // =========================
        // Create Combo Date Filters
        // =========================
        function createCboAccountLedgerReportDateRangeFilter() {
            NProgress.start();
            cboAccountLedgerReportFilterStartDate.dispose();
            cboAccountLedgerReportFilterStartDate = new wijmo.input.InputDate('#cboAccountLedgerReportFilterStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("StartDate")),
                onValueChanged: function () {
                    if (!isCboAccountLedgerReportFilterStartDateSelected) {
                        NProgress.start();
                        refreshAccountLedgerReportFlexGrid();
                    } else {
                        isCboAccountLedgerReportFilterStartDateSelected = false;
                    }
                }
            });

            cboAccountLedgerReportFilterEndDate.dispose();
            cboAccountLedgerReportFilterEndDate = new wijmo.input.InputDate('#cboAccountLedgerReportFilterEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("EndDate")),
                onValueChanged: function () {
                    if (!isCboAccountLedgerLedgerFilterEndDateSelected) {
                        NProgress.start();
                        refreshAccountLedgerReportFlexGrid();
                    } else {
                        isCboAccountLedgerLedgerFilterEndDateSelected = false;
                    }
                }
            });

            createCboAccountLedgerReportCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboAccountLedgerReportCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/accountLedger/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnAccountLedgerReportDownloadCSV").prop("disabled", true);
                        $("#btnAccountLedgerReportPrintPDF").prop("disabled", true);
                    }

                    cboAccountLedgerReportFilterCompany.dispose();
                    cboAccountLedgerReportFilterCompany = new wijmo.input.ComboBox('#cboAccountLedgerReportFilterCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnAccountLedgerReportDownloadCSV").prop("disabled", false);
                            $("#btnAccountLedgerReportPrintPDF").prop("disabled", false);
                            isCboAccountLedgerReportFilterCompanySelected = true;
                            createCboAccountLedgerReportBranchFilter();
                        }
                    });

                    createCboAccountLedgerReportBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboAccountLedgerReportBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboAccountLedgerReportFilterCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/accountLedger/dropdown/list/branch/' + cboAccountLedgerReportFilterCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnAccountLedgerReportDownloadCSV").prop("disabled", true);
                            $("#btnAccountLedgerReportPrintPDF").prop("disabled", true);
                        }

                        cboAccountLedgerReportFilterBranch.dispose();
                        cboAccountLedgerReportFilterBranch = new wijmo.input.ComboBox('#cboAccountLedgerReportFilterBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshAccountLedgerReportFlexGrid();
                            }
                        });

                        if (!isCboAccountLedgerReportFilterCompanySelected) {
                            createCboAccountLedgerReportAccountFilter();
                        } else {
                            refreshAccountLedgerReportFlexGrid();
                        }
                    }
                });
            }
        }

        // ===========================
        // Create Combo Account Filter
        // ===========================
        function createCboAccountLedgerReportAccountFilter() {
            var accountsObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/accountLedger/dropdown/list/account',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            accountsObservableArray.push({
                                Id: results[i]["Id"],
                                AccountCode: results[i]["AccountCode"],
                                Account: results[i]["Account"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {

                    }

                    cboAccountLedgerReportFilterAccount.dispose();
                    cboAccountLedgerReportFilterAccount = new wijmo.input.ComboBox('#cboAccountLedgerReportFilterAccount', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: accountsObservableArray,
                        displayMemberPath: "Account",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("AccountId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            refreshAccountLedgerReportFlexGrid();
                        }
                    });

                    createCboAccountLedgerReportDisplayNumberOfRows();
                }
            });
        }

        // =============================
        // Create Display Number of Rows
        // =============================
        function createCboAccountLedgerReportDisplayNumberOfRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboAccountLedgerReportDisplayNumberOfRows.dispose();
            cboAccountLedgerReportDisplayNumberOfRows = new wijmo.input.ComboBox('#cboAccountLedgerReportDisplayNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboAccountLedgerReportDisplayNumberOfRows.selectedValue;
                        accountLedgerReportCollectionView.pageSize = parseInt(numberOfRows);
                        accountLedgerReportCollectionView.refresh();
                        accountLedgerReportFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isCboAccountLedgerReportFilterCompanySelected) {
                createAccountLedgerReportFlexGrid();
            } else {
                refreshAccountLedgerReportFlexGrid();
            }

            NProgress.done();
        }

        // ==============================
        // Get Account Ledger Report Data
        // ==============================
        function getAccountLedgerReportData() {
            var accountLedgerReportObservableArray = new wijmo.collections.ObservableArray;

            if (cboAccountLedgerReportFilterCompany.selectedValue != null) {
                if (cboAccountLedgerReportFilterBranch.selectedValue != null) {
                    if (cboAccountLedgerReportFilterAccount.selectedValue != null) {

                        var startDate = cboAccountLedgerReportFilterStartDate.value.toLocaleDateString().replace(/\//g, '-');
                        var endDate = cboAccountLedgerReportFilterEndDate.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAccountLedgerReportFilterCompany.selectedValue;
                        var branchId = cboAccountLedgerReportFilterBranch.selectedValue;
                        var accountId = cboAccountLedgerReportFilterAccount.selectedValue;

                        $.ajax({
                            url: '/api/accountLedger/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId + '/' + accountId,
                            cache: false,
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (results) {

                                var totalDebit = 0;
                                var totalCredit = 0;
                                var totalBalance = 0;

                                if (results.length > 0) {
                                    for (i = 0; i < results.length; i++) {

                                        var JournalDateResult = new Date(results[i]["JournalDate"])
                                        var JournalDate = ('0' + (JournalDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + JournalDateResult.getDate()).slice(-2) + '-' + JournalDateResult.getFullYear();

                                        var docRefLink = "";
                                        if (results[i]["ORId"] != null) {
                                            docRefLink = "/Software/CollectionDetail?id=" + results[i]["ORId"];
                                        } else if (results[i]["CVId"] != null) {
                                            docRefLink = "/Software/DisbursementDetail?id=" + results[i]["CVId"];
                                        } else if (results[i]["JVId"] != null) {
                                            docRefLink = "/Software/JournalVoucherDetail?id=" + results[i]["JVId"];
                                        } else if (results[i]["RRId"] != null) {
                                            docRefLink = "/Software/ReceivingReceiptDetail?id=" + results[i]["RRId"];
                                        } else if (results[i]["SIId"] != null) {
                                            docRefLink = "/Software/SalesDetail?id=" + results[i]["SIId"];
                                        } else if (results[i]["INId"] != null) {
                                            docRefLink = "/Software/StockInDetail?id=" + results[i]["INId"];
                                        } else if (results[i]["OTId"] != null) {
                                            docRefLink = "/Software/StockOutDetail?id=" + results[i]["OTId"];
                                        } else if (results[i]["STId"] != null) {
                                            docRefLink = "/Software/StockTransferDetail?id=" + results[i]["STId"];
                                        } else {
                                            docRefLink = "#";
                                        }

                                        accountLedgerReportObservableArray.push({
                                            JournalDate: JournalDate,
                                            BtnDetail: "<a href='" + docRefLink + "' class='btn btn-primary btn-xs btn-block'><i class='fa fa-edit'></i> Detail</a>",
                                            ManualNo: results[i]["ManualNo"],
                                            DocumentReferenceForCSV: results[i]["DocumentReference"],
                                            DocumentReference: results[i]["DocumentReference"],
                                            Article: results[i]["Article"],
                                            Particulars: results[i]["Particulars"],
                                            DebitAmount: results[i]["DebitAmount"],
                                            DebitAmountDisplay: parseFloat(results[i]["DebitAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            CreditAmount: results[i]["CreditAmount"],
                                            CreditAmountDisplay: parseFloat(results[i]["CreditAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Balance: results[i]["Balance"],
                                            BalanceDisplay: parseFloat(results[i]["Balance"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                        });


                                        var debit = parseFloat(Math.round(results[i]["DebitAmount"] * 100) / 100);
                                        var credit = parseFloat(Math.round(results[i]["CreditAmount"] * 100) / 100);

                                        totalDebit += debit;
                                        totalCredit += credit;
                                        totalBalance += debit - credit;
                                    }
                                }

                                document.getElementById("inpTotalDebitAmount").value = parseFloat(totalDebit).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalCreditAmount").value = parseFloat(totalCredit).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalBalanceAmount").value = parseFloat(totalBalance).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                NProgress.done();
                            }
                        });
                    } else {
                        document.getElementById("inpTotalDebitAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalCreditAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalBalanceAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    }
                } else {
                    document.getElementById("inpTotalDebitAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCreditAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalBalanceAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("inpTotalDebitAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalCreditAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalBalanceAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return accountLedgerReportObservableArray;
        }

        // ======================================
        // Create Account Ledger Report Flex Grid
        // ======================================
        function createAccountLedgerReportFlexGrid() {
            accountLedgerReportCollectionView = new wijmo.collections.CollectionView(getAccountLedgerReportData());
            accountLedgerReportCollectionView.canFilter = true;
            accountLedgerReportCollectionView.pageSize = cboAccountLedgerReportDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpAccountLedgerReportSearchFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                accountLedgerReportCollectionView.refresh();

                if (accountLedgerReportCollectionView.items.length > 0) {

                    var totalDebit = 0;
                    var totalCredit = 0;
                    var totalBalance = 0;

                    for (var i = 0; i < accountLedgerReportCollectionView.items.length; i++) {
                        totalDebit += accountLedgerReportCollectionView.items[i].DebitAmount;
                        totalCredit += accountLedgerReportCollectionView.items[i].CreditAmount;
                        totalBalance += accountLedgerReportCollectionView.items[i].Balance;
                    }

                    document.getElementById("inpTotalDebitAmount").value = parseFloat(totalDebit).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCreditAmount").value = parseFloat(totalCredit).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalBalanceAmount").value = parseFloat(totalBalance).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("inpTotalDebitAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCreditAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalBalanceAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            accountLedgerReportCollectionView.filter = function (item) {
                return !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
            }

            accountLedgerReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateAccountLedgerNavigationButtons();
            });

            accountLedgerReportFlexGrid = new wijmo.grid.FlexGrid('#accountLedgerReportFlexGrid');
            accountLedgerReportFlexGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 70,
                        "align": "center",
                        "allowResizing": false,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {
                        "header": "Date",
                        "binding": "JournalDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Manual No",
                        "binding": "ManualNo",
                        "width": "1.5*",
                        "allowSorting": false,
                    },
                    {
                        "header": "Document Reference",
                        "binding": "DocumentReference",
                        "width": "1.5*",
                        "allowSorting": false,
                    },
                    {
                        "header": "Article",
                        "binding": "Article",
                        "allowSorting": true,
                        "width": "1.5*",
                    },
                    {
                        "header": "Particulars",
                        "binding": "Particulars",
                        "allowSorting": true,
                        "width": "1.5*",
                    },
                    {
                        "header": "Debit",
                        "binding": "DebitAmountDisplay",
                        "align": "right",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Credit",
                        "binding": "CreditAmountDisplay",
                        "align": "right",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Balance",
                        "binding": "BalanceDisplay",
                        "align": "right",
                        "allowSorting": true,
                        "width": "1*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: accountLedgerReportCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            accountLedgerReportFlexGrid.trackChanges = true;

            updateAccountLedgerNavigationButtons();

            btnAccountLedgerReportMoveToFirstPageGrid.addEventListener('click', function () {
                accountLedgerReportCollectionView.moveToFirstPage();
                accountLedgerReportCurrentPageIndex = accountLedgerReportCollectionView.pageIndex + 1;
                updateAccountLedgerNavigationButtons();
            });

            btnAccountLedgerReportMoveToPreviousPageGrid.addEventListener('click', function () {
                accountLedgerReportCollectionView.moveToPreviousPage();
                accountLedgerReportCurrentPageIndex = accountLedgerReportCollectionView.pageIndex + 1;
                updateAccountLedgerNavigationButtons();
            });

            btnAccountLedgerReportMoveToNextPageGrid.addEventListener('click', function () {
                accountLedgerReportCollectionView.moveToNextPage();
                accountLedgerReportCurrentPageIndex = accountLedgerReportCollectionView.pageIndex + 1;
                updateAccountLedgerNavigationButtons();
            });

            btnAccountLedgerReportMoveToLastPageGrid.addEventListener('click', function () {
                accountLedgerReportCollectionView.moveToLastPage();
                accountLedgerReportCurrentPageIndex = accountLedgerReportCollectionView.pageIndex + 1;
                updateAccountLedgerNavigationButtons();
            });
        }

        // =======================================
        // Refresh Account Ledger Report Flex Grid
        // =======================================
        function refreshAccountLedgerReportFlexGrid() {
            accountLedgerReportCollectionView = new wijmo.collections.CollectionView(getAccountLedgerReportData());
            accountLedgerReportCollectionView.canFilter = true;
            accountLedgerReportCollectionView.pageSize = cboAccountLedgerReportDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpAccountLedgerReportSearchFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                accountLedgerReportCollectionView.refresh();

                if (accountLedgerReportCollectionView.items.length > 0) {

                    var totalDebit = 0;
                    var totalCredit = 0;
                    var totalBalance = 0;

                    for (var i = 0; i < accountLedgerReportCollectionView.items.length; i++) {
                        totalDebit += accountLedgerReportCollectionView.items[i].DebitAmount;
                        totalCredit += accountLedgerReportCollectionView.items[i].CreditAmount;
                        totalBalance += accountLedgerReportCollectionView.items[i].Balance;
                    }

                    document.getElementById("inpTotalDebitAmount").value = parseFloat(totalDebit).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCreditAmount").value = parseFloat(totalCredit).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalBalanceAmount").value = parseFloat(totalBalance).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                    document.getElementById("inpTotalDebitAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCreditAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalBalanceAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            });

            accountLedgerReportCollectionView.filter = function (item) {
                return !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
            }

            accountLedgerReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateAccountLedgerNavigationButtons();
            });

            accountLedgerReportFlexGrid.itemsSource = accountLedgerReportCollectionView;
            accountLedgerReportFlexGrid.trackChanges = true;
        }

        // ========================================
        // Update Account Ledger Navigation Buttons
        // ========================================
        function updateAccountLedgerNavigationButtons() {
            if (accountLedgerReportCollectionView.pageSize <= 0) {
                document.getElementById('accountLedgerReportNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('accountLedgerReportNavigationPageGrid').style.display = 'block';
            if (accountLedgerReportCollectionView.pageIndex === 0) {
                btnAccountLedgerReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnAccountLedgerReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnAccountLedgerReportMoveToNextPageGrid.removeAttribute('disabled');
                btnAccountLedgerReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (accountLedgerReportCollectionView.pageIndex === (accountLedgerReportCollectionView.pageCount - 1)) {
                btnAccountLedgerReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnAccountLedgerReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnAccountLedgerReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnAccountLedgerReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnAccountLedgerReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnAccountLedgerReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnAccountLedgerReportMoveToNextPageGrid.removeAttribute('disabled');
                btnAccountLedgerReportMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnAccountLedgerReportCurrentPageGrid.innerHTML = (accountLedgerReportCollectionView.pageIndex + 1) + ' / ' + accountLedgerReportCollectionView.pageCount;
        }

        // ==================================
        // Download Account Ledger Report CSV
        // ==================================
        function btnAccountLedgerReportDownloadCSVOnclick() {
            var CSV = '';
            var accountLedgerReport = [];
            var fileName = 'AccountLedgerReport.CSV';

            accountLedgerReportCollectionView.moveToFirstPage();

            for (var p = 1; p <= accountLedgerReportCollectionView.pageCount; p++) {
                for (i = 0; i < accountLedgerReportCollectionView.items.length; i++) {

                    accountLedgerReport.push({
                        JournalDate: accountLedgerReportCollectionView.items[i].JournalDate,
                        ManualNo: accountLedgerReportCollectionView.items[i].ManualNo,
                        DocumentReference: accountLedgerReportCollectionView.items[i].DocumentReferenceForCSV,
                        Article: accountLedgerReportCollectionView.items[i].Article,
                        Particulars: accountLedgerReportCollectionView.items[i].Particulars,
                        DebitAmount: accountLedgerReportCollectionView.items[i].DebitAmount,
                        CreditAmount: accountLedgerReportCollectionView.items[i].CreditAmount,
                        Balance: accountLedgerReportCollectionView.items[i].Balance
                    });
                }

                accountLedgerReportCollectionView.moveToNextPage();
                if (p == accountLedgerReportCollectionView.pageCount) {
                    accountLedgerReportCollectionView.moveToPage(accountLedgerReportCurrentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                JournalDate: "Journal Date",
                ManualNo: "Manual No",
                DocumentReference: "Document Reference",
                Article: "Article",
                Particulars: "Particulars",
                DebitAmount: "Debit Amount",
                CreditAmount: "Credit Amount",
                Balance: "Balance"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < accountLedgerReport.length; i++) {
                var row = '';
                for (var a in accountLedgerReport[i]) {
                    row += '"' + accountLedgerReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload Successful.");
            }
        }

        // ===============================
        // Print Account Ledger Report PDF
        // ===============================
        function btnAccountLedgerReportPrintPDFOnclick() {
            if (cboAccountLedgerReportFilterCompany.selectedValue != null) {
                if (cboAccountLedgerReportFilterBranch.selectedValue != null) {
                    if (cboAccountLedgerReportFilterAccount.selectedValue != null) {

                        var startDate = cboAccountLedgerReportFilterStartDate.value.toLocaleDateString().replace(/\//g, '-');
                        var endDate = cboAccountLedgerReportFilterEndDate.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboAccountLedgerReportFilterCompany.selectedValue;
                        var branchId = cboAccountLedgerReportFilterBranch.selectedValue;
                        var accountId = cboAccountLedgerReportFilterAccount.selectedValue;

                        window.location.href = '/RepAccountLedger/AccountLedger?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&AccountId=' + accountId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // =============================
        // Document Ready - On load Page
        // =============================
        $(document).ready(function () {
            createCboAccountLedgerReportDateRangeFilter();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>