<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>BIR CAS - General Ledger</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        BIR CAS - General Ledger
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                    ===============
                    Search / Filter
                    ===============
                -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpBIRCASGeneralLedgerSeacrhFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboBIRCASGeneralLedgerDisplayNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button class="btn btn-success" onclick="btnBIRCASGeneralLedgerDownloadCSVOnclick()" id="btnBIRCASGeneralLedgerDownloadCSV"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button class="btn btn-primary" onclick="btnBIRCASGeneralLedgerPrintPDFOnclick()" id="btnBIRCASGeneralLedgerPrintPDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                                    <a href="/Software/BIRCASReports" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                    ======================================
                    Date Range, Company and Branch Filters
                    ======================================
                -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboBIRCASGeneralLedgerStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboBIRCASGeneralLedgerEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboBIRCASGeneralLedgerCompanyFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboBIRCASGeneralLedgerBranchFilter"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                    =========
                    Flex Grid
                    =========
                -->
                    <div class="panel-body">
                        <div id="BIRCASGeneralLedgerFlexGrid" class="grid"></div>
                    </div>

                    <!--
                    ==================
                    Navigation Buttons
                    ==================
                -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="BIRCASGeneralLedgerNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnBIRCASGeneralLedgerMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnBIRCASGeneralLedgerMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnBIRCASGeneralLedgerCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnBIRCASGeneralLedgerMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnBIRCASGeneralLedgerMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ==================
        // Data Range Filters
        // ==================
        var cboBIRCASGeneralLedgerStartDateFilter = new wijmo.input.InputDate('#cboBIRCASGeneralLedgerStartDateFilter');
        var cboBIRCASGeneralLedgerEndDateFilter = new wijmo.input.InputDate('#cboBIRCASGeneralLedgerEndDateFilter');
        var isCboBIRCASGeneralLedgerStartDateFilterSelected = false;
        var isCboBIRCASGeneralLedgerEndDateFilterSelected = false;

        // ==========================
        // Company and Branch Filters
        // ==========================
        var cboBIRCASGeneralLedgerCompanyFilter = new wijmo.input.ComboBox('#cboBIRCASGeneralLedgerCompanyFilter');
        var isCboBIRCASGeneralLedgerCompanyFilterSelected = false;
        var cboBIRCASGeneralLedgerBranchFilter = new wijmo.input.ComboBox('#cboBIRCASGeneralLedgerBranchFilter');

        // =============================
        // Collection View and Flex Grid
        // =============================
        var BIRCASGeneralLedgerCollectionView;
        var BIRCASGeneralLedgerFlexGrid;
        var cboBIRCASGeneralLedgerDisplayNumberOfRows = new wijmo.input.ComboBox('#cboBIRCASGeneralLedgerDisplayNumberOfRows');

        // ==================
        // Navigation Buttons
        // ==================
        var btnBIRCASGeneralLedgerMoveToFirstPageGrid = document.getElementById('btnBIRCASGeneralLedgerMoveToFirstPageGrid');
        var btnBIRCASGeneralLedgerMoveToPreviousPageGrid = document.getElementById('btnBIRCASGeneralLedgerMoveToPreviousPageGrid');
        var btnBIRCASGeneralLedgerMoveToNextPageGrid = document.getElementById('btnBIRCASGeneralLedgerMoveToNextPageGrid');
        var btnBIRCASGeneralLedgerMoveToLastPageGrid = document.getElementById('btnBIRCASGeneralLedgerMoveToLastPageGrid');
        var btnBIRCASGeneralLedgerCurrentPageGrid = document.getElementById('btnBIRCASGeneralLedgerCurrentPageGrid');
        var BIRCASGeneralLedgerCurrentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ================================
        // Create Combo Date Ranged Filters
        // ================================
        function createCboDateRangedFilter() {
            NProgress.start();
            cboBIRCASGeneralLedgerStartDateFilter.dispose();
            cboBIRCASGeneralLedgerStartDateFilter = new wijmo.input.InputDate('#cboBIRCASGeneralLedgerStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("StartDate")),
                onValueChanged: function () {
                    if (!isCboBIRCASGeneralLedgerStartDateFilterSelected) {
                        NProgress.start();
                        refreshBIRCASGeneralLedgerFlexGrid();
                    } else {
                        isCboBIRCASGeneralLedgerStartDateFilterSelected = false;
                    }
                }
            });

            cboBIRCASGeneralLedgerEndDateFilter.dispose();
            cboBIRCASGeneralLedgerEndDateFilter = new wijmo.input.InputDate('#cboBIRCASGeneralLedgerEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("EndDate")),
                onValueChanged: function () {
                    if (!isCboBIRCASGeneralLedgerEndDateFilterSelected) {
                        NProgress.start();
                        refreshBIRCASGeneralLedgerFlexGrid();
                    } else {
                        isCboBIRCASGeneralLedgerEndDateFilterSelected = false;
                    }
                }
            });

            createCboCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/BIRCASGeneralLedger/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnBIRCASGeneralLedgerDownloadCSV").prop("disabled", true);
                        $("#btnBIRCASGeneralLedgerPrintPDF").prop("disabled", true);
                    }

                    cboBIRCASGeneralLedgerCompanyFilter.dispose();
                    cboBIRCASGeneralLedgerCompanyFilter = new wijmo.input.ComboBox('#cboBIRCASGeneralLedgerCompanyFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnBIRCASGeneralLedgerDownloadCSV").prop("disabled", false);
                            $("#btnBIRCASGeneralLedgerPrintPDF").prop("disabled", false);
                            isCboBIRCASGeneralLedgerCompanyFilterSelected = true;
                            createCboBranchFilter();
                        }
                    });

                    createCboBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();

            if (cboBIRCASGeneralLedgerCompanyFilter.selectedValue != null) {
                $.ajax({
                    url: '/api/BIRCASGeneralLedger/dropdown/list/branch/' + cboBIRCASGeneralLedgerCompanyFilter.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnBIRCASGeneralLedgerDownloadCSV").prop("disabled", true);
                            $("#btnBIRCASGeneralLedgerPrintPDF").prop("disabled", true);
                        }

                        cboBIRCASGeneralLedgerBranchFilter.dispose();
                        cboBIRCASGeneralLedgerBranchFilter = new wijmo.input.ComboBox('#cboBIRCASGeneralLedgerBranchFilter', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshBIRCASGeneralLedgerFlexGrid();
                            }
                        });

                        createCboDisplayNumberOfRows();
                    }
                });
            }
        }

        // ===================================
        // Create Combo Display Number of Rows
        // ===================================
        function createCboDisplayNumberOfRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboBIRCASGeneralLedgerDisplayNumberOfRows.dispose();
            cboBIRCASGeneralLedgerDisplayNumberOfRows = new wijmo.input.ComboBox('#cboBIRCASGeneralLedgerDisplayNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboBIRCASGeneralLedgerDisplayNumberOfRows.selectedValue;
                        BIRCASGeneralLedgerCollectionView.pageSize = parseInt(numberOfRows);
                        BIRCASGeneralLedgerCollectionView.refresh();
                        BIRCASGeneralLedgerFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isCboBIRCASGeneralLedgerCompanyFilterSelected) {
                createBIRCASGeneralLedgerFlexGrid();
            } else {
                refreshBIRCASGeneralLedgerFlexGrid();
            }
        }

        // ========
        // Get Data
        // ========
        function getBIRCASGeneralLedgerData() {
            var BIRCASGeneralLedgerObservableArray = new wijmo.collections.ObservableArray;
            if (cboBIRCASGeneralLedgerCompanyFilter.selectedValue != null) {
                if (cboBIRCASGeneralLedgerBranchFilter.selectedValue != null) {
                    var startDate = cboBIRCASGeneralLedgerStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboBIRCASGeneralLedgerEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboBIRCASGeneralLedgerCompanyFilter.selectedValue;
                    var branchId = cboBIRCASGeneralLedgerBranchFilter.selectedValue;

                    //$.ajax({
                    //    url: '/api/../' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                    //    cache: false,
                    //    type: 'GET',
                    //    contentType: 'application/json; charset=utf-8',
                    //    success: function (BIRCASGeneralLedgerResult) {
                    //        var inpBIRCASGeneralLedgerTotalAmount = 0;
                    //        if (BIRCASGeneralLedgerResult.length > 0) {
                    //            for (i = 0; i < BIRCASGeneralLedgerResult.length; i++) {

                    //            }
                    //        }
                    //    }
                    //});
                } else {

                }
            } else {

            }

            NProgress.done();
            return BIRCASGeneralLedgerObservableArray;
        }

        // ================
        // Create Flex Grid
        // ================
        function createBIRCASGeneralLedgerFlexGrid() {
            BIRCASGeneralLedgerCollectionView = new wijmo.collections.CollectionView(getBIRCASGeneralLedgerData());
            BIRCASGeneralLedgerCollectionView.canFilter = true;
            BIRCASGeneralLedgerCollectionView.pageSize = cboBIRCASGeneralLedgerDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpBIRCASGeneralLedgerSeacrhFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                BIRCASGeneralLedgerCollectionView.refresh();
            });

            BIRCASGeneralLedgerCollectionView.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1);
            }

            BIRCASGeneralLedgerCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateBIRCASGeneralLedgerNavigationButton();
            });

            BIRCASGeneralLedgerFlexGrid = new wijmo.grid.FlexGrid('#BIRCASGeneralLedgerFlexGrid');
            BIRCASGeneralLedgerFlexGrid.initialize({
                columns: [

                ],
                autoGenerateColumns: false,
                itemsSource: BIRCASGeneralLedgerCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            BIRCASGeneralLedgerFlexGrid.trackChanges = true;

            updateBIRCASGeneralLedgerNavigationButton();

            btnBIRCASGeneralLedgerMoveToFirstPageGrid.addEventListener('click', function () {
                BIRCASGeneralLedgerCollectionView.moveToFirstPage();
                BIRCASGeneralLedgerCurrentPageIndex = BIRCASGeneralLedgerCollectionView.pageIndex + 1;
                updateBIRCASGeneralLedgerNavigationButton();
            });

            btnBIRCASGeneralLedgerMoveToPreviousPageGrid.addEventListener('click', function () {
                BIRCASGeneralLedgerCollectionView.moveToPreviousPage();
                BIRCASGeneralLedgerCurrentPageIndex = BIRCASGeneralLedgerCollectionView.pageIndex + 1;
                updateBIRCASGeneralLedgerNavigationButton();
            });

            btnBIRCASGeneralLedgerMoveToNextPageGrid.addEventListener('click', function () {
                BIRCASGeneralLedgerCollectionView.moveToNextPage();
                BIRCASGeneralLedgerCurrentPageIndex = BIRCASGeneralLedgerCollectionView.pageIndex + 1;
                updateBIRCASGeneralLedgerNavigationButton();
            });

            btnBIRCASGeneralLedgerMoveToLastPageGrid.addEventListener('click', function () {
                BIRCASGeneralLedgerCollectionView.moveToLastPage();
                BIRCASGeneralLedgerCurrentPageIndex = BIRCASGeneralLedgerCollectionView.pageIndex + 1;
                updateBIRCASGeneralLedgerNavigationButton();
            });
        }

        // =========================
        // Update Navigation Buttons
        // =========================
        function updateBIRCASGeneralLedgerNavigationButton() {
            if (BIRCASGeneralLedgerCollectionView.pageSize <= 0) {
                document.getElementById('BIRCASGeneralLedgerNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('BIRCASGeneralLedgerNavigationPageGrid').style.display = 'block';
            if (BIRCASGeneralLedgerCollectionView.pageIndex === 0) {
                btnBIRCASGeneralLedgerMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnBIRCASGeneralLedgerMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnBIRCASGeneralLedgerMoveToNextPageGrid.removeAttribute('disabled');
                btnBIRCASGeneralLedgerMoveToLastPageGrid.removeAttribute('disabled');
            } else if (BIRCASGeneralLedgerCollectionView.pageIndex === (BIRCASGeneralLedgerCollectionView.pageCount - 1)) {
                btnBIRCASGeneralLedgerMoveToFirstPageGrid.removeAttribute('disabled');
                btnBIRCASGeneralLedgerMoveToPreviousPageGrid.removeAttribute('disabled');
                btnBIRCASGeneralLedgerMoveToNextPageGrid.setAttribute('disabled', 'disabled');
                btnBIRCASGeneralLedgerMoveToLastPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnBIRCASGeneralLedgerMoveToFirstPageGrid.removeAttribute('disabled');
                btnBIRCASGeneralLedgerMoveToPreviousPageGrid.removeAttribute('disabled');
                btnBIRCASGeneralLedgerMoveToNextPageGrid.removeAttribute('disabled');
                btnBIRCASGeneralLedgerMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnBIRCASGeneralLedgerCurrentPageGrid.innerHTML = (BIRCASGeneralLedgerCollectionView.pageIndex + 1) + ' / ' + BIRCASGeneralLedgerCollectionView.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshBIRCASGeneralLedgerFlexGrid() {
            BIRCASGeneralLedgerCollectionView = new wijmo.collections.CollectionView(getBIRCASGeneralLedgerData());
            BIRCASGeneralLedgerCollectionView.canFilter = true;
            BIRCASGeneralLedgerCollectionView.pageSize = cboBIRCASGeneralLedgerDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpBIRCASGeneralLedgerSeacrhFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                BIRCASGeneralLedgerCollectionView.refresh();
            });

            BIRCASGeneralLedgerCollectionView.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1);
            }

            BIRCASGeneralLedgerCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateBIRCASGeneralLedgerNavigationButton();
            });

            BIRCASGeneralLedgerFlexGrid.itemsSource = BIRCASGeneralLedgerCollectionView;
            BIRCASGeneralLedgerFlexGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function btnBIRCASGeneralLedgerDownloadCSVOnclick() {
            var CSV = '';
            var BIRCASGeneralLedger = [];
            var fileName = 'BIRCASGeneralLedger.CSV';

            BIRCASGeneralLedgerCollectionView.moveToFirstPage();

            for (var p = 1; p <= BIRCASGeneralLedgerCollectionView.pageCount; p++) {
                for (i = 0; i < BIRCASGeneralLedgerCollectionView.items.length; i++) {
                    BIRCASGeneralLedger.push({

                    });
                }

                BIRCASGeneralLedgerCollectionView.moveToNextPage();
                if (p == BIRCASGeneralLedgerCollectionView.pageCount) {
                    BIRCASGeneralLedgerCollectionView.moveToPage(BIRCASGeneralLedgerCurrentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({

            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < BIRCASGeneralLedger.length; i++) {
                var row = '';
                for (var a in BIRCASGeneralLedger[i]) {
                    row += '"' + BIRCASGeneralLedger[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnBIRCASGeneralLedgerPrintPDFOnclick() {
            if (cboBIRCASGeneralLedgerCompanyFilter.selectedValue != null) {
                if (cboBIRCASGeneralLedgerBranchFilter.selectedValue != null) {
                    var startDate = cboBIRCASGeneralLedgerStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboBIRCASGeneralLedgerEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboBIRCASGeneralLedgerCompanyFilter.selectedValue;
                    var branchId = cboBIRCASGeneralLedgerBranchFilter.selectedValue;

                    window.location.href = '/RepBIRCASGeneralLedger/BIRCASGeneralLedger?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // =============================
        // Document Ready - On load Page
        // =============================
        $(document).ready(function () {
            createCboDateRangedFilter();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>