<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Collection Detail Report</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Collection Detail Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="collectionDetailReportInputFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboCollectionDetailReportShowNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnCollectionDetailReportCSVOnclick()" id="btnCollectionDetailReportCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnCollectionDetailReportPDFOnclick()" id="btnCollectionDetailReportPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboCollectionDetailReportStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboCollectionDetailReportEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboCollectionDetailReportCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboCollectionDetailReportBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="collectionDetailReportGrid" style="font-size: 11.5px;"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="btnCollectionDetailReportNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnCollectionDetailReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnCollectionDetailReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCollectionDetailReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnCollectionDetailReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnCollectionDetailReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboCollectionDetailReportStartDate = new wijmo.input.InputDate('#cboCollectionDetailReportStartDate');
        var cboCollectionDetailReportEndDate = new wijmo.input.InputDate('#cboCollectionDetailReportEndDate');
        var isCollectionDetailReportStartDateSelected = false;
        var isCollectionDetailReportEndDateSelected = false;

        var cboCollectionDetailReportCompany = new wijmo.input.ComboBox('#cboCollectionDetailReportCompany');
        var cboCollectionDetailReportBranch = new wijmo.input.ComboBox('#cboCollectionDetailReportBranch');
        var isCollectionDetailReportCompanySelected = false;

        var collectionDetailReportCollections;
        var collectionDetailReportGrid;
        var cboCollectionDetailReportShowNumberOfRows = new wijmo.input.ComboBox('#cboCollectionDetailReportShowNumberOfRows');

        var btnCollectionDetailReportMoveToFirstPageGrid = document.getElementById('btnCollectionDetailReportMoveToFirstPageGrid');
        var btnCollectionDetailReportMoveToPreviousPageGrid = document.getElementById('btnCollectionDetailReportMoveToPreviousPageGrid');
        var btnCollectionDetailReportMoveToNextPageGrid = document.getElementById('btnCollectionDetailReportMoveToNextPageGrid');
        var btnCollectionDetailReportMoveToLastPageGrid = document.getElementById('btnCollectionDetailReportMoveToLastPageGrid');
        var btnCollectionDetailReportCurrentPageGrid = document.getElementById('btnCollectionDetailReportCurrentPageGrid');
        var currentPageIndex = 0;

        // ===================
        // Get Parameter Value
        // ===================
        function getURLParameter(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ============
        // Date Filters
        // ============
        function collectionDetailReportDateFilters() {
            NProgress.start();

            cboCollectionDetailReportStartDate.dispose();
            cboCollectionDetailReportStartDate = new wijmo.input.InputDate('#cboCollectionDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameter("StartDate")),
                onValueChanged: function () {
                    if (!isCollectionDetailReportStartDateSelected) {
                        NProgress.start();
                        refreshCollectionDetailReportFlexGrid();
                    } else {
                        isCollectionDetailReportStartDateSelected = false;
                    }
                }
            });

            cboCollectionDetailReportEndDate.dispose();
            cboCollectionDetailReportEndDate = new wijmo.input.InputDate('#cboCollectionDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameter("EndDate")),
                onValueChanged: function () {
                    if (!isCollectionDetailReportEndDateSelected) {
                        NProgress.start();
                        refreshCollectionDetailReportFlexGrid();
                    } else {
                        isCollectionDetailReportEndDateSelected = false;
                    }
                }
            });

            createCboCompany();
        }

        // ==============
        // Company Filter
        // ==============
        function createCboCompany() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/collectionDetailReport/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnCollectionDetailReportCSV").prop("disabled", true);
                        $("#btnCollectionDetailReportPDF").prop("disabled", true);
                    }

                    cboCollectionDetailReportCompany.dispose();
                    cboCollectionDetailReportCompany = new wijmo.input.ComboBox('#cboCollectionDetailReportCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameter("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnCollectionDetailReportCSV").prop("disabled", false);
                            $("#btnCollectionDetailReportPDF").prop("disabled", false);
                            isCollectionDetailReportCompanySelected = true;
                            createCboBranch();
                        }
                    });

                    createCboBranch();
                }
            });
        }

        // =============
        // Branch Filter
        // =============
        function createCboBranch() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboCollectionDetailReportCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/collectionDetailReport/dropdown/list/branch/' + cboCollectionDetailReportCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnCollectionDetailReportCSV").prop("disabled", true);
                            $("#btnCollectionDetailReportPDF").prop("disabled", true);
                        }

                        cboCollectionDetailReportBranch.dispose();
                        cboCollectionDetailReportBranch = new wijmo.input.ComboBox('#cboCollectionDetailReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameter("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshCollectionDetailReportFlexGrid();
                            }
                        });

                        createCboShowRows();
                    }
                });
            }
        }

        // ===============
        // Show Rows Table
        // ===============
        function createCboShowRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboCollectionDetailReportShowNumberOfRows.dispose();
            cboCollectionDetailReportShowNumberOfRows = new wijmo.input.ComboBox('#cboCollectionDetailReportShowNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboCollectionDetailReportShowNumberOfRows.selectedValue;
                        collectionDetailReportCollections.pageSize = parseInt(numberOfRows);
                        collectionDetailReportCollections.refresh();
                        collectionDetailReportGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isCollectionDetailReportCompanySelected) {
                createCollectionDetailReportFlexGrid();
            } else {
                refreshCollectionDetailReportFlexGrid();
            }
        }

        // ===============================
        // Get Collection Order Detail Data
        // ===============================
        function getCollectionDetailReport() {
            var collectionDetailReports = new wijmo.collections.ObservableArray;
            if (cboCollectionDetailReportCompany.selectedValue != null) {
                if (cboCollectionDetailReportBranch.selectedValue != null) {
                    var startDate = cboCollectionDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboCollectionDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboCollectionDetailReportCompany.selectedValue;
                    var branchId = cboCollectionDetailReportBranch.selectedValue;

                    $.ajax({
                        url: '/api/collectionDetailReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (results) {
                            var totalAmount = 0;
                            if (results.length > 0) {
                                for (i = 0; i < results.length; i++) {
                                    var docLink = "/Software/CollectionDetail?id=" + results[i]["ORId"];

                                    var ORDateResult = new Date(results[i]["ORDate"])
                                    var ORDate = ('0' + (ORDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + ORDateResult.getDate()).slice(-2) + '-' + ORDateResult.getFullYear();

                                    var CheckDateResult = new Date(results[i]["CheckDate"])
                                    var CheckDate = ('0' + (CheckDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + CheckDateResult.getDate()).slice(-2) + '-' + CheckDateResult.getFullYear();

                                    collectionDetailReports.push({
                                        BtnDetail: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block' style='font-size: 9px;'><i class='fa fa-edit'></i> Detail",
                                        ORId: results[i]["ORId"],
                                        ORBranch: results[i]["ORBranch"],
                                        ORNumber: results[i]["ORNumber"],
                                        ORDate: ORDate,
                                        Customer: results[i]["Customer"],
                                        Branch: results[i]["Branch"],
                                        Account: results[i]["Account"],
                                        Article: results[i]["Article"],
                                        PayType: results[i]["PayType"],
                                        SINumber: results[i]["SINumber"],
                                        DepositoryBank: results[i]["DepositoryBank"],
                                        CheckNumber: results[i]["CheckNumber"],
                                        CheckDate: CheckDate,
                                        CheckBank: results[i]["CheckBank"],
                                        Amount: results[i]["Amount"],
                                        AmountDisplay: parseFloat(results[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    });

                                    totalAmount += results[i]["Amount"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return collectionDetailReports;
        }

        // =========================
        // Update Navigation Buttons
        // =========================
        function updateNavigateButtonsItems() {
            if (collectionDetailReportCollections.pageSize <= 0) {
                document.getElementById('btnCollectionDetailReportNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('btnCollectionDetailReportNavigationPageGrid').style.display = 'block';
            if (collectionDetailReportCollections.pageIndex === 0) {
                btnCollectionDetailReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnCollectionDetailReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnCollectionDetailReportMoveToNextPageGrid.removeAttribute('disabled');
                btnCollectionDetailReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (collectionDetailReportCollections.pageIndex === (collectionDetailReportCollections.pageCount - 1)) {
                btnCollectionDetailReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnCollectionDetailReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnCollectionDetailReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnCollectionDetailReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnCollectionDetailReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnCollectionDetailReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnCollectionDetailReportMoveToNextPageGrid.removeAttribute('disabled');
                btnCollectionDetailReportMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnCollectionDetailReportCurrentPageGrid.innerHTML = (collectionDetailReportCollections.pageIndex + 1) + ' / ' + collectionDetailReportCollections.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshCollectionDetailReportFlexGrid() {
            collectionDetailReportCollections = new wijmo.collections.CollectionView(getCollectionDetailReport());
            collectionDetailReportCollections.canFilter = true;
            collectionDetailReportCollections.pageSize = cboCollectionDetailReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#collectionDetailReportInputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                collectionDetailReportCollections.refresh();
            });

            collectionDetailReportCollections.filter = function (item) {
                return !filterText || (item.ORBranch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ORNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PayType.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DepositoryBank.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckBank.toLowerCase().indexOf(filterText) > -1);
            }

            collectionDetailReportCollections.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItems();
            });

            collectionDetailReportGrid.itemsSource = collectionDetailReportCollections;
            collectionDetailReportGrid.trackChanges = true;
        }

        // =========
        // Flex Grid
        // =========
        function createCollectionDetailReportFlexGrid() {
            collectionDetailReportCollections = new wijmo.collections.CollectionView(getCollectionDetailReport());
            collectionDetailReportCollections.canFilter = true;
            collectionDetailReportCollections.pageSize = cboCollectionDetailReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#collectionDetailReportInputFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                collectionDetailReportCollections.refresh();
            });

            collectionDetailReportCollections.filter = function (item) {
                return !filterText || (item.ORBranch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ORNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Article.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PayType.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DepositoryBank.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.CheckBank.toLowerCase().indexOf(filterText) > -1);
            }

            collectionDetailReportCollections.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItems();
            });

            collectionDetailReportGrid = new wijmo.grid.FlexGrid('#collectionDetailReportGrid');
            collectionDetailReportGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 55,
                        "isContentHtml": true
                    },
                    {
                        "header": "OR No.",
                        "binding": "ORNumber",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1.1*"
                    },
                    {
                        "header": "OR Date",
                        "binding": "ORDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Customer",
                        "binding": "Customer",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Branch",
                        "binding": "Branch",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Account",
                        "binding": "Account",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Article",
                        "binding": "Article",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Pay Type",
                        "binding": "PayType",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "SI No",
                        "binding": "SINumber",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Dep. Bank",
                        "binding": "DepositoryBank",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Check No.",
                        "binding": "CheckNumber",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Check Date",
                        "binding": "CheckDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Check Bank",
                        "binding": "CheckBank",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: collectionDetailReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            collectionDetailReportGrid.trackChanges = true;

            updateNavigateButtonsItems();

            btnCollectionDetailReportMoveToFirstPageGrid.addEventListener('click', function () {
                collectionDetailReportCollections.moveToFirstPage();
                currentPageIndex = collectionDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnCollectionDetailReportMoveToPreviousPageGrid.addEventListener('click', function () {
                collectionDetailReportCollections.moveToPreviousPage();
                currentPageIndex = collectionDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnCollectionDetailReportMoveToNextPageGrid.addEventListener('click', function () {
                collectionDetailReportCollections.moveToNextPage();
                currentPageIndex = collectionDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnCollectionDetailReportMoveToLastPageGrid.addEventListener('click', function () {
                collectionDetailReportCollections.moveToLastPage();
                currentPageIndex = collectionDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });
        }

        // ============
        // Download CSV
        // ============
        function btnCollectionDetailReportCSVOnclick() {
            var CSV = '';
            var collectionDetailReport = [];
            var fileName = 'CollectionDetailReport.CSV';

            collectionDetailReportCollections.moveToFirstPage();

            for (var p = 1; p <= collectionDetailReportCollections.pageCount; p++) {
                for (i = 0; i < collectionDetailReportCollections.items.length; i++) {

                    collectionDetailReport.push({
                        ORBranch: collectionDetailReportCollections.items[i].ORBranch,
                        ORNumber: "OR-" + collectionDetailReportCollections.items[i].ORNumber,
                        ORDate: collectionDetailReportCollections.items[i].ORDate,
                        Customer: collectionDetailReportCollections.items[i].Customer,
                        Branch: collectionDetailReportCollections.items[i].Branch,
                        Account: collectionDetailReportCollections.items[i].Account,
                        Article: collectionDetailReportCollections.items[i].Article,
                        PayType: collectionDetailReportCollections.items[i].PayType,
                        SINumber: "SI-" + collectionDetailReportCollections.items[i].SINumber,
                        DepositoryBank: collectionDetailReportCollections.items[i].DepositoryBank,
                        CheckNumber: collectionDetailReportCollections.items[i].CheckNumber,
                        CheckDate: collectionDetailReportCollections.items[i].CheckDate,
                        CheckBank: collectionDetailReportCollections.items[i].CheckBank,
                        Amount: collectionDetailReportCollections.items[i].Amount
                    });
                }

                collectionDetailReportCollections.moveToNextPage();
                if (p == collectionDetailReportCollections.pageCount) {
                    collectionDetailReportCollections.moveToPage(currentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                ORBranch: "OR Branch",
                ORNumber: "OR Number",
                ORDate: "OR Date",
                Customer: "Customer",
                Branch: "Branch",
                Account: "Account",
                Article: "Article",
                PayType: "Pay Type",
                SINumber: "SI Number",
                DepositoryBank: "Depository Bank",
                CheckNumber: "Check Number",
                CheckDate: "Check Date",
                CheckBank: "Check Bank",
                Amount: "Amount"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < collectionDetailReport.length; i++) {
                var row = '';
                for (var a in collectionDetailReport[i]) {
                    row += '"' + collectionDetailReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnCollectionDetailReportPDFOnclick() {
            if (cboCollectionDetailReportCompany.selectedValue != null) {
                if (cboCollectionDetailReportBranch.selectedValue != null) {
                    var startDate = cboCollectionDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboCollectionDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboCollectionDetailReportCompany.selectedValue;
                    var branchId = cboCollectionDetailReportBranch.selectedValue;

                    window.location.href = '/RepCollectionDetailReport/CollectionDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            collectionDetailReportDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>