@model easyfis.Entities.MstUserForm
@{
    // =====================
    // User Rights Variables
    // =====================
    var canAdd = Model.CanAdd;
    var canEdit = Model.CanEdit;
    var canDelete = Model.CanDelete;
    var canLock = Model.CanLock;
    var canUnlock = Model.CanUnlock;
    var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Disbursement</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Disbursement
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpDisbursmenetSearchFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    @{
                                        if (canAdd)
                                        {
                                            <button class="btn btn-primary" id="btnDisbursementAdd" onclick="btnDisbursementAddOnclick()"><i class="fa fa-plus"></i> Add</button>
                                        }
                                    }
                                    <button class="btn btn-danger" id="btnDisbursementClose" onclick="btnDisbursementCloseOnclick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ==================
                        Date Range Filters
                        ==================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div id="cboDisbursementStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div id="cboDisbursementEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="disbursementFlexGrid" class="grid" align="left"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="disbursementNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnDisbursementMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnDisbursementMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnDisbursementCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnDisbursementMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnDisbursementMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ==========
                    User Stamp
                    ==========
                -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User stamp
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <p>Updated by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!--
        ===================================
        Disbursement Confirm Delete (Modal)
        ===================================
    -->
    <div class="modal fade" id="disbursementConfirmDeleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Delete Disbursement?
                </div>
                <div class="modal-footer">
                    <button id="btnDisbursementConfirmDelete" class="btn btn-danger" onclick="btnDisbursementConfirmDeleteOnclick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="btnDisbursementCloseConfirmDeleteModal" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ===============================
        // Disbursement Date Range Filters
        // ===============================
        var cboDisbursementStartDateFilter = new wijmo.input.InputDate('#cboDisbursementStartDateFilter');
        var cboDisbursementEndDateFilter = new wijmo.input.InputDate('#cboDisbursementEndDateFilter');
        var isCboDisbursementStartDateFilterSelected = true;
        var isCboDisbursementEndDateFilterSelected = true;

        // ==========================================
        // Disbursement Collection View and Flex Grid
        // ==========================================
        var disbursements;
        var disbursementGrid;

        // ===============================
        // Disbursement Navigation Buttons
        // ===============================
        var btnFirstPageGrid = document.getElementById('btnDisbursementMoveToFirstPageGrid');
        var btnPreviousPageGrid = document.getElementById('btnDisbursementMoveToPreviousPageGrid');
        var btnNextPageGrid = document.getElementById('btnDisbursementMoveToNextPageGrid');
        var btnLastPageGrid = document.getElementById('btnDisbursementMoveToLastPageGrid');
        var btnDisbursementCurrentPageGrid = document.getElementById('btnDisbursementCurrentPageGrid');

        // ===============================
        // Create Combo Date Range Filters
        // ===============================
        function createCboDateRangeFilters() {
            cboDisbursementStartDateFilter.dispose();
            cboDisbursementStartDateFilter = new wijmo.input.InputDate('#cboDisbursementStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isCboDisbursementStartDateFilterSelected) {
                        refreshDisbursementFlexGrid();
                    } else {
                        isCboDisbursementStartDateFilterSelected = false;
                    }
                }
            });

            cboDisbursementEndDateFilter.dispose();
            cboDisbursementEndDateFilter = new wijmo.input.InputDate('#cboDisbursementEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isCboDisbursementEndDateFilterSelected) {
                        refreshDisbursementFlexGrid();
                    } else {
                        isCboDisbursementEndDateFilterSelected = false;
                    }
                }
            });
        }

        // =====================
        // Get Disbursement Data
        // =====================
        function getDisbursementData() {
            NProgress.start();
            var startDate = cboDisbursementStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboDisbursementEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');

            var disbursementsObservableArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/disbursement/list/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            var CVDateResult = new Date(results[i]["CVDate"])
                            var CVDate = ('0' + (CVDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + CVDateResult.getDate()).slice(-2) + '-' + CVDateResult.getFullYear();

                            disbursementsObservableArray.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' id='disbursementEditButton' onclick='btnDisbursementEditOnclick()'><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='btnDisbursementDeleteOnclick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: results[i]["Id"],
                                CVNumber: results[i]["CVNumber"],
                                CVDate: CVDate,
                                ManualCVNumber: results[i]["ManualCVNumber"],
                                Supplier: results[i]["Supplier"],
                                Particulars: results[i]["Particulars"],
                                CheckNumber: results[i]["CheckNumber"],
                                Amount: results[i]["Amount"],
                                AmountDisplay: parseFloat(results[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                IsLocked: results[i]["IsLocked"],
                                IsCancelled: results[i]["IsCancelled"],
                                CreatedBy: results[i]["CreatedBy"],
                                CreatedDateTime: results[i]["CreatedDateTime"],
                                UpdatedBy: results[i]["UpdatedBy"],
                                UpdatedDateTime: results[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return disbursementsObservableArray;
        }

        // =============================
        // Create Disbursement Flex Grid
        // =============================
        function createDisbursementFlexGrid() {
            createCboDateRangeFilters();

            disbursements = new wijmo.collections.CollectionView(getDisbursementData());
            disbursements.canFilter = true;
            disbursements.pageSize = 15;

            var filterText = '';
            $('#inpDisbursmenetSearchFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                disbursements.refresh();
            });

            disbursements.filter = function (item) {
                return !filterText || (item.CVNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.ManualCVNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterText) > -1)
                    || (item.CheckNumber.toLowerCase().indexOf(filterText) > -1);
            }

            disbursements.collectionChanged.addHandler(function (sender, args) {
                updateDisbursementNavigationButtons();
            });

            disbursements.currentChanged.addHandler(function (sender, args) {
                updateDisbursementDetailsFlexGridSelection();
            });

            disbursementGrid = new wijmo.grid.FlexGrid('#disbursementFlexGrid');
            disbursementGrid.initialize({
                columns: [
                            @{
                                if (canEdit)
                                {
                                    <text>
                                        {
                                            "header": "Edit",
                                            "binding": "EditId",
                                            "width": 70,
                                            "align": "center",
                                            "allowResizing": false,
                                            "allowSorting": false,
                                            "isContentHtml": true
                                        },
                                    </text>
                                }
                                if (canDelete)
                                {
                                    <text>
                                        {
                                            "header": "Delete",
                                            "binding": "DeleteId",
                                            "width": 70,
                                            "align": "center",
                                            "allowResizing": false,
                                            "allowSorting": false,
                                            "isContentHtml": true
                                        },
                                    </text>
                                }
                            }
                            {
                                "header": "CV Number",
                                "binding": "CVNumber",
                                "allowSorting": true,
                                "width": 100
                            },
                            {
                                "header": "CV Date",
                                "binding": "CVDate",
                                "allowSorting": true,
                                "width": 90
                            },
                            {
                                "header": "Manual CV No.",
                                "binding": "ManualCVNumber",
                                "allowSorting": true,
                                "width": 120
                            },
                            {
                                "header": "Supplier",
                                "binding": "Supplier",
                                "allowSorting": true,
                                "width": "2.5*"
                            },
                            {
                                "header": "Particulars",
                                "binding": "Particulars",
                                "allowSorting": true,
                                "width": "2.5*"
                            },
                            {
                                "header": "Check No.",
                                "binding": "CheckNumber",
                                "allowSorting": true,
                                "width": "2*"
                            },
                            {
                                "header": "Amount",
                                "binding": "AmountDisplay",
                                "allowSorting": true,
                                "align": "right",
                                "width": "2*"
                            },
                            {
                                "header": "L",
                                "binding": "IsLocked",
                                "allowSorting": true,
                                "width": 50,
                            }
                ],
                autoGenerateColumns: false,
                itemsSource: disbursements,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            disbursementGrid.trackChanges = true;
            disbursementGrid.itemFormatter = function (panel, r, c, cell) {
                var flex = panel.grid;

                if (wijmo.grid.CellType.Cell === panel.cellType) {
                    if (flex.rows[r]._data.IsCancelled == true) {
                        cell.style.backgroundColor = 'rgb(255, 230, 230)';
                        cell.style.color = "Black";
                    }
                }
            }

            updateDisbursementNavigationButtons();

            btnFirstPageGrid.addEventListener('click', function () {
                disbursements.moveToFirstPage();
                updateDisbursementNavigationButtons();
            });

            btnPreviousPageGrid.addEventListener('click', function () {
                disbursements.moveToPreviousPage();
                updateDisbursementNavigationButtons();
            });

            btnNextPageGrid.addEventListener('click', function () {
                disbursements.moveToNextPage();
                updateDisbursementNavigationButtons();
            });

            btnLastPageGrid.addEventListener('click', function () {
                disbursements.moveToLastPage();
                updateDisbursementNavigationButtons();
            });
        }

        // ===============================================
        // Update Disbursement Details Flex Grid Selection
        // ===============================================
        function updateDisbursementDetailsFlexGridSelection() {
            var item = disbursements.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ======================================
        // Update Disbursement Navigation Buttons
        // ======================================
        function updateDisbursementNavigationButtons() {
            if (disbursements.pageSize <= 0) {
                document.getElementById('disbursementNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('disbursementNavigationPageGrid').style.display = 'block';
            if (disbursements.pageIndex === 0) {
                btnFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            } else if (disbursements.pageIndex === (disbursements.pageCount - 1)) {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnLastPageGrid.setAttribute('disabled', 'disabled');
                btnNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGrid.removeAttribute('disabled');
                btnPreviousPageGrid.removeAttribute('disabled');
                btnNextPageGrid.removeAttribute('disabled');
                btnLastPageGrid.removeAttribute('disabled');
            }
            btnDisbursementCurrentPageGrid.innerHTML = (disbursements.pageIndex + 1) + ' / ' + disbursements.pageCount;
        }

        // ==============================
        // Refresh Disbursement Flex Grid
        // ==============================
        function refreshDisbursementFlexGrid() {
            disbursements = new wijmo.collections.CollectionView(getDisbursementData());
            disbursements.canFilter = true;
            disbursements.pageSize = 15;

            var filterText = '';
            $('#inpDisbursmenetSearchFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                disbursements.refresh();
            });

            disbursements.filter = function (item) {
                return !filterText || (item.CVNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.ManualCVNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterText) > -1)
                    || (item.CheckNumber.toLowerCase().indexOf(filterText) > -1);
            }

            disbursements.collectionChanged.addHandler(function (sender, args) {
                updateDisbursementNavigationButtons();
            });

            disbursements.currentChanged.addHandler(function (sender, args) {
                updateDisbursementDetailsFlexGridSelection();
            });

            disbursementGrid.itemsSource = disbursements;
            disbursementGrid.trackChanges = true;
        }

        // ================
        // Add Disbursement
        // ================
        function btnDisbursementAddOnclick() {
            document.getElementById('btnDisbursementAdd').innerHTML = "<i class='fa fa-plus'></i> Adding...";
            $('#btnDisbursementAdd').prop('disabled', true);
            $('#btnDisbursementClose').prop('disabled', true);

            $.ajax({
                type: "POST",
                url: '/api/disbursement/add',
                contentType: "application/json; charset=utf-8",
                statusCode: {
                    200: function (id) {
                        window.location = '/Software/DisbursementDetail?id=' + id;
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        document.getElementById('btnDisbursementAdd').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnDisbursementAdd').prop('disabled', false);
                        $('#btnDisbursementClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        document.getElementById('btnDisbursementAdd').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnDisbursementAdd').prop('disabled', false);
                        $('#btnDisbursementClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        document.getElementById('btnDisbursementAdd').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnDisbursementAdd').prop('disabled', false);
                        $('#btnDisbursementClose').prop('disabled', false);
                    }
                }
            });
        }

        // =================
        // Edit Disbursement
        // =================
        function btnDisbursementEditOnclick() {
            disbursements.editItem(disbursements.currentItem);
            var disbursement = disbursements.currentEditItem;
            var disbursementId = disbursement.Id;
            window.location = '/Software/DisbursementDetail?id=' + disbursementId;
        }

        // ==================
        // Close Disbursement
        // ==================
        function btnDisbursementCloseOnclick() {
            window.location = '/Software';
        }

        // ===================
        // Delete Disbursement
        // ===================
        function btnDisbursementDeleteOnclick() {
            disbursements.editItem(disbursements.currentItem);
            var disbursement = disbursements.currentEditItem;
            if (disbursement.IsLocked) {
                toastr.error("Delete is not allowed when the selected record is locked!");
            } else {
                $('#disbursementConfirmDeleteModal').modal({
                    show: true,
                    backdrop: 'static'
                });

                document.getElementById('btnDisbursementConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $("#btnDisbursementConfirmDelete").prop("disabled", false);
                $("#btnDisbursementCloseConfirmDeleteModal").prop("disabled", false);
            }
        }

        // ===========================
        // Confirm Delete Disbursement
        // ===========================
        function btnDisbursementConfirmDeleteOnclick() {
            document.getElementById('btnDisbursementConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Deleting...";
            $("#btnDisbursementConfirmDelete").prop("disabled", true);
            $("#btnDisbursementCloseConfirmDeleteModal").prop("disabled", true);

            disbursements.editItem(disbursements.currentItem);
            var id = disbursements.currentEditItem.Id;

            $.ajax({
                url: '/api/disbursement/delete/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#disbursementConfirmDeleteModal').modal('hide');
                        refreshDisbursementFlexGrid();
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        document.getElementById('btnDisbursementConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnDisbursementConfirmDelete").prop("disabled", false);
                        $("#btnDisbursementCloseConfirmDeleteModal").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        document.getElementById('btnDisbursementConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnDisbursementConfirmDelete").prop("disabled", false);
                        $("#btnDisbursementCloseConfirmDeleteModal").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        document.getElementById('btnDisbursementConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnDisbursementConfirmDelete").prop("disabled", false);
                        $("#btnDisbursementCloseConfirmDeleteModal").prop("disabled", false);
                    }
                }
            });
        }

        // =============================
        // Document Ready - On load Page
        // =============================
        $(document).ready(function () {
            createDisbursementFlexGrid();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>