@model easyfis.Entities.MstUserForm
@{
    // =====================
    // User Rights Variables
    // =====================
    var canAdd = Model.CanAdd;
    var canEdit = Model.CanEdit;
    var canDelete = Model.CanDelete;
    var canLock = Model.CanLock;
    var canUnlock = Model.CanUnlock;
    var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Journal Voucher</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Journal Voucher
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpJournalVoucherFilterSearch" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    @{
                                        if (canAdd)
                                        {
                                            <button class="btn btn-primary" id="btnAddJournalVoucher" onclick="btnJournalVoucherAddOnclick()"><i class="fa fa-plus"></i> Add</button>
                                        }
                                    }
                                    <button class="btn btn-danger" id="btnCloseJournalVoucher" onclick="btnJournalVoucherCloseOnclick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ==================
                        Date Range Filters
                        ==================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div id="cboJournalVoucherStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div id="cboJournalVoucherEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="journalVoucherFlexGrid" class="grid" align="left"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="journalVoucherNavigationPageGrid">
                                <button type="button" class="btn btn-default" id="btnJournalVoucherMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnJournalVoucherMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default" disabled style="width: 100px" id="btnJournalVoucherCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default" id="btnJournalVoucherMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnJournalVoucherMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ==========
                    User Stamp
                    ==========
                -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User stamp
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <p>Updated by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!--
        ======================================
        Journal Voucher Confirm Delete (Modal)
        ======================================
    -->
    <div class="modal fade" id="journalVoucherConfirmDeleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Delete Journal Voucher?
                </div>
                <div class="modal-footer">
                    <button id="btnJournalVoucherConfirmDelete" class="btn btn-danger" onclick="btnJournalVoucherConfirmDeleteOnclick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="btnJournalVoucherConfirmDeleteCloseModal" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ==================================
        // Journal Voucher Date Range Filters
        // ==================================
        var cboJournalVoucherStartDateFilter = new wijmo.input.InputDate('#cboJournalVoucherStartDateFilter');
        var cboJournalVoucherEndDateFilter = new wijmo.input.InputDate('#cboJournalVoucherEndDateFilter');
        var isCboStartDateFilterSelected = true;
        var isCboEndDateFilterSelected = true;

        // =============================================
        // Journal Voucher Collection View and Flex Grid
        // =============================================
        var journalVoucherCollectionView;
        var journalVoucherFlexGrid;

        // ==================================
        // Journal Voucher Navigation Buttons
        // ==================================
        var btnFirstPageGridJournalVoucher;
        var btnPreviousPageGridJournalVoucher;
        var btnNextPageGridJournalVoucher;
        var btnLastPageGridJournalVoucher;
        var btnJournalVoucherCurrentPageGrid;

        // ===============================
        // Create Combo Date Range Filters
        // ===============================
        function createCboDateRangeFilters() {
            cboJournalVoucherStartDateFilter.dispose();
            cboJournalVoucherStartDateFilter = new wijmo.input.InputDate('#cboJournalVoucherStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isCboStartDateFilterSelected) {
                        refreshJournalVoucherFlexGrid();
                    } else {
                        isCboStartDateFilterSelected = false;
                    }
                }
            });

            cboJournalVoucherEndDateFilter.dispose();
            cboJournalVoucherEndDateFilter = new wijmo.input.InputDate('#cboJournalVoucherEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isCboEndDateFilterSelected) {
                        refreshJournalVoucherFlexGrid();
                    } else {
                        isCboEndDateFilterSelected = false;
                    }
                }
            });
        }

        // ========================
        // Get Journal Voucher Data
        // ========================
        function getJournalVoucherData() {
            NProgress.start();
            var startDate = cboJournalVoucherStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboJournalVoucherEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');

            var journalVoucherObservableArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/journalVoucher/list/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            var JVDateResult = new Date(results[i]["JVDate"])
                            var JVDate = ('0' + (JVDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + JVDateResult.getDate()).slice(-2) + '-' + JVDateResult.getFullYear();

                            journalVoucherObservableArray.push({
                                EditId: "<button class='btn btn-primary btn-xs btn-block' onclick='btnJournalVoucherEditOnclick()'><i class='fa fa-edit'></i> Edit</button>",
                                DeleteId: "<button class='btn btn-danger btn-xs btn-block' onclick='btnJournalVoucherDeleteOnclick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: results[i]["Id"],
                                JVNumber: results[i]["JVNumber"],
                                JVDate: JVDate,
                                ManualJVNumber: results[i]["ManualJVNumber"],
                                Particulars: results[i]["Particulars"],
                                IsLocked: results[i]["IsLocked"],
                                CreatedBy: results[i]["CreatedBy"],
                                CreatedDateTime: results[i]["CreatedDateTime"],
                                UpdatedBy: results[i]["UpdatedBy"],
                                UpdatedDateTime: results[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return journalVoucherObservableArray;
        }

        // ========================
        // Journal Voucher FlexGrid
        // ========================
        function createJournalVoucherFlexGrid() {
            createCboDateRangeFilters();
            journalVoucherCollectionView = new wijmo.collections.CollectionView(getJournalVoucherData());
            journalVoucherCollectionView.canFilter = true;
            journalVoucherCollectionView.pageSize = 15;

            var filterTextJournalVoucher = '';
            $('#inpJournalVoucherFilterSearch').keyup(function () {
                filterTextJournalVoucher = this.value.toLowerCase();
                journalVoucherCollectionView.refresh();
            });

            journalVoucherCollectionView.filter = function (item) {
                return !filterTextJournalVoucher || (item.JVNumber.toLowerCase().indexOf(filterTextJournalVoucher) > -1)
                    || (item.ManualJVNumber.toLowerCase().indexOf(filterTextJournalVoucher) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterTextJournalVoucher) > -1);
            }

            journalVoucherCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateJournalVoucherNavigationButtons();
            });

            journalVoucherCollectionView.currentChanged.addHandler(function (sender, args) {
                updateJournalVoucherDetailsFlexGridSelection();
            });

            journalVoucherFlexGrid = new wijmo.grid.FlexGrid('#journalVoucherFlexGrid');
            journalVoucherFlexGrid.initialize({
                columns: [
                    @{
                        if (canEdit)
                        {
                            <text>
                                {
                                    "header": "Edit",
                                    "binding": "EditId",
                                    "width": 70,
                                    "align": "center",
                                    "allowResizing": false,
                                    "allowSorting": false,
                                    "isContentHtml": true
                                },
                            </text>
                        }
                        if (canDelete)
                        {
                            <text>
                                {
                                    "header": "Delete",
                                    "binding": "DeleteId",
                                    "width": 70,
                                    "align": "center",
                                    "allowResizing": false,
                                    "allowSorting": false,
                                    "isContentHtml": true
                                },
                            </text>
                        }
                    }
                    {
                        "header": "JV Number",
                        "binding": "JVNumber",
                        "allowSorting": true,
                        "width": 100
                    },
                    {
                        "header": "JV Date",
                        "binding": "JVDate",
                        "allowSorting": true,
                        "width": 90
                    },
                    {
                        "header": "Manual JV No.",
                        "binding": "ManualJVNumber",
                        "allowSorting": true,
                        "width": 120
                    },
                    {
                        "header": "Particulars",
                        "binding": "Particulars",
                        "allowSorting": true,
                        "width": "4*"
                    },
                    {
                        "header": "L",
                        "binding": "IsLocked",
                        "allowSorting": true,
                        "width": 50
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: journalVoucherCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            journalVoucherFlexGrid.trackChanges = true;

            btnFirstPageGridJournalVoucher = document.getElementById('btnJournalVoucherMoveToFirstPageGrid');
            btnPreviousPageGridJournalVoucher = document.getElementById('btnJournalVoucherMoveToPreviousPageGrid');
            btnNextPageGridJournalVoucher = document.getElementById('btnJournalVoucherMoveToNextPageGrid');
            btnLastPageGridJournalVoucher = document.getElementById('btnJournalVoucherMoveToLastPageGrid');
            btnJournalVoucherCurrentPageGrid = document.getElementById('btnJournalVoucherCurrentPageGrid');

            updateJournalVoucherNavigationButtons();

            btnFirstPageGridJournalVoucher.addEventListener('click', function () {
                journalVoucherCollectionView.moveToFirstPage();
                updateJournalVoucherNavigationButtons();
            });

            btnPreviousPageGridJournalVoucher.addEventListener('click', function () {
                journalVoucherCollectionView.moveToPreviousPage();
                updateJournalVoucherNavigationButtons();
            });

            btnNextPageGridJournalVoucher.addEventListener('click', function () {
                journalVoucherCollectionView.moveToNextPage();
                updateJournalVoucherNavigationButtons();
            });

            btnLastPageGridJournalVoucher.addEventListener('click', function () {
                journalVoucherCollectionView.moveToLastPage();
                updateJournalVoucherNavigationButtons();
            });
        }

        // ==================================================
        // Update Journal Voucher Details Flex Grid Selection
        // ==================================================
        function updateJournalVoucherDetailsFlexGridSelection() {
            var item = journalVoucherCollectionView.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // ==========================================
        // Update Journal Voucher Navigation Buttons
        // =========================================
        function updateJournalVoucherNavigationButtons() {
            if (journalVoucherCollectionView.pageSize <= 0) {
                document.getElementById('journalVoucherNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('journalVoucherNavigationPageGrid').style.display = 'block';
            if (journalVoucherCollectionView.pageIndex === 0) {
                btnFirstPageGridJournalVoucher.setAttribute('disabled', 'disabled');
                btnPreviousPageGridJournalVoucher.setAttribute('disabled', 'disabled');
                btnNextPageGridJournalVoucher.removeAttribute('disabled');
                btnLastPageGridJournalVoucher.removeAttribute('disabled');
            } else if (journalVoucherCollectionView.pageIndex === (journalVoucherCollectionView.pageCount - 1)) {
                btnFirstPageGridJournalVoucher.removeAttribute('disabled');
                btnPreviousPageGridJournalVoucher.removeAttribute('disabled');
                btnLastPageGridJournalVoucher.setAttribute('disabled', 'disabled');
                btnNextPageGridJournalVoucher.setAttribute('disabled', 'disabled');
            } else {
                btnFirstPageGridJournalVoucher.removeAttribute('disabled');
                btnPreviousPageGridJournalVoucher.removeAttribute('disabled');
                btnNextPageGridJournalVoucher.removeAttribute('disabled');
                btnLastPageGridJournalVoucher.removeAttribute('disabled');
            }
            btnJournalVoucherCurrentPageGrid.innerHTML = (journalVoucherCollectionView.pageIndex + 1) + ' / ' + journalVoucherCollectionView.pageCount;
        }

        // =================================
        // Refresh Journal Voucher Flex Grid
        // =================================
        function refreshJournalVoucherFlexGrid() {
            journalVoucherCollectionView = new wijmo.collections.CollectionView(getJournalVoucherData());
            journalVoucherCollectionView.canFilter = true;
            journalVoucherCollectionView.pageSize = 15;

            var filterTextJournalVoucher = '';
            $('#inpJournalVoucherFilterSearch').keyup(function () {
                filterTextJournalVoucher = this.value.toLowerCase();
                journalVoucherCollectionView.refresh();
            });

            journalVoucherCollectionView.filter = function (item) {
                return !filterTextJournalVoucher || (item.JVNumber.toLowerCase().indexOf(filterTextJournalVoucher) > -1)
                    || (item.ManualJVNumber.toLowerCase().indexOf(filterTextJournalVoucher) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterTextJournalVoucher) > -1);
            }

            journalVoucherCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateJournalVoucherNavigationButtons();
            });

            journalVoucherCollectionView.currentChanged.addHandler(function (sender, args) {
                updateJournalVoucherDetailsFlexGridSelection();
            });

            journalVoucherFlexGrid.itemsSource = journalVoucherCollectionView;
            journalVoucherFlexGrid.trackChanges = true;
        }

        // ===================
        // Add Journal Voucher
        // ===================
        function btnJournalVoucherAddOnclick() {
            document.getElementById('btnAddJournalVoucher').innerHTML = "<i class='fa fa-plus'></i> Adding...";
            $('#btnAddJournalVoucher').prop('disabled', true);
            $('#btnCloseJournalVoucher').prop('disabled', true);

            $.ajax({
                type: "POST",
                url: '/api/journalVoucher/add',
                contentType: "application/json; charset=utf-8",
                statusCode: {
                    200: function (id) {
                        window.location = '/Software/JournalVoucherDetail?id=' + id;
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        document.getElementById('btnAddJournalVoucher').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddJournalVoucher').prop('disabled', false);
                        $('#btnCloseJournalVoucher').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        document.getElementById('btnAddJournalVoucher').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddJournalVoucher').prop('disabled', false);
                        $('#btnCloseJournalVoucher').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        document.getElementById('btnAddJournalVoucher').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddJournalVoucher').prop('disabled', false);
                        $('#btnCloseJournalVoucher').prop('disabled', false);
                    }
                }
            });
        }

        // ====================
        // Edit Journal Voucher
        // ====================
        function btnJournalVoucherEditOnclick() {
            journalVoucherCollectionView.editItem(journalVoucherCollectionView.currentItem);
            var journalVoucher = journalVoucherCollectionView.currentEditItem;
            var journalVoucherId = journalVoucher.Id;
            window.location = '/Software/JournalVoucherDetail?id=' + journalVoucherId;
        }

        // ======================
        // Delete Journal Voucher
        // ======================
        function btnJournalVoucherDeleteOnclick() {
            journalVoucherCollectionView.editItem(journalVoucherCollectionView.currentItem);
            var journalVoucher = journalVoucherCollectionView.currentEditItem;
            if (journalVoucher.IsLocked) {
                toastr.error("Delete is not allowed when the selected record is locked!");
            } else {
                $('#journalVoucherConfirmDeleteModal').modal({
                    show: true,
                    backdrop: 'static'
                });

                document.getElementById('btnJournalVoucherConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $("#btnJournalVoucherConfirmDelete").prop("disabled", false);
                $("#btnJournalVoucherConfirmDeleteCloseModal").prop("disabled", false);
            }
        }

        // ==============================
        // Confirm Delete Journal Voucher
        // ==============================
        function btnJournalVoucherConfirmDeleteOnclick() {
            document.getElementById('btnJournalVoucherConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Deleting...";
            $("#btnJournalVoucherConfirmDelete").prop("disabled", true);
            $("#btnJournalVoucherConfirmDeleteCloseModal").prop("disabled", true);

            journalVoucherCollectionView.editItem(journalVoucherCollectionView.currentItem);
            var id = journalVoucherCollectionView.currentEditItem.Id;

            $.ajax({
                url: '/api/journalVoucher/delete/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#journalVoucherConfirmDeleteModal').modal('hide');
                        refreshJournalVoucherFlexGrid();
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        $('#journalVoucherConfirmDeleteModal').modal('hide');
                        document.getElementById('btnJournalVoucherConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnJournalVoucherConfirmDelete").prop("disabled", false);
                        $("#btnJournalVoucherConfirmDeleteCloseModal").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        $('#journalVoucherConfirmDeleteModal').modal('hide');
                        document.getElementById('btnJournalVoucherConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnJournalVoucherConfirmDelete").prop("disabled", false);
                        $("#btnJournalVoucherConfirmDeleteCloseModal").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        $('#journalVoucherConfirmDeleteModal').modal('hide');
                        document.getElementById('btnJournalVoucherConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnJournalVoucherConfirmDelete").prop("disabled", false);
                        $("#btnJournalVoucherConfirmDeleteCloseModal").prop("disabled", false);
                    }
                }
            });
        }

        // =====================
        // Close Journal Voucher
        // =====================
        function btnJournalVoucherCloseOnclick() {
            window.location = '/Software';
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createJournalVoucherFlexGrid();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>