<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Purchase Summary Report</title>
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Purchase Summary Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="puchaseSummaryReportFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboPuchaseSummaryReportShowNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnPurchaseOrderSummaryReportCSVOnclick()" id="btnPurchaseOrderSummaryReportCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnPurchaseOrderSummaryReportPrintPDFOnclick()" id="btnPurchaseOrderSummaryReportPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboPurchaseSummaryReportStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboPurchaseSummaryReportEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboPurchaseSummaryReportCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboPurchaseOrderSummaryReportBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="purchaseSummaryReportFlexGrid" class="grid"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="purchaseSummaryReportNaviagtionPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnPurchaseSummaryReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnPurchaseSummaryReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnPurchaseSummaryReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnPurchaseSummaryReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnPurchaseSummaryReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboPurchaseSummaryReportStartDate = new wijmo.input.InputDate('#cboPurchaseSummaryReportStartDate');
        var cboPurchaseSummaryReportEndDate = new wijmo.input.InputDate('#cboPurchaseSummaryReportEndDate');
        var isPurchaseSummaryReportStartDateSelected = false;
        var isPurchaseSummaryReportEndDateSelected = false;

        var cboPurchaseSummaryReportCompany = new wijmo.input.ComboBox('#cboPurchaseSummaryReportCompany');
        var cboPurchaseOrderSummaryReportBranch = new wijmo.input.ComboBox('#cboPurchaseOrderSummaryReportBranch');
        var isPurchaseSummaryReportCompanySelected = false;

        var purchaseSummaryReportCollections;
        var purchaseSummaryReportFlexGrid;

        var cboPuchaseSummaryReportShowNumberOfRows = new wijmo.input.ComboBox('#cboPuchaseSummaryReportShowNumberOfRows');

        var btnPurchaseSummaryReportMoveToFirstPageGrid = document.getElementById('btnPurchaseSummaryReportMoveToFirstPageGrid');
        var btnPurchaseSummaryReportMoveToPreviousPageGrid = document.getElementById('btnPurchaseSummaryReportMoveToPreviousPageGrid');
        var btnPurchaseSummaryReportMoveToNextPageGrid = document.getElementById('btnPurchaseSummaryReportMoveToNextPageGrid');
        var btnPurchaseSummaryReportMoveToLastPageGrid = document.getElementById('btnPurchaseSummaryReportMoveToLastPageGrid');
        var btnPurchaseSummaryReportCurrentPageGrid = document.getElementById('btnPurchaseSummaryReportCurrentPageGrid');

        var currentPageIndex = 0;

        // =============
        // Get Parameter
        // =============
        function getURLParameter(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ============
        // Date Filters
        // ============
        function purchaseOrderSummaryReportDateFilters() {
            NProgress.start();

            cboPurchaseSummaryReportStartDate.dispose();
            cboPurchaseSummaryReportStartDate = new wijmo.input.InputDate('#cboPurchaseSummaryReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameter("StartDate")),
                onValueChanged: function () {
                    if (!isPurchaseSummaryReportStartDateSelected) {
                        NProgress.start();
                        refreshPurchaseOrderSummaryReportFlexGrid();
                    } else {
                        isPurchaseSummaryReportStartDateSelected = false;
                    }
                }
            });

            cboPurchaseSummaryReportEndDate.dispose();
            cboPurchaseSummaryReportEndDate = new wijmo.input.InputDate('#cboPurchaseSummaryReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameter("EndDate")),
                onValueChanged: function () {
                    if (!isPurchaseSummaryReportEndDateSelected) {
                        NProgress.start();
                        refreshPurchaseOrderSummaryReportFlexGrid();
                    } else {
                        isPurchaseSummaryReportEndDateSelected = false;
                    }
                }
            });

            createCboCompany();
        }

        // ==============
        // Company Filter
        // ==============
        function createCboCompany() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/purchaseSummaryReport/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"],
                                Address: results[i]["Address"],
                                ContactNumber: results[i]["ContactNumber"],
                                TaxNumber: results[i]["TaxNumber"],
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnPurchaseOrderSummaryReportCSV").prop("disabled", true);
                        $("#btnPurchaseOrderSummaryReportPrintPDF").prop("disabled", true);
                    }

                    cboPurchaseSummaryReportCompany.dispose();
                    cboPurchaseSummaryReportCompany = new wijmo.input.ComboBox('#cboPurchaseSummaryReportCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameter("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnPurchaseOrderSummaryReportCSV").prop("disabled", false);
                            $("#btnPurchaseOrderSummaryReportPrintPDF").prop("disabled", false);

                            isPurchaseSummaryReportCompanySelected = true;
                            createCboBranch();
                        }
                    });

                    createCboBranch();
                }
            });
        }

        // =============
        // Branch Filter
        // =============
        function createCboBranch() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboPurchaseSummaryReportCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/purchaseSummaryReport/dropdown/list/branch/' + cboPurchaseSummaryReportCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    CompanyId: results[i]["CompanyId"],
                                    Branch: results[i]["Branch"],
                                    Address: results[i]["Address"],
                                    ContactNumber: results[i]["ContactNumber"],
                                    TaxNumber: results[i]["TaxNumber"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnPurchaseOrderSummaryReportCSV").prop("disabled", true);
                            $("#btnPurchaseOrderSummaryReportPrintPDF").prop("disabled", true);
                        }

                        cboPurchaseOrderSummaryReportBranch.dispose();
                        cboPurchaseOrderSummaryReportBranch = new wijmo.input.ComboBox('#cboPurchaseOrderSummaryReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameter("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshPurchaseOrderSummaryReportFlexGrid();
                            }
                        });

                        createCboShowRows();
                    }
                });
            }
        }

        // ===============
        // Show Rows Table
        // ===============
        function createCboShowRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboPuchaseSummaryReportShowNumberOfRows.dispose();
            cboPuchaseSummaryReportShowNumberOfRows = new wijmo.input.ComboBox('#cboPuchaseSummaryReportShowNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboPuchaseSummaryReportShowNumberOfRows.selectedValue;
                        purchaseSummaryReportCollections.pageSize = parseInt(numberOfRows);
                        purchaseSummaryReportCollections.refresh();
                        purchaseSummaryReportFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isPurchaseSummaryReportCompanySelected) {
                createPurchaseOrderSummaryReportFlexGrid();
            } else {
                refreshPurchaseOrderSummaryReportFlexGrid();
            }
        }

        // =================================
        // Get Purchase Order Summary Report
        // =================================
        function getPurchaseSummaryReport() {
            var purchaseSummaryReports = new wijmo.collections.ObservableArray;
            if (cboPurchaseSummaryReportCompany.selectedValue != null) {
                if (cboPurchaseOrderSummaryReportBranch.selectedValue != null) {

                    var startDate = cboPurchaseSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboPurchaseSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboPurchaseSummaryReportCompany.selectedValue;
                    var branchId = cboPurchaseOrderSummaryReportBranch.selectedValue;

                    $.ajax({
                        url: '/api/purchaseSummaryReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (results) {
                            var totalAmount = 0;

                            if (results.length > 0) {
                                for (i = 0; i < results.length; i++) {
                                    var docLink = "/Software/PurchaseOrderDetail?id=" + results[i]["POId"];

                                    var PODateResult = new Date(results[i]["PODate"]);
                                    var PODate = ('0' + (PODateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + PODateResult.getDate()).slice(-2) + '-' + PODateResult.getFullYear();

                                    var DateNeededResult = new Date(results[i]["DateNeeded"]);
                                    var DateNeeded = ('0' + (DateNeededResult.getMonth() + 1)).slice(-2) + '-' + ('0' + DateNeededResult.getDate()).slice(-2) + '-' + DateNeededResult.getFullYear();

                                    purchaseSummaryReports.push({
                                        BtnDetail: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block'><i class='fa fa-edit'></i> Detail",
                                        POId: results[i]["POId"],
                                        Branch: results[i]["Branch"],
                                        PONumber: results[i]["PONumber"],
                                        PODate: PODate,
                                        Supplier: results[i]["Supplier"],
                                        Term: results[i]["Term"],
                                        ManualRequestNumber: results[i]["ManualRequestNumber"],
                                        DateNeeded: DateNeeded,
                                        IsClose: results[i]["IsClose"],
                                        Amount: results[i]["Amount"],
                                        AmountDisplay: parseFloat(results[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    });

                                    totalAmount += results[i]["Amount"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return purchaseSummaryReports;
        }

        // =========================
        // Update Navigation Buttons
        // =========================
        function updateNavigateButtonsItems() {
            if (purchaseSummaryReportCollections.pageSize <= 0) {
                document.getElementById('purchaseSummaryReportNaviagtionPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('purchaseSummaryReportNaviagtionPageGrid').style.display = 'block';
            if (purchaseSummaryReportCollections.pageIndex === 0) {
                btnPurchaseSummaryReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnPurchaseSummaryReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnPurchaseSummaryReportMoveToNextPageGrid.removeAttribute('disabled');
                btnPurchaseSummaryReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (purchaseSummaryReportCollections.pageIndex === (purchaseSummaryReportCollections.pageCount - 1)) {
                btnPurchaseSummaryReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnPurchaseSummaryReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnPurchaseSummaryReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnPurchaseSummaryReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnPurchaseSummaryReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnPurchaseSummaryReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnPurchaseSummaryReportMoveToNextPageGrid.removeAttribute('disabled');
                btnPurchaseSummaryReportMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnPurchaseSummaryReportCurrentPageGrid.innerHTML = (purchaseSummaryReportCollections.pageIndex + 1) + ' / ' + purchaseSummaryReportCollections.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshPurchaseOrderSummaryReportFlexGrid() {
            purchaseSummaryReportCollections = new wijmo.collections.CollectionView(getPurchaseSummaryReport());
            purchaseSummaryReportCollections.canFilter = true;
            purchaseSummaryReportCollections.pageSize = cboPuchaseSummaryReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#puchaseSummaryReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                purchaseSummaryReportCollections.refresh();
            });

            purchaseSummaryReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Term.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ManualRequestNumber.toLowerCase().indexOf(filterText) > -1);
            }

            purchaseSummaryReportCollections.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItems();
            });

            purchaseSummaryReportFlexGrid.itemsSource = purchaseSummaryReportCollections;
            purchaseSummaryReportFlexGrid.trackChanges = true;
        }

        // =========
        // Flex Grid
        // =========
        function createPurchaseOrderSummaryReportFlexGrid() {
            purchaseSummaryReportCollections = new wijmo.collections.CollectionView(getPurchaseSummaryReport());
            purchaseSummaryReportCollections.canFilter = true;
            purchaseSummaryReportCollections.pageSize = cboPuchaseSummaryReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#puchaseSummaryReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                purchaseSummaryReportCollections.refresh();
            });

            purchaseSummaryReportCollections.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Term.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ManualRequestNumber.toLowerCase().indexOf(filterText) > -1);
            }

            purchaseSummaryReportCollections.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItems();
            });

            purchaseSummaryReportFlexGrid = new wijmo.grid.FlexGrid('#purchaseSummaryReportFlexGrid');
            purchaseSummaryReportFlexGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 70,
                        "isContentHtml": true
                    },
                    {
                        "header": "PO No.",
                        "binding": "PONumber",
                        "allowSorting": true,
                        "width": 100
                    },
                    {
                        "header": "PO Date",
                        "binding": "PODate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": "2.5*"
                    },
                    {
                        "header": "Terms",
                        "binding": "Term",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Request No.",
                        "binding": "ManualRequestNumber",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Date Needed",
                        "binding": "DateNeeded",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Close",
                        "binding": "IsClose",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1.5*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: purchaseSummaryReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            purchaseSummaryReportFlexGrid.trackChanges = true;

            updateNavigateButtonsItems();

            btnPurchaseSummaryReportMoveToFirstPageGrid.addEventListener('click', function () {
                purchaseSummaryReportCollections.moveToFirstPage();
                currentPageIndex = purchaseSummaryReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnPurchaseSummaryReportMoveToPreviousPageGrid.addEventListener('click', function () {
                purchaseSummaryReportCollections.moveToPreviousPage();
                currentPageIndex = purchaseSummaryReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnPurchaseSummaryReportMoveToNextPageGrid.addEventListener('click', function () {
                purchaseSummaryReportCollections.moveToNextPage();
                currentPageIndex = purchaseSummaryReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnPurchaseSummaryReportMoveToLastPageGrid.addEventListener('click', function () {
                purchaseSummaryReportCollections.moveToLastPage();
                currentPageIndex = purchaseSummaryReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });
        }

        // ============
        // Download CSV
        // ============
        function btnPurchaseOrderSummaryReportCSVOnclick() {
            var CSV = '';
            var purchaseSummaryReport = [];
            var fileName = 'PurchaseSummaryReport.CSV';

            purchaseSummaryReportCollections.moveToFirstPage();

            for (var p = 1; p <= purchaseSummaryReportCollections.pageCount; p++) {
                for (i = 0; i < purchaseSummaryReportCollections.items.length; i++) {

                    var IsClose = purchaseSummaryReportCollections.items[i].IsClose;

                    var isPOClose = "Not Closed";
                    if (IsClose) {
                        isPOClose = "Closed"
                    }

                    purchaseSummaryReport.push({
                        Branch: purchaseSummaryReportCollections.items[i].Branch,
                        PONumber: "PO-" + purchaseSummaryReportCollections.items[i].PONumber,
                        PODate: purchaseSummaryReportCollections.items[i].PODate,
                        Supplier: purchaseSummaryReportCollections.items[i].Supplier,
                        Term: purchaseSummaryReportCollections.items[i].Term,
                        ManualRequestNumber: purchaseSummaryReportCollections.items[i].ManualRequestNumber,
                        DateNeeded: purchaseSummaryReportCollections.items[i].DateNeeded,
                        IsClose: isPOClose,
                        Amount: purchaseSummaryReportCollections.items[i].Amount,
                    });
                }

                purchaseSummaryReportCollections.moveToNextPage();

                if (p == purchaseSummaryReportCollections.pageCount) {
                    purchaseSummaryReportCollections.moveToPage(currentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                PONumber: "PO Number",
                PODate: "PO Date",
                Supplier: "Supplier",
                Term: "Terms",
                ManualRequestNumber: "Request No.",
                DateNeeded: "Date Needed",
                IsClose: "Status",
                Amount: "Amount"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < purchaseSummaryReport.length; i++) {
                var row = '';
                for (var a in purchaseSummaryReport[i]) {
                    row += '"' + purchaseSummaryReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnPurchaseOrderSummaryReportPrintPDFOnclick() {
            if (cboPurchaseSummaryReportCompany.selectedValue != null) {
                if (cboPurchaseOrderSummaryReportBranch.selectedValue != null) {
                    var startDate = cboPurchaseSummaryReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboPurchaseSummaryReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboPurchaseSummaryReportCompany.selectedValue;
                    var branchId = cboPurchaseOrderSummaryReportBranch.selectedValue;

                    window.location.href = '/RepPurchaseSummaryReport/PurchaseSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            purchaseOrderSummaryReportDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>