<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Receiving Receipt Detail Report</title>
    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Receiving Receipt Detail Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="receivingReceiptDetailReportFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="receivingReceiptDetailReportShowNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnReceivingReceiptDetailReportCSVOnclick()" id="btnReceivingReceiptDetailReportCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnReceivingReceiptDetailReportPDFOnclick()" id="btnReceivingReceiptDetailReportPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptDetailReportStartDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptDetailReportEndDate"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptDetailReportCompany"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptDetailReportBranch"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="receivingReceiptDetailReportGrid" style="font-size: 11.5px;"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="receivingReceiptDetailReportNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptDetailReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptDetailReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnReceivingReceiptDetailReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptDetailReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptDetailReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total VAT</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalVATAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total WTAX</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalWTAXAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ================
        // Global Variables
        // ================
        var cboReceivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#cboReceivingReceiptDetailReportStartDate');
        var cboReceivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#cboReceivingReceiptDetailReportEndDate');
        var isReceivingReceiptDetailReportStartDateSelected = false;
        var isReceivingReceiptDetailReportEndDateSelected = false;

        var cboReceivingReceiptDetailReportCompany = new wijmo.input.ComboBox('#cboReceivingReceiptDetailReportCompany');
        var cboReceivingReceiptDetailReportBranch = new wijmo.input.ComboBox('#cboReceivingReceiptDetailReportBranch');
        var isReceivingReceiptDetailReportCompanySelected = false;

        var receivingReceiptDetailReportCollections;
        var receivingReceiptDetailReportGrid;

        var receivingReceiptDetailReportShowNumberOfRows = new wijmo.input.ComboBox('#receivingReceiptDetailReportShowNumberOfRows');
        var btnReceivingReceiptDetailReportMoveToFirstPageGrid = document.getElementById('btnReceivingReceiptDetailReportMoveToFirstPageGrid');
        var btnReceivingReceiptDetailReportMoveToPreviousPageGrid = document.getElementById('btnReceivingReceiptDetailReportMoveToPreviousPageGrid');
        var btnReceivingReceiptDetailReportMoveToNextPageGrid = document.getElementById('btnReceivingReceiptDetailReportMoveToNextPageGrid');
        var btnReceivingReceiptDetailReportMoveToLastPageGrid = document.getElementById('btnReceivingReceiptDetailReportMoveToLastPageGrid');
        var btnReceivingReceiptDetailReportCurrentPageGrid = document.getElementById('btnReceivingReceiptDetailReportCurrentPageGrid');
        var currentPageIndex = 0;

        // =================
        // Get URL Parameter
        // =================
        function getURLParameter(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ============
        // Date Filters
        // ============
        function receivingReceiptDetailReportDateFilters() {
            NProgress.start();

            cboReceivingReceiptDetailReportStartDate.dispose();
            cboReceivingReceiptDetailReportStartDate = new wijmo.input.InputDate('#cboReceivingReceiptDetailReportStartDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameter("StartDate")),
                onValueChanged: function () {
                    if (!isReceivingReceiptDetailReportStartDateSelected) {
                        NProgress.start();
                        refreshReceivingReceiptDetailReportFlexGrid();
                    } else {
                        isReceivingReceiptDetailReportStartDateSelected = false;
                    }
                }
            });

            cboReceivingReceiptDetailReportEndDate.dispose();
            cboReceivingReceiptDetailReportEndDate = new wijmo.input.InputDate('#cboReceivingReceiptDetailReportEndDate', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameter("EndDate")),
                onValueChanged: function () {
                    if (!isReceivingReceiptDetailReportEndDateSelected) {
                        NProgress.start();
                        refreshReceivingReceiptDetailReportFlexGrid();
                    } else {
                        isReceivingReceiptDetailReportEndDateSelected = false;
                    }
                }
            });

            createCboCompany();
        }

        // ==============
        // Company Filter
        // ==============
        function createCboCompany() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/receivingReceiptDetailReport/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnReceivingReceiptDetailReportCSV").prop("disabled", true);
                        $("#btnReceivingReceiptDetailReportPDF").prop("disabled", true);
                    }

                    cboReceivingReceiptDetailReportCompany.dispose();
                    cboReceivingReceiptDetailReportCompany = new wijmo.input.ComboBox('#cboReceivingReceiptDetailReportCompany', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameter("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnReceivingReceiptDetailReportCSV").prop("disabled", false);
                            $("#btnReceivingReceiptDetailReportPDF").prop("disabled", false);
                            isReceivingReceiptDetailReportCompanySelected = true;
                            createCboBranch();
                        }
                    });

                    createCboBranch();
                }
            });
        }

        // =============
        // Branch Filter
        // =============
        function createCboBranch() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboReceivingReceiptDetailReportCompany.selectedValue != null) {
                $.ajax({
                    url: '/api/receivingReceiptDetailReport/dropdown/list/branch/' + cboReceivingReceiptDetailReportCompany.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    Branch: branchResults[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnReceivingReceiptDetailReportCSV").prop("disabled", true);
                            $("#btnReceivingReceiptDetailReportPDF").prop("disabled", true);
                        }

                        cboReceivingReceiptDetailReportBranch.dispose();
                        cboReceivingReceiptDetailReportBranch = new wijmo.input.ComboBox('#cboReceivingReceiptDetailReportBranch', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameter("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshReceivingReceiptDetailReportFlexGrid();
                            }
                        });

                        createCboShowRows();
                    }
                });
            }
        }

        // ===============
        // Show Rows Table
        // ===============
        function createCboShowRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            receivingReceiptDetailReportShowNumberOfRows.dispose();
            receivingReceiptDetailReportShowNumberOfRows = new wijmo.input.ComboBox('#receivingReceiptDetailReportShowNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = receivingReceiptDetailReportShowNumberOfRows.selectedValue;
                        receivingReceiptDetailReportCollections.pageSize = parseInt(numberOfRows);
                        receivingReceiptDetailReportCollections.refresh();
                        receivingReceiptDetailReportGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isReceivingReceiptDetailReportCompanySelected) {
                createReceivingReceiptDetailReportFlexGrid();
            } else {
                refreshReceivingReceiptDetailReportFlexGrid();
            }
        }

        // ========================================
        // Get Receiving Receipt Order Detail Data
        // ========================================
        function getReceivingReceiptDetailReport() {
            var receivingReceiptDetailReports = new wijmo.collections.ObservableArray;
            if (cboReceivingReceiptDetailReportCompany.selectedValue != null) {
                if (cboReceivingReceiptDetailReportBranch.selectedValue != null) {

                    var startDate = cboReceivingReceiptDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboReceivingReceiptDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboReceivingReceiptDetailReportCompany.selectedValue;
                    var branchId = cboReceivingReceiptDetailReportBranch.selectedValue;

                    $.ajax({
                        url: '/api/receivingReceiptDetailReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (results) {
                            var totalAmount = 0, totalVAT = 0, totalWTAX = 0;
                            if (results.length > 0) {
                                for (i = 0; i < results.length; i++) {
                                    var docLink = "/Software/ReceivingReceiptDetail?id=" + results[i]["RRId"];

                                    var RRDateResult = new Date(results[i]["RRDate"])
                                    var RRDate = ('0' + (RRDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + RRDateResult.getDate()).slice(-2) + '-' + RRDateResult.getFullYear();

                                    receivingReceiptDetailReports.push({
                                        BtnDetail: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block' style='font-size: 9px;'><i class='fa fa-edit'></i> Detail",
                                        RRId: results[i]["RRId"],
                                        Branch: results[i]["Branch"],
                                        RRNumber: "RR-" + results[i]["RRNumber"],
                                        RRDate: RRDate,
                                        Supplier: results[i]["Supplier"],
                                        Remarks: results[i]["Remarks"],
                                        PONumber: "PO-" + results[i]["PONumber"],
                                        Quantity: results[i]["Quantity"],
                                        QuantityDisplay: parseFloat(results[i]["Quantity"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        ItemCode: results[i]["ItemCode"],
                                        ItemDescription: results[i]["ItemDescription"],
                                        Unit: results[i]["Unit"],
                                        Cost: results[i]["Cost"],
                                        CostDisplay: parseFloat(results[i]["Cost"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Amount: results[i]["Amount"],
                                        AmountDisplay: parseFloat(results[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        VAT: results[i]["VAT"],
                                        VATDisplay: parseFloat(results[i]["VAT"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        WTAX: results[i]["WTAX"],
                                        WTAXDisplay: parseFloat(results[i]["WTAX"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                    });

                                    totalAmount += results[i]["Amount"];
                                    totalVAT += results[i]["VAT"];
                                    totalWTAX += results[i]["WTAX"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            document.getElementById("totalVATAmount").value = parseFloat(totalVAT).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            document.getElementById("totalWTAXAmount").value = parseFloat(totalWTAX).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalVATAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalWTAXAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalVATAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalWTAXAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return receivingReceiptDetailReports;
        }

        // =========================
        // Update Navigation Buttons
        // =========================
        function updateNavigateButtonsItems() {
            if (receivingReceiptDetailReportCollections.pageSize <= 0) {
                document.getElementById('receivingReceiptDetailReportNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('receivingReceiptDetailReportNavigationPageGrid').style.display = 'block';
            if (receivingReceiptDetailReportCollections.pageIndex === 0) {
                btnReceivingReceiptDetailReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnReceivingReceiptDetailReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnReceivingReceiptDetailReportMoveToNextPageGrid.removeAttribute('disabled');
                btnReceivingReceiptDetailReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (receivingReceiptDetailReportCollections.pageIndex === (receivingReceiptDetailReportCollections.pageCount - 1)) {
                btnReceivingReceiptDetailReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnReceivingReceiptDetailReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnReceivingReceiptDetailReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnReceivingReceiptDetailReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnReceivingReceiptDetailReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnReceivingReceiptDetailReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnReceivingReceiptDetailReportMoveToNextPageGrid.removeAttribute('disabled');
                btnReceivingReceiptDetailReportMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnReceivingReceiptDetailReportCurrentPageGrid.innerHTML = (receivingReceiptDetailReportCollections.pageIndex + 1) + ' / ' + receivingReceiptDetailReportCollections.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshReceivingReceiptDetailReportFlexGrid() {
            receivingReceiptDetailReportCollections = new wijmo.collections.CollectionView(getReceivingReceiptDetailReport());
            receivingReceiptDetailReportCollections.canFilter = true;
            receivingReceiptDetailReportCollections.pageSize = receivingReceiptDetailReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#receivingReceiptDetailReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                receivingReceiptDetailReportCollections.refresh();
            });

            receivingReceiptDetailReportCollections.filter = function (item) {
                return !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ItemCode.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ItemDescription.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            receivingReceiptDetailReportCollections.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItems();
            });

            receivingReceiptDetailReportGrid.itemsSource = receivingReceiptDetailReportCollections;
            receivingReceiptDetailReportGrid.trackChanges = true;
        }

        // =========
        // Flex Grid
        // =========
        function createReceivingReceiptDetailReportFlexGrid() {
            receivingReceiptDetailReportCollections = new wijmo.collections.CollectionView(getReceivingReceiptDetailReport());
            receivingReceiptDetailReportCollections.canFilter = true;
            receivingReceiptDetailReportCollections.pageSize = receivingReceiptDetailReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#receivingReceiptDetailReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                receivingReceiptDetailReportCollections.refresh();
            });

            receivingReceiptDetailReportCollections.filter = function (item) {
                return !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.PONumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ItemCode.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.ItemDescription.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            receivingReceiptDetailReportCollections.collectionChanged.addHandler(function (sender, args) {
                updateNavigateButtonsItems();
            });

            receivingReceiptDetailReportGrid = new wijmo.grid.FlexGrid('#receivingReceiptDetailReportGrid');
            receivingReceiptDetailReportGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 55,
                        "isContentHtml": true
                    },
                    {
                        "header": "RR No.",
                        "binding": "RRNumber",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1.4*"
                    },
                    {
                        "header": "RR Date",
                        "binding": "RRDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Remarks",
                        "binding": "Remarks",
                        "allowSorting": true,
                        "width": "1.2*"
                    },
                    {
                        "header": "PO No.",
                        "binding": "PONumber",
                        "allowSorting": true,
                        "width": "1.4*"
                    },
                    {
                        "header": "Quantity",
                        "binding": "QuantityDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Code",
                        "binding": "ItemCode",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Description",
                        "binding": "ItemDescription",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Unit",
                        "binding": "Unit",
                        "allowSorting": true,
                        "width": "0.7*"
                    },
                    {
                        "header": "Cost",
                        "binding": "CostDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "VAT",
                        "binding": "VATDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "WTax",
                        "binding": "WTAXDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    }
                ],

                autoGenerateColumns: false,
                itemsSource: receivingReceiptDetailReportCollections,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            receivingReceiptDetailReportGrid.trackChanges = true;

            updateNavigateButtonsItems();

            btnReceivingReceiptDetailReportMoveToFirstPageGrid.addEventListener('click', function () {
                receivingReceiptDetailReportCollections.moveToFirstPage();
                currentPageIndex = receivingReceiptDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnReceivingReceiptDetailReportMoveToPreviousPageGrid.addEventListener('click', function () {
                receivingReceiptDetailReportCollections.moveToPreviousPage();
                currentPageIndex = receivingReceiptDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnReceivingReceiptDetailReportMoveToNextPageGrid.addEventListener('click', function () {
                receivingReceiptDetailReportCollections.moveToNextPage();
                currentPageIndex = receivingReceiptDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });

            btnReceivingReceiptDetailReportMoveToLastPageGrid.addEventListener('click', function () {
                receivingReceiptDetailReportCollections.moveToLastPage();
                currentPageIndex = receivingReceiptDetailReportCollections.pageIndex + 1;
                updateNavigateButtonsItems();
            });
        }

        // ============
        // Download CSV
        // ============
        function btnReceivingReceiptDetailReportCSVOnclick() {
            var CSV = '';
            var receivingReceiptDetailReport = [];
            var fileName = 'ReceivingReceiptDetailReport.CSV';

            receivingReceiptDetailReportCollections.moveToFirstPage();

            for (var p = 1; p <= receivingReceiptDetailReportCollections.pageCount; p++) {
                for (i = 0; i < receivingReceiptDetailReportCollections.items.length; i++) {
                    receivingReceiptDetailReport.push({
                        Branch: receivingReceiptDetailReportCollections.items[i].Branch,
                        RRNumber: receivingReceiptDetailReportCollections.items[i].RRNumber,
                        RRDate: receivingReceiptDetailReportCollections.items[i].RRDate,
                        Supplier: receivingReceiptDetailReportCollections.items[i].Supplier,
                        Remarks: receivingReceiptDetailReportCollections.items[i].Remarks,
                        PONumber: receivingReceiptDetailReportCollections.items[i].PONumber,
                        Quantity: receivingReceiptDetailReportCollections.items[i].Quantity,
                        ItemCode: receivingReceiptDetailReportCollections.items[i].ItemCode,
                        ItemDescription: receivingReceiptDetailReportCollections.items[i].ItemDescription,
                        Unit: receivingReceiptDetailReportCollections.items[i].Unit,
                        Cost: receivingReceiptDetailReportCollections.items[i].Cost,
                        Amount: receivingReceiptDetailReportCollections.items[i].Amount,
                        VAT: receivingReceiptDetailReportCollections.items[i].VAT,
                        WTAX: receivingReceiptDetailReportCollections.items[i].WTAX,
                    });
                }

                receivingReceiptDetailReportCollections.moveToNextPage();
                if (p == receivingReceiptDetailReportCollections.pageCount) {
                    receivingReceiptDetailReportCollections.moveToPage(currentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                RRNumber: "RR Number",
                RRDate: "RR Date",
                Supplier: "Supplier",
                Remarks: "Remarks",
                PONumber: "PO Number",
                Quantity: "Quantity",
                ItemCode: "Code",
                ItemDescription: "Description",
                Unit: "Unit",
                Cost: "Cost",
                Amount: "Amount",
                VAT: "VAT",
                WTAX: "WTAX",
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < receivingReceiptDetailReport.length; i++) {
                var row = '';
                for (var a in receivingReceiptDetailReport[i]) {
                    row += '"' + receivingReceiptDetailReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnReceivingReceiptDetailReportPDFOnclick() {
            if (cboReceivingReceiptDetailReportCompany.selectedValue != null) {
                if (cboReceivingReceiptDetailReportBranch.selectedValue != null) {
                    var startDate = cboReceivingReceiptDetailReportStartDate.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboReceivingReceiptDetailReportEndDate.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboReceivingReceiptDetailReportCompany.selectedValue;
                    var branchId = cboReceivingReceiptDetailReportBranch.selectedValue;

                    window.location.href = '/RepReceivingReceiptDetailReport/ReceivingReceiptDetailReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            receivingReceiptDetailReportDateFilters();
        });
    </script>
    <script type="text/javascript">
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>