<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Receiving Receipt Summary Report</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Receiving Receipt Summary Report
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpReceivingReceiptSummaryReportFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptSummaryReportShowNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnReceivingReceiptSummaryReportDownloadCSVOnclick()" id="btnReceivingReceiptSummaryReportDownloadCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnReceivingReceiptSummaryReportPDFOnclick()" id="btnReceivingReceiptSummaryReportPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsPayable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ======================================
                        Date Range, Company and Branch Filters
                        ======================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptSummaryReportStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptSummaryReportEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptSummaryReportCompanyFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboReceivingReceiptSummaryReportBranchFilter"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="receivingReceiptSummaryReportFlexGrid" style="font-size: 12px;"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="receivingReceiptSummaryReportNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptSummaryReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptSummaryReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnReceivingReceiptSummaryReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptSummaryReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnReceivingReceiptSummaryReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ======
                    Totals
                    ======
                -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ============
        // Date Filters
        // ============
        var cboReceivingReceiptSummaryReportStartDateFilter = new wijmo.input.InputDate('#cboReceivingReceiptSummaryReportStartDateFilter');
        var cboReceivingReceiptSummaryReportEndDateFilter = new wijmo.input.InputDate('#cboReceivingReceiptSummaryReportEndDateFilter');
        var isReceivingReceiptSummaryReportStartDateSelected = false;
        var isReceivingReceiptSummaryReportEndDateSelected = false;

        // =========================
        // Company and Branch Filter
        // =========================
        var cboReceivingReceiptSummaryReportCompanyFilter = new wijmo.input.ComboBox('#cboReceivingReceiptSummaryReportCompanyFilter');
        var cboReceivingReceiptSummaryReportBranchFilter = new wijmo.input.ComboBox('#cboReceivingReceiptSummaryReportBranchFilter');
        var isReceivingReceiptSummaryReportCompanySelected = false;

        // =============================
        // Collection View and Flex Grid
        // =============================
        var receivingReceiptSummaryReportCollectionView;
        var receivingReceiptSummaryReportFlexGrid;
        var cboReceivingReceiptSummaryReportShowNumberOfRows = new wijmo.input.ComboBox('#cboReceivingReceiptSummaryReportShowNumberOfRows');

        // ==================
        // Navigation Buttons
        // ==================
        var btnReceivingReceiptSummaryReportMoveToFirstPageGrid = document.getElementById('btnReceivingReceiptSummaryReportMoveToFirstPageGrid');
        var btnReceivingReceiptSummaryReportMoveToPreviousPageGrid = document.getElementById('btnReceivingReceiptSummaryReportMoveToPreviousPageGrid');
        var btnReceivingReceiptSummaryReportMoveToNextPageGrid = document.getElementById('btnReceivingReceiptSummaryReportMoveToNextPageGrid');
        var btnReceivingReceiptSummaryReportMoveToLastPageGrid = document.getElementById('btnReceivingReceiptSummaryReportMoveToLastPageGrid');
        var btnReceivingReceiptSummaryReportCurrentPageGrid = document.getElementById('btnReceivingReceiptSummaryReportCurrentPageGrid');
        var currentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ================================
        // Create Combo Date Ranged Filters
        // ================================
        function createCboDateRangeFilters() {
            NProgress.start();

            cboReceivingReceiptSummaryReportStartDateFilter.dispose();
            cboReceivingReceiptSummaryReportStartDateFilter = new wijmo.input.InputDate('#cboReceivingReceiptSummaryReportStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("StartDate")),
                onValueChanged: function () {
                    if (!isReceivingReceiptSummaryReportStartDateSelected) {
                        NProgress.start();
                        refreshReceivingReceiptSummaryReportFlexGrid();
                    } else {
                        isReceivingReceiptSummaryReportStartDateSelected = false;
                    }
                }
            });

            cboReceivingReceiptSummaryReportEndDateFilter.dispose();
            cboReceivingReceiptSummaryReportEndDateFilter = new wijmo.input.InputDate('#cboReceivingReceiptSummaryReportEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("EndDate")),
                onValueChanged: function () {
                    if (!isReceivingReceiptSummaryReportEndDateSelected) {
                        NProgress.start();
                        refreshReceivingReceiptSummaryReportFlexGrid();
                    } else {
                        isReceivingReceiptSummaryReportEndDateSelected = false;
                    }
                }
            });

            createCboCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/receivingReceiptSummaryReport/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnReceivingReceiptSummaryReportDownloadCSV").prop("disabled", true);
                        $("#btnReceivingReceiptSummaryReportPDF").prop("disabled", true);
                    }

                    cboReceivingReceiptSummaryReportCompanyFilter.dispose();
                    cboReceivingReceiptSummaryReportCompanyFilter = new wijmo.input.ComboBox('#cboReceivingReceiptSummaryReportCompanyFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnReceivingReceiptSummaryReportDownloadCSV").prop("disabled", false);
                            $("#btnReceivingReceiptSummaryReportPDF").prop("disabled", false);
                            isReceivingReceiptSummaryReportCompanySelected = true;
                            createCboBranchFilter();
                        }
                    });

                    createCboBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboReceivingReceiptSummaryReportCompanyFilter.selectedValue != null) {
                $.ajax({
                    url: '/api/receivingReceiptSummaryReport/dropdown/list/branch/' + cboReceivingReceiptSummaryReportCompanyFilter.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnReceivingReceiptSummaryReportDownloadCSV").prop("disabled", true);
                            $("#btnReceivingReceiptSummaryReportPDF").prop("disabled", true);
                        }

                        cboReceivingReceiptSummaryReportBranchFilter.dispose();
                        cboReceivingReceiptSummaryReportBranchFilter = new wijmo.input.ComboBox('#cboReceivingReceiptSummaryReportBranchFilter', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshReceivingReceiptSummaryReportFlexGrid();
                            }
                        });

                        createCboShowRows();
                    }
                });
            }
        }

        // ===================================
        // Create Combo Display Number of Rows
        // ===================================
        function createCboShowRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboReceivingReceiptSummaryReportShowNumberOfRows.dispose();
            cboReceivingReceiptSummaryReportShowNumberOfRows = new wijmo.input.ComboBox('#cboReceivingReceiptSummaryReportShowNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboReceivingReceiptSummaryReportShowNumberOfRows.selectedValue;
                        receivingReceiptSummaryReportCollectionView.pageSize = parseInt(numberOfRows);
                        receivingReceiptSummaryReportCollectionView.refresh();
                        receivingReceiptSummaryReportFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isReceivingReceiptSummaryReportCompanySelected) {
                createReceivingReceiptSummaryReportFlexGrid();
            } else {
                refreshReceivingReceiptSummaryReportFlexGrid();
            }
        }

        // =========================================
        // Get Receiving Receipt Summary Report Data
        // =========================================
        function getReceivingReceiptSummaryReportData() {
            var receivingReceiptSummaryReports = new wijmo.collections.ObservableArray;

            if (cboReceivingReceiptSummaryReportCompanyFilter.selectedValue != null) {
                if (cboReceivingReceiptSummaryReportBranchFilter.selectedValue != null) {

                    var startDate = cboReceivingReceiptSummaryReportStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboReceivingReceiptSummaryReportEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboReceivingReceiptSummaryReportCompanyFilter.selectedValue;
                    var branchId = cboReceivingReceiptSummaryReportBranchFilter.selectedValue;

                    $.ajax({
                        url: '/api/receivingReceiptSummaryReport/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (results) {
                            var inpTotalAmount = 0;
                            if (results.length > 0) {
                                for (i = 0; i < results.length; i++) {
                                    var docLink = "/Software/ReceivingReceiptDetail?id=" + results[i]["RRId"];

                                    var RRDateResult = new Date(results[i]["RRDate"])
                                    var RRDate = ('0' + (RRDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + RRDateResult.getDate()).slice(-2) + '-' + RRDateResult.getFullYear();

                                    receivingReceiptSummaryReports.push({
                                        BtnDetail: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block' style='font-size: 9.5px;'><i class='fa fa-edit'></i> Detail",
                                        RRId: results[i]["RRId"],
                                        Branch: results[i]["Branch"],
                                        RRNumber: results[i]["RRNumber"],
                                        RRDate: RRDate,
                                        Supplier: results[i]["Supplier"],
                                        Term: results[i]["Term"],
                                        Remarks: results[i]["Remarks"],
                                        DocumentReference: results[i]["DocumentReference"],
                                        Amount: results[i]["Amount"],
                                        AmountDisplay: parseFloat(results[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        WTaxAmount: results[i]["WTaxAmount"],
                                        WTaxAmountDisplay: parseFloat(results[i]["WTaxAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        RRAmount: results[i]["RRAmount"],
                                        RRAmountDisplay: parseFloat(results[i]["RRAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    });

                                    inpTotalAmount += results[i]["Amount"];
                                }
                            }

                            document.getElementById("inpTotalAmount").value = parseFloat(inpTotalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("inpTotalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("inpTotalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return receivingReceiptSummaryReports;
        }

        // =================================================
        // Create Receiving Receipt Summary Report Flex Grid
        // =================================================
        function createReceivingReceiptSummaryReportFlexGrid() {
            receivingReceiptSummaryReportCollectionView = new wijmo.collections.CollectionView(getReceivingReceiptSummaryReportData());
            receivingReceiptSummaryReportCollectionView.canFilter = true;
            receivingReceiptSummaryReportCollectionView.pageSize = cboReceivingReceiptSummaryReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpReceivingReceiptSummaryReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                receivingReceiptSummaryReportCollectionView.refresh();
            });

            receivingReceiptSummaryReportCollectionView.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Term.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            receivingReceiptSummaryReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateReceivingReceiptSummaryReportNavigationButtons();
            });

            receivingReceiptSummaryReportFlexGrid = new wijmo.grid.FlexGrid('#receivingReceiptSummaryReportFlexGrid');
            receivingReceiptSummaryReportFlexGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 70,
                        "isContentHtml": true
                    },
                    {
                        "header": "RR No.",
                        "binding": "RRNumber",
                        "allowSorting": true,
                        "width": 100
                    },
                    {
                        "header": "RR Date",
                        "binding": "RRDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Supplier",
                        "binding": "Supplier",
                        "allowSorting": true,
                        "width": "2.5*"
                    },
                    {
                        "header": "Terms",
                        "binding": "Term",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Remarks",
                        "binding": "Remarks",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Doc Ref.",
                        "binding": "DocumentReference",
                        "allowSorting": true,
                        "width": "1.5*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1.3*"
                    },
                    {
                        "header": "WTax",
                        "binding": "WTaxAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1.3*"
                    },
                    {
                        "header": "Amount",
                        "binding": "RRAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1.3*"
                    },
                ],
                autoGenerateColumns: false,
                itemsSource: receivingReceiptSummaryReportCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            receivingReceiptSummaryReportFlexGrid.trackChanges = true;

            updateReceivingReceiptSummaryReportNavigationButtons();

            btnReceivingReceiptSummaryReportMoveToFirstPageGrid.addEventListener('click', function () {
                receivingReceiptSummaryReportCollectionView.moveToFirstPage();
                currentPageIndex = receivingReceiptSummaryReportCollectionView.pageIndex + 1;
                updateReceivingReceiptSummaryReportNavigationButtons();
            });

            btnReceivingReceiptSummaryReportMoveToPreviousPageGrid.addEventListener('click', function () {
                receivingReceiptSummaryReportCollectionView.moveToPreviousPage();
                currentPageIndex = receivingReceiptSummaryReportCollectionView.pageIndex + 1;
                updateReceivingReceiptSummaryReportNavigationButtons();
            });

            btnReceivingReceiptSummaryReportMoveToNextPageGrid.addEventListener('click', function () {
                receivingReceiptSummaryReportCollectionView.moveToNextPage();
                currentPageIndex = receivingReceiptSummaryReportCollectionView.pageIndex + 1;
                updateReceivingReceiptSummaryReportNavigationButtons();
            });

            btnReceivingReceiptSummaryReportMoveToLastPageGrid.addEventListener('click', function () {
                receivingReceiptSummaryReportCollectionView.moveToLastPage();
                currentPageIndex = receivingReceiptSummaryReportCollectionView.pageIndex + 1;
                updateReceivingReceiptSummaryReportNavigationButtons();
            });
        }

        // ==========================================================
        // Update Receiving Receipt Summary Report Navigation Buttons
        // ==========================================================
        function updateReceivingReceiptSummaryReportNavigationButtons() {
            if (receivingReceiptSummaryReportCollectionView.pageSize <= 0) {
                document.getElementById('receivingReceiptSummaryReportNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('receivingReceiptSummaryReportNavigationPageGrid').style.display = 'block';
            if (receivingReceiptSummaryReportCollectionView.pageIndex === 0) {
                btnReceivingReceiptSummaryReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnReceivingReceiptSummaryReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnReceivingReceiptSummaryReportMoveToNextPageGrid.removeAttribute('disabled');
                btnReceivingReceiptSummaryReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (receivingReceiptSummaryReportCollectionView.pageIndex === (receivingReceiptSummaryReportCollectionView.pageCount - 1)) {
                btnReceivingReceiptSummaryReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnReceivingReceiptSummaryReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnReceivingReceiptSummaryReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnReceivingReceiptSummaryReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnReceivingReceiptSummaryReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnReceivingReceiptSummaryReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnReceivingReceiptSummaryReportMoveToNextPageGrid.removeAttribute('disabled');
                btnReceivingReceiptSummaryReportMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnReceivingReceiptSummaryReportCurrentPageGrid.innerHTML = (receivingReceiptSummaryReportCollectionView.pageIndex + 1) + ' / ' + receivingReceiptSummaryReportCollectionView.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshReceivingReceiptSummaryReportFlexGrid() {
            receivingReceiptSummaryReportCollectionView = new wijmo.collections.CollectionView(getReceivingReceiptSummaryReportData());
            receivingReceiptSummaryReportCollectionView.canFilter = true;
            receivingReceiptSummaryReportCollectionView.pageSize = cboReceivingReceiptSummaryReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpReceivingReceiptSummaryReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                receivingReceiptSummaryReportCollectionView.refresh();
            });

            receivingReceiptSummaryReportCollectionView.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.RRNumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Supplier.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Term.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            receivingReceiptSummaryReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateReceivingReceiptSummaryReportNavigationButtons();
            });

            receivingReceiptSummaryReportFlexGrid.itemsSource = receivingReceiptSummaryReportCollectionView;
            receivingReceiptSummaryReportFlexGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function btnReceivingReceiptSummaryReportDownloadCSVOnclick() {
            var CSV = '';
            var receivingReceiptSummaryReport = [];
            var fileName = 'ReceivingReceiptSummaryReport.CSV';

            receivingReceiptSummaryReportCollectionView.moveToFirstPage();

            for (var p = 1; p <= receivingReceiptSummaryReportCollectionView.pageCount; p++) {
                for (i = 0; i < receivingReceiptSummaryReportCollectionView.items.length; i++) {
                    receivingReceiptSummaryReport.push({
                        Branch: receivingReceiptSummaryReportCollectionView.items[i].Branch,
                        RRNumber: "RR-" + receivingReceiptSummaryReportCollectionView.items[i].RRNumber,
                        RRDate: receivingReceiptSummaryReportCollectionView.items[i].RRDate,
                        Supplier: receivingReceiptSummaryReportCollectionView.items[i].Supplier,
                        Term: receivingReceiptSummaryReportCollectionView.items[i].Term,
                        Remarks: receivingReceiptSummaryReportCollectionView.items[i].Remarks,
                        DocumentReference: receivingReceiptSummaryReportCollectionView.items[i].DocumentReference,
                        Amount: receivingReceiptSummaryReportCollectionView.items[i].Amount,
                        WTaxAmount: receivingReceiptSummaryReportCollectionView.items[i].WTaxAmount,
                        RRAmount: receivingReceiptSummaryReportCollectionView.items[i].RRAmount
                    });
                }

                receivingReceiptSummaryReportCollectionView.moveToNextPage();
                if (p == receivingReceiptSummaryReportCollectionView.pageCount) {
                    receivingReceiptSummaryReportCollectionView.moveToPage(currentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                RRNumber: "RR Number",
                RRDate: "RR Date",
                Supplier: "Supplier",
                Term: "Terms",
                Remarks: "Remarks",
                DocumentReference: "Document Reference",
                Amount: "Amount",
                WTaxAmount: "WTaxAmount",
                RRAmount: "RRAmount"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < receivingReceiptSummaryReport.length; i++) {
                var row = '';
                for (var a in receivingReceiptSummaryReport[i]) {
                    row += '"' + receivingReceiptSummaryReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnReceivingReceiptSummaryReportPDFOnclick() {
            if (cboReceivingReceiptSummaryReportCompanyFilter.selectedValue != null) {
                if (cboReceivingReceiptSummaryReportBranchFilter.selectedValue != null) {
                    var startDate = cboReceivingReceiptSummaryReportStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboReceivingReceiptSummaryReportEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboReceivingReceiptSummaryReportCompanyFilter.selectedValue;
                    var branchId = cboReceivingReceiptSummaryReportBranchFilter.selectedValue;

                    window.location.href = '/RepReceivingReceiptSummaryReport/ReceivingReceiptSummaryReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createCboDateRangeFilters();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>