<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Sales Summary Report By Sales No.</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Sales Summary Report By Sales No.
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpSalesSummaryReportBySalesNoFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboSalesSummaryReportBySalesNoShowNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnSalesSummaryReportBySalesNoDownloadCSVOnclick()" id="btnSalesSummaryReportBySalesNoDownloadCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    @*<button onclick="btnSalesSummaryReportBySalesNoPDFOnclick()" id="btnSalesSummaryReportBySalesNoPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>*@
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ======================================
                        Date Range, Company and Branch Filters
                        ======================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Sales No.</b></span>
                                        <input type="text" class="form-control documentNumberField" maxlength="10" id="ARsalesSummaryReportSalesNoBySalesInvoiceStartNo" />
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Sales No.</b></span>
                                        <input type="text" class="form-control documentNumberField" maxlength="10" id="ARsalesSummaryReportSalesNoBySalesInvoiceEndNo" />
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboSalesSummaryReportBySalesNoCompanyFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboSalesSummaryReportBySalesNoBranchFilter"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="salesSummaryReportBySalesNoFlexGrid" style="font-size: 12px;"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="salesSummaryReportBySalesNoNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnSalesSummaryReportBySalesNoMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnSalesSummaryReportBySalesNoCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnSalesSummaryReportBySalesNoMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnSalesSummaryReportBySalesNoMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ======
                    Totals
                    ======
                -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // =========================
        // Company and Branch Filter
        // =========================
        var cboSalesSummaryReportBySalesNoCompanyFilter = new wijmo.input.ComboBox('#cboSalesSummaryReportBySalesNoCompanyFilter');
        var cboSalesSummaryReportBySalesNoBranchFilter = new wijmo.input.ComboBox('#cboSalesSummaryReportBySalesNoBranchFilter');
        var isSalesSummaryReportBySalesNoCompanySelected = false;

        // =============================
        // Collection View and Flex Grid
        // =============================
        var salesSummaryReportBySalesNoCollectionView;
        var salesSummaryReportBySalesNoFlexGrid;
        var cboSalesSummaryReportBySalesNoShowNumberOfRows = new wijmo.input.ComboBox('#cboSalesSummaryReportBySalesNoShowNumberOfRows');

        // ==================
        // Navigation Buttons
        // ==================
        var btnSalesSummaryReportBySalesNoMoveToFirstPageGrid = document.getElementById('btnSalesSummaryReportBySalesNoMoveToFirstPageGrid');
        var btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid = document.getElementById('btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid');
        var btnSalesSummaryReportBySalesNoMoveToNextPageGrid = document.getElementById('btnSalesSummaryReportBySalesNoMoveToNextPageGrid');
        var btnSalesSummaryReportBySalesNoMoveToLastPageGrid = document.getElementById('btnSalesSummaryReportBySalesNoMoveToLastPageGrid');
        var btnSalesSummaryReportBySalesNoCurrentPageGrid = document.getElementById('btnSalesSummaryReportBySalesNoCurrentPageGrid');
        var currentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // =================
        // Sales No. Filters
        // =================
        function salesSummaryReportSalesNoFilters() {
            NProgress.start();

            document.getElementById("ARsalesSummaryReportSalesNoBySalesInvoiceStartNo").value = getURLParameterValue("StartSalesNo");
            document.getElementById("ARsalesSummaryReportSalesNoBySalesInvoiceEndNo").value = getURLParameterValue("EndSalesNo");

            createCboCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/salesSummaryReportSalesNo/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnSalesSummaryReportBySalesNoDownloadCSV").prop("disabled", true);
                        $("#btnSalesSummaryReportBySalesNoPDF").prop("disabled", true);
                    }

                    cboSalesSummaryReportBySalesNoCompanyFilter.dispose();
                    cboSalesSummaryReportBySalesNoCompanyFilter = new wijmo.input.ComboBox('#cboSalesSummaryReportBySalesNoCompanyFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnSalesSummaryReportBySalesNoDownloadCSV").prop("disabled", false);
                            $("#btnSalesSummaryReportBySalesNoPDF").prop("disabled", false);
                            isSalesSummaryReportBySalesNoCompanySelected = true;
                            createCboBranchFilter();
                        }
                    });

                    createCboBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboSalesSummaryReportBySalesNoCompanyFilter.selectedValue != null) {
                $.ajax({
                    url: '/api/salesSummaryReportSalesNo/dropdown/list/branch/' + cboSalesSummaryReportBySalesNoCompanyFilter.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnSalesSummaryReportBySalesNoDownloadCSV").prop("disabled", true);
                            $("#btnSalesSummaryReportBySalesNoPDF").prop("disabled", true);
                        }

                        cboSalesSummaryReportBySalesNoBranchFilter.dispose();
                        cboSalesSummaryReportBySalesNoBranchFilter = new wijmo.input.ComboBox('#cboSalesSummaryReportBySalesNoBranchFilter', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshSalesSummaryReportBySalesNoFlexGrid();
                            }
                        });

                        createCboShowRows();
                    }
                });
            }
        }

        // ===================================
        // Create Combo Display Number of Rows
        // ===================================
        function createCboShowRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboSalesSummaryReportBySalesNoShowNumberOfRows.dispose();
            cboSalesSummaryReportBySalesNoShowNumberOfRows = new wijmo.input.ComboBox('#cboSalesSummaryReportBySalesNoShowNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboSalesSummaryReportBySalesNoShowNumberOfRows.selectedValue;
                        salesSummaryReportBySalesNoCollectionView.pageSize = parseInt(numberOfRows);
                        salesSummaryReportBySalesNoCollectionView.refresh();
                        salesSummaryReportBySalesNoFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isSalesSummaryReportBySalesNoCompanySelected) {
                createSalesSummaryReportBySalesNoFlexGrid();
            } else {
                refreshSalesSummaryReportBySalesNoFlexGrid();
            }
        }

        // ==========================================
        // Get Sales Summary Report By Sales No. Data
        // ==========================================
        function getSalesSummaryReportBySalesNoData() {
            var salesSummaryReportBySalesNos = new wijmo.collections.ObservableArray;

            if (cboSalesSummaryReportBySalesNoCompanyFilter.selectedValue != null) {
                if (cboSalesSummaryReportBySalesNoBranchFilter.selectedValue != null) {

                    var startSalesNo = document.getElementById("ARsalesSummaryReportSalesNoBySalesInvoiceStartNo").value;
                    var endSalesNo = document.getElementById("ARsalesSummaryReportSalesNoBySalesInvoiceEndNo").value;
                    var companyId = cboSalesSummaryReportBySalesNoCompanyFilter.selectedValue;
                    var branchId = cboSalesSummaryReportBySalesNoBranchFilter.selectedValue;

                    $.ajax({
                        url: '/api/salesSummaryReportSalesNo/list/' + startSalesNo + '/' + endSalesNo + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (salesSummaryReportSalesNoResult) {
                            var totalAmount = 0;
                            if (salesSummaryReportSalesNoResult.length > 0) {
                                for (i = 0; i < salesSummaryReportSalesNoResult.length; i++) {
                                    var docLink = "/Software/SalesDetail?id=" + salesSummaryReportSalesNoResult[i]["Id"];

                                    var SIDateResult = new Date(salesSummaryReportSalesNoResult[i]["SIDate"])
                                    var SIDate = ('0' + (SIDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + SIDateResult.getDate()).slice(-2) + '-' + SIDateResult.getFullYear();

                                    salesSummaryReportBySalesNos.push({
                                        Id: salesSummaryReportSalesNoResult[i]["Id"],
                                        Branch: salesSummaryReportSalesNoResult[i]["Branch"],
                                        SINumber: salesSummaryReportSalesNoResult[i]["SINumber"],
                                        SINumberForCSV: "SI-" + salesSummaryReportSalesNoResult[i]["SINumber"],
                                        SINumberButton: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block'>" + salesSummaryReportSalesNoResult[i]["SINumber"],
                                        SIDate: SIDate,
                                        Customer: salesSummaryReportSalesNoResult[i]["Customer"],
                                        Remarks: salesSummaryReportSalesNoResult[i]["Remarks"],
                                        SoldBy: salesSummaryReportSalesNoResult[i]["SoldBy"],
                                        Amount: salesSummaryReportSalesNoResult[i]["Amount"],
                                        AmountDisplay: parseFloat(salesSummaryReportSalesNoResult[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                    });

                                    totalAmount += salesSummaryReportSalesNoResult[i]["Amount"];
                                }
                            }

                            document.getElementById("inpTotalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });

                } else {
                    document.getElementById("inpTotalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("inpTotalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return salesSummaryReportBySalesNos;
        }

        // ==================================================
        // Create Sales Summary Report By Sales No. Flex Grid
        // ==================================================
        function createSalesSummaryReportBySalesNoFlexGrid() {
            salesSummaryReportBySalesNoCollectionView = new wijmo.collections.CollectionView(getSalesSummaryReportBySalesNoData());
            salesSummaryReportBySalesNoCollectionView.canFilter = true;
            salesSummaryReportBySalesNoCollectionView.pageSize = cboSalesSummaryReportBySalesNoShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpSalesSummaryReportBySalesNoFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesSummaryReportBySalesNoCollectionView.refresh();
            });

            salesSummaryReportBySalesNoCollectionView.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SoldBy.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Remarks.toLowerCase().indexOf(filterText) > -1);
            }

            salesSummaryReportBySalesNoCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateSalesSummaryReportBySalesNoNavigationButtons();
            });

            salesSummaryReportBySalesNoFlexGrid = new wijmo.grid.FlexGrid('#salesSummaryReportBySalesNoFlexGrid');
            salesSummaryReportBySalesNoFlexGrid.initialize({
                columns: [
                    {
                        "header": "SI Number",
                        "binding": "SINumberButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "SI Date ",
                        "binding": "SIDate",
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "Customer",
                        "binding": "Customer",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Sold By",
                        "binding": "SoldBy",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Remarks",
                        "binding": "Remarks",
                        "allowSorting": true,
                        "width": "2*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                ],
                autoGenerateColumns: false,
                itemsSource: salesSummaryReportBySalesNoCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            salesSummaryReportBySalesNoFlexGrid.trackChanges = true;

            updateSalesSummaryReportBySalesNoNavigationButtons();

            btnSalesSummaryReportBySalesNoMoveToFirstPageGrid.addEventListener('click', function () {
                salesSummaryReportBySalesNoCollectionView.moveToFirstPage();
                currentPageIndex = salesSummaryReportBySalesNoCollectionView.pageIndex + 1;
                updateSalesSummaryReportBySalesNoNavigationButtons();
            });

            btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid.addEventListener('click', function () {
                salesSummaryReportBySalesNoCollectionView.moveToPreviousPage();
                currentPageIndex = salesSummaryReportBySalesNoCollectionView.pageIndex + 1;
                updateSalesSummaryReportBySalesNoNavigationButtons();
            });

            btnSalesSummaryReportBySalesNoMoveToNextPageGrid.addEventListener('click', function () {
                salesSummaryReportBySalesNoCollectionView.moveToNextPage();
                currentPageIndex = salesSummaryReportBySalesNoCollectionView.pageIndex + 1;
                updateSalesSummaryReportBySalesNoNavigationButtons();
            });

            btnSalesSummaryReportBySalesNoMoveToLastPageGrid.addEventListener('click', function () {
                salesSummaryReportBySalesNoCollectionView.moveToLastPage();
                currentPageIndex = salesSummaryReportBySalesNoCollectionView.pageIndex + 1;
                updateSalesSummaryReportBySalesNoNavigationButtons();
            });
        }

        // ===========================================================
        // Update Sales Summary Report By Sales No. Navigation Buttons
        // ===========================================================
        function updateSalesSummaryReportBySalesNoNavigationButtons() {
            if (salesSummaryReportBySalesNoCollectionView.pageSize <= 0) {
                document.getElementById('salesSummaryReportBySalesNoNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('salesSummaryReportBySalesNoNavigationPageGrid').style.display = 'block';
            if (salesSummaryReportBySalesNoCollectionView.pageIndex === 0) {
                btnSalesSummaryReportBySalesNoMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnSalesSummaryReportBySalesNoMoveToNextPageGrid.removeAttribute('disabled');
                btnSalesSummaryReportBySalesNoMoveToLastPageGrid.removeAttribute('disabled');
            } else if (salesSummaryReportBySalesNoCollectionView.pageIndex === (salesSummaryReportBySalesNoCollectionView.pageCount - 1)) {
                btnSalesSummaryReportBySalesNoMoveToFirstPageGrid.removeAttribute('disabled');
                btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid.removeAttribute('disabled');
                btnSalesSummaryReportBySalesNoMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnSalesSummaryReportBySalesNoMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnSalesSummaryReportBySalesNoMoveToFirstPageGrid.removeAttribute('disabled');
                btnSalesSummaryReportBySalesNoMoveToPreviousPageGrid.removeAttribute('disabled');
                btnSalesSummaryReportBySalesNoMoveToNextPageGrid.removeAttribute('disabled');
                btnSalesSummaryReportBySalesNoMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnSalesSummaryReportBySalesNoCurrentPageGrid.innerHTML = (salesSummaryReportBySalesNoCollectionView.pageIndex + 1) + ' / ' + salesSummaryReportBySalesNoCollectionView.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshSalesSummaryReportBySalesNoFlexGrid() {
            salesSummaryReportBySalesNoCollectionView = new wijmo.collections.CollectionView(getSalesSummaryReportBySalesNoData());
            salesSummaryReportBySalesNoCollectionView.canFilter = true;
            salesSummaryReportBySalesNoCollectionView.pageSize = cboSalesSummaryReportBySalesNoShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpSalesSummaryReportBySalesNoFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesSummaryReportBySalesNoCollectionView.refresh();
            });

            salesSummaryReportBySalesNoCollectionView.filter = function (item) {
                return !filterText || (item.Branch.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SoldBy.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Remarks.toLowerCase().indexOf(filterText) > -1);
            }

            salesSummaryReportBySalesNoCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateSalesSummaryReportBySalesNoNavigationButtons();
            });

            salesSummaryReportBySalesNoFlexGrid.itemsSource = salesSummaryReportBySalesNoCollectionView;
            salesSummaryReportBySalesNoFlexGrid.trackChanges = true;
        }

        // ===============================
        // Key On Blurs - Document Numbers
        // ===============================
        $('input#ARsalesSummaryReportSalesNoBySalesInvoiceStartNo').on("blur", function (e) {
            NProgress.start();
            setTimeout(function () {
                refreshSalesSummaryReportBySalesNoFlexGrid();
            }, 500);
        });

        $('input#ARsalesSummaryReportSalesNoBySalesInvoiceEndNo').on("blur", function (e) {
            NProgress.start();
            setTimeout(function () {
                refreshSalesSummaryReportBySalesNoFlexGrid();
            }, 500);
        });

        // ============
        // Download CSV
        // ============
        function btnSalesSummaryReportBySalesNoDownloadCSVOnclick() {
            var CSV = '';
            var salesSummaryReportBySalesNo = [];
            var fileName = 'SalesSummaryReportBySalesNo.CSV';

            salesSummaryReportBySalesNoCollectionView.moveToFirstPage();

            for (var p = 1; p <= salesSummaryReportBySalesNoCollectionView.pageCount; p++) {
                for (i = 0; i < salesSummaryReportBySalesNoCollectionView.items.length; i++) {
                    salesSummaryReportBySalesNo.push({
                        Branch: salesSummaryReportBySalesNoCollectionView.items[i].Branch,
                        SINumber: salesSummaryReportBySalesNoCollectionView.items[i].SINumberForCSV,
                        SIDate: salesSummaryReportBySalesNoCollectionView.items[i].SIDate,
                        Customer: salesSummaryReportBySalesNoCollectionView.items[i].Customer,
                        SoldBy: salesSummaryReportBySalesNoCollectionView.items[i].SoldBy,
                        Remarks: salesSummaryReportBySalesNoCollectionView.items[i].Remarks,
                        Amount: salesSummaryReportBySalesNoCollectionView.items[i].Amount,
                    });
                }

                salesSummaryReportBySalesNoCollectionView.moveToNextPage();
                if (p == salesSummaryReportBySalesNoCollectionView.pageCount) {
                    salesSummaryReportBySalesNoCollectionView.moveToPage(currentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                SINumber: "SI Number",
                SIDate: "SI Date",
                Customer: "Customer",
                SoldBy: "Sold By",
                Remarks: "Remarks",
                Amount: "Amount",
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < salesSummaryReportBySalesNo.length; i++) {
                var row = '';
                for (var a in salesSummaryReportBySalesNo[i]) {
                    row += '"' + salesSummaryReportBySalesNo[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =====================
        // Preview and Print PDF
        // =====================
        function btnSalesSummaryReportBySalesNoPDFOnclick() {
            if (cboSalesSummaryReportBySalesNoCompanyFilter.selectedValue != null) {
                if (cboSalesSummaryReportBySalesNoBranchFilter.selectedValue != null) {
                    var startDate = cboSalesSummaryReportBySalesNoStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboSalesSummaryReportBySalesNoEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboSalesSummaryReportBySalesNoCompanyFilter.selectedValue;
                    var branchId = cboSalesSummaryReportBySalesNoBranchFilter.selectedValue;

                    window.location.href = '/RepSalesSummaryReportBySalesNo/SalesSummaryReportBySalesNo?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            salesSummaryReportSalesNoFilters();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>