<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Sales Detail Report (VAT Sales)</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Sales Detail Report (VAT Sales)
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpSalesDetailVATSalesReportFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboSalesDetailVATSalesReportShowNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnSalesDetailVATSalesReportDownloadCSVOnclick()" id="btnSalesDetailVATSalesReportDownloadCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    @*<button onclick="btnSalesDetailVATSalesReportPDFOnclick()" id="btnSalesDetailVATSalesReportPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>*@
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ======================================
                        Date Range, Company and Branch Filters
                        ======================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div class="comboBox-wide" id="cboSalesDetailVATSalesReportStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div class="comboBox-wide" id="cboSalesDetailVATSalesReportEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboSalesDetailVATSalesReportCompanyFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboSalesDetailVATSalesReportBranchFilter"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="salesDetailVATSalesReportFlexGrid" style="font-size: 11.5px;"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="salesDetailVATSalesReportNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnSalesDetailVATSalesReportMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnSalesDetailVATSalesReportMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnSalesDetailVATSalesReportCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnSalesDetailVATSalesReportMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnSalesDetailVATSalesReportMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ======
                    Totals
                    ======
                -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Discount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalDiscountAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total VAT</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="totalVATAmount" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ============
        // Date Filters
        // ============
        var cboSalesDetailVATSalesReportStartDateFilter = new wijmo.input.InputDate('#cboSalesDetailVATSalesReportStartDateFilter');
        var cboSalesDetailVATSalesReportEndDateFilter = new wijmo.input.InputDate('#cboSalesDetailVATSalesReportEndDateFilter');
        var isSalesDetailVATSalesReportStartDateSelected = false;
        var isSalesDetailVATSalesReportEndDateSelected = false;

        // =========================
        // Company and Branch Filter
        // =========================
        var cboSalesDetailVATSalesReportCompanyFilter = new wijmo.input.ComboBox('#cboSalesDetailVATSalesReportCompanyFilter');
        var cboSalesDetailVATSalesReportBranchFilter = new wijmo.input.ComboBox('#cboSalesDetailVATSalesReportBranchFilter');
        var isCboSalesDetailVATSalesReportCompanySelected = false;

        // =============================
        // Collection View and Flex Grid
        // =============================
        var salesDetailVATSalesReportCollectionView;
        var salesDetailVATSalesReportFlexGrid;
        var cboSalesDetailVATSalesReportShowNumberOfRows = new wijmo.input.ComboBox('#cboSalesDetailVATSalesReportShowNumberOfRows');

        // ==================
        // Navigation Buttons
        // ==================
        var btnSalesDetailVATSalesReportMoveToFirstPageGrid = document.getElementById('btnSalesDetailVATSalesReportMoveToFirstPageGrid');
        var btnSalesDetailVATSalesReportMoveToPreviousPageGrid = document.getElementById('btnSalesDetailVATSalesReportMoveToPreviousPageGrid');
        var btnSalesDetailVATSalesReportMoveToNextPageGrid = document.getElementById('btnSalesDetailVATSalesReportMoveToNextPageGrid');
        var btnSalesDetailVATSalesReportMoveToLastPageGrid = document.getElementById('btnSalesDetailVATSalesReportMoveToLastPageGrid');
        var btnSalesDetailVATSalesReportCurrentPageGrid = document.getElementById('btnSalesDetailVATSalesReportCurrentPageGrid');
        var currentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ================================
        // Create Combo Date Ranged Filters
        // ================================
        function createCboDateRangeFilters() {
            NProgress.start();

            cboSalesDetailVATSalesReportStartDateFilter.dispose();
            cboSalesDetailVATSalesReportStartDateFilter = new wijmo.input.InputDate('#cboSalesDetailVATSalesReportStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("StartDate")),
                onValueChanged: function () {
                    if (!isSalesDetailVATSalesReportStartDateSelected) {
                        NProgress.start();
                        refreshSalesDetailVATSalesReportFlexGrid();
                    } else {
                        isSalesDetailVATSalesReportStartDateSelected = false;
                    }
                }
            });

            cboSalesDetailVATSalesReportEndDateFilter.dispose();
            cboSalesDetailVATSalesReportEndDateFilter = new wijmo.input.InputDate('#cboSalesDetailVATSalesReportEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("EndDate")),
                onValueChanged: function () {
                    if (!isSalesDetailVATSalesReportEndDateSelected) {
                        NProgress.start();
                        refreshSalesDetailVATSalesReportFlexGrid();
                    } else {
                        isSalesDetailVATSalesReportEndDateSelected = false;
                    }
                }
            });

            createCboCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/salesDetailReport/VATSales/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnSalesDetailVATSalesReportDownloadCSV").prop("disabled", true);
                        $("#btnSalesDetailVATSalesReportPDF").prop("disabled", true);
                    }

                    cboSalesDetailVATSalesReportCompanyFilter.dispose();
                    cboSalesDetailVATSalesReportCompanyFilter = new wijmo.input.ComboBox('#cboSalesDetailVATSalesReportCompanyFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            $("#btnSalesDetailVATSalesReportDownloadCSV").prop("disabled", false);
                            $("#btnSalesDetailVATSalesReportPDF").prop("disabled", false);
                            isCboSalesDetailVATSalesReportCompanySelected = true;
                            createCboBranchFilter();
                        }
                    });

                    createCboBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();
            if (cboSalesDetailVATSalesReportCompanyFilter.selectedValue != null) {
                $.ajax({
                    url: '/api/salesDetailReport/VATSales/dropdown/list/branch/' + cboSalesDetailVATSalesReportCompanyFilter.selectedValue,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (branchResults) {
                        if (branchResults.length > 0) {
                            for (i = 0; i < branchResults.length; i++) {
                                branchObservableArray.push({
                                    Id: branchResults[i]["Id"],
                                    Branch: branchResults[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (branchResults.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnSalesDetailVATSalesReportDownloadCSV").prop("disabled", true);
                            $("#btnSalesDetailVATSalesReportPDF").prop("disabled", true);
                        }

                        cboSalesDetailVATSalesReportBranchFilter.dispose();
                        cboSalesDetailVATSalesReportBranchFilter = new wijmo.input.ComboBox('#cboSalesDetailVATSalesReportBranchFilter', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshSalesDetailVATSalesReportFlexGrid();
                            }
                        });

                        createCboShowRows();
                    }
                });
            }
        }

        // ===================================
        // Create Combo Display Number of Rows
        // ===================================
        function createCboShowRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboSalesDetailVATSalesReportShowNumberOfRows.dispose();
            cboSalesDetailVATSalesReportShowNumberOfRows = new wijmo.input.ComboBox('#cboSalesDetailVATSalesReportShowNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboSalesDetailVATSalesReportShowNumberOfRows.selectedValue;
                        salesDetailVATSalesReportCollectionView.pageSize = parseInt(numberOfRows);
                        salesDetailVATSalesReportCollectionView.refresh();
                        salesDetailVATSalesReportFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            if (!isCboSalesDetailVATSalesReportCompanySelected) {
                createSalesDetailVATSalesReportFlexGrid();
            } else {
                refreshSalesDetailVATSalesReportFlexGrid();
            }
        }

        // ========================================
        // Get Sales Detail Report (VAT Sales) Data
        // ========================================
        function getSalesDetailVATSalesReportData() {
            var salesDetailVATSalesReports = new wijmo.collections.ObservableArray;
            if (cboSalesDetailVATSalesReportCompanyFilter.selectedValue != null) {
                if (cboSalesDetailVATSalesReportBranchFilter.selectedValue != null) {

                    var startDate = cboSalesDetailVATSalesReportStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboSalesDetailVATSalesReportEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboSalesDetailVATSalesReportCompanyFilter.selectedValue;
                    var branchId = cboSalesDetailVATSalesReportBranchFilter.selectedValue;

                    $.ajax({
                        url: '/api/salesDetailReport/VATSales/list/' + startDate + '/' + endDate + '/' + + companyId + '/' + branchId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (salesDetailVATSalesReportVATSalesResult) {
                            var totalAmount = 0;
                            var totalDiscountAmount = 0;
                            var totalVATAmount = 0;
                            if (salesDetailVATSalesReportVATSalesResult.length > 0) {
                                for (i = 0; i < salesDetailVATSalesReportVATSalesResult.length; i++) {
                                    var docLink = "/Software/SalesDetail?id=" + salesDetailVATSalesReportVATSalesResult[i]["SIId"];

                                    var SIDateResult = new Date(salesDetailVATSalesReportVATSalesResult[i]["SIDate"])
                                    var SIDate = ('0' + (SIDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + SIDateResult.getDate()).slice(-2) + '-' + SIDateResult.getFullYear();

                                    salesDetailVATSalesReports.push({
                                        Id: salesDetailVATSalesReportVATSalesResult[i]["Id"],
                                        SIId: salesDetailVATSalesReportVATSalesResult["SIId"],
                                        SI: salesDetailVATSalesReportVATSalesResult[i]["SI"],
                                        Branch: salesDetailVATSalesReportVATSalesResult[i]["Branch"],
                                        SIForCSV: "SI-" + salesDetailVATSalesReportVATSalesResult[i]["SI"],
                                        SIButton: "<a href='" + docLink + "' class='btn btn-primary btn-xs btn-block' style='font-size: 10.5px;'>" + salesDetailVATSalesReportVATSalesResult[i]["SI"],
                                        SIDate: SIDate,
                                        Item: salesDetailVATSalesReportVATSalesResult[i]["Item"],
                                        ItemInventory: salesDetailVATSalesReportVATSalesResult[i]["ItemInventory"] != null ? salesDetailVATSalesReportVATSalesResult[i]["ItemInventory"] : "",
                                        Unit: salesDetailVATSalesReportVATSalesResult[i]["Unit"],
                                        Quantity: salesDetailVATSalesReportVATSalesResult[i]["Quantity"],
                                        QuantityDisplay: parseFloat(salesDetailVATSalesReportVATSalesResult[i]["Quantity"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Price: salesDetailVATSalesReportVATSalesResult[i]["Price"],
                                        PriceDisplay: parseFloat(salesDetailVATSalesReportVATSalesResult[i]["Price"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","), Discount: salesDetailVATSalesReportVATSalesResult[i]["Discount"],
                                        Discount: salesDetailVATSalesReportVATSalesResult[i]["Discount"],
                                        DiscountRate: salesDetailVATSalesReportVATSalesResult[i]["DiscountRate"],
                                        DiscountPercentage: salesDetailVATSalesReportVATSalesResult[i]["Discount"] + "<hr style='margin-top: 3px; margin-bottom: 3px; border-color: #cccccc' />" + parseFloat(salesDetailVATSalesReportVATSalesResult[i]["DiscountRate"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        DiscountAmount: salesDetailVATSalesReportVATSalesResult[i]["DiscountAmount"],
                                        DiscountAmountDisplay: parseFloat(salesDetailVATSalesReportVATSalesResult[i]["DiscountAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Amount: salesDetailVATSalesReportVATSalesResult[i]["Amount"],
                                        AmountDisplay: parseFloat(salesDetailVATSalesReportVATSalesResult[i]["Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        Customer: salesDetailVATSalesReportVATSalesResult[i]["Customer"],
                                        VAT: salesDetailVATSalesReportVATSalesResult[i]["VAT"],
                                        VATRate: salesDetailVATSalesReportVATSalesResult[i]["VATPercentage"],
                                        VATPercentage: salesDetailVATSalesReportVATSalesResult[i]["VAT"] + "<hr style='margin-top: 3px; margin-bottom: 3px; border-color: #cccccc' />" + parseFloat(salesDetailVATSalesReportVATSalesResult[i]["VATPercentage"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        VATAmount: salesDetailVATSalesReportVATSalesResult[i]["VATAmount"],
                                        VATAmountDisplay: parseFloat(salesDetailVATSalesReportVATSalesResult[i]["VATAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                    });

                                    totalAmount += salesDetailVATSalesReportVATSalesResult[i]["Amount"];
                                    totalDiscountAmount += salesDetailVATSalesReportVATSalesResult[i]["DiscountAmount"];
                                    totalVATAmount += salesDetailVATSalesReportVATSalesResult[i]["VATAmount"];
                                }
                            }

                            document.getElementById("totalAmount").value = parseFloat(totalAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            document.getElementById("totalDiscountAmount").value = parseFloat(totalDiscountAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            document.getElementById("totalVATAmount").value = parseFloat(totalVATAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            NProgress.done();
                        }
                    });
                } else {
                    document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalDiscountAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("totalVATAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("totalAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalDiscountAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("totalVATAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return salesDetailVATSalesReports;
        }

        // ================================================
        // Create Sales Detail Report (VAT Sales) Flex Grid
        // ================================================
        function createSalesDetailVATSalesReportFlexGrid() {
            salesDetailVATSalesReportCollectionView = new wijmo.collections.CollectionView(getSalesDetailVATSalesReportData());
            salesDetailVATSalesReportCollectionView.canFilter = true;
            salesDetailVATSalesReportCollectionView.pageSize = cboSalesDetailVATSalesReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpSalesDetailVATSalesReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesDetailVATSalesReportCollectionView.refresh();
            });

            salesDetailVATSalesReportCollectionView.filter = function (item) {
                return !filterText || (item.SIDate.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SI.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Discount.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            salesDetailVATSalesReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateSalesDetailVATSalesReportNavigationButtons();
            });

            salesDetailVATSalesReportFlexGrid = new wijmo.grid.FlexGrid('#salesDetailVATSalesReportFlexGrid');
            salesDetailVATSalesReportFlexGrid.initialize({
                columns: [
                    {
                        "header": "SI Number",
                        "binding": "SIButton",
                        "isContentHtml": true,
                        "allowSorting": true,
                        "width": "1*"
                    },
                    {
                        "header": "SI Date",
                        "binding": "SIDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Customer",
                        "binding": "Customer",
                        "allowSorting": true,
                        "width": "1.2*"
                    },
                    {
                        "header": "Item",
                        "binding": "Item",
                        "allowSorting": true,
                        "width": "1.2*"
                    },
                    {
                        "header": "Price",
                        "binding": "PriceDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Unit",
                        "binding": "Unit",
                        "allowSorting": true,
                        "width": "0.7*"
                    },
                    {
                        "header": "Quantity",
                        "binding": "QuantityDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Rate",
                        "binding": "DiscountPercentage",
                        "allowSorting": true,
                        "width": "0.8*",
                        "align": "right",
                        "isContentHtml": true
                    },
                    {
                        "header": "Discount Amt.",
                        "binding": "DiscountAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Amount",
                        "binding": "AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "VAT Rate",
                        "binding": "VATPercentage",
                        "allowSorting": true,
                        "width": "0.8*",
                        "align": "right",
                        "isContentHtml": true
                    },
                    {
                        "header": "VAT Amt.",
                        "binding": "VATAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: salesDetailVATSalesReportCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            salesDetailVATSalesReportFlexGrid.trackChanges = true;

            updateSalesDetailVATSalesReportNavigationButtons();

            btnSalesDetailVATSalesReportMoveToFirstPageGrid.addEventListener('click', function () {
                salesDetailVATSalesReportCollectionView.moveToFirstPage();
                currentPageIndex = salesDetailVATSalesReportCollectionView.pageIndex + 1;
                updateSalesDetailVATSalesReportNavigationButtons();
            });

            btnSalesDetailVATSalesReportMoveToPreviousPageGrid.addEventListener('click', function () {
                salesDetailVATSalesReportCollectionView.moveToPreviousPage();
                currentPageIndex = salesDetailVATSalesReportCollectionView.pageIndex + 1;
                updateSalesDetailVATSalesReportNavigationButtons();
            });

            btnSalesDetailVATSalesReportMoveToNextPageGrid.addEventListener('click', function () {
                salesDetailVATSalesReportCollectionView.moveToNextPage();
                currentPageIndex = salesDetailVATSalesReportCollectionView.pageIndex + 1;
                updateSalesDetailVATSalesReportNavigationButtons();
            });

            btnSalesDetailVATSalesReportMoveToLastPageGrid.addEventListener('click', function () {
                salesDetailVATSalesReportCollectionView.moveToLastPage();
                currentPageIndex = salesDetailVATSalesReportCollectionView.pageIndex + 1;
                updateSalesDetailVATSalesReportNavigationButtons();
            });
        }

        // =========================================================
        // Update Sales Detail Report (VAT Sales) Navigation Buttons
        // =========================================================
        function updateSalesDetailVATSalesReportNavigationButtons() {
            if (salesDetailVATSalesReportCollectionView.pageSize <= 0) {
                document.getElementById('salesDetailVATSalesReportNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('salesDetailVATSalesReportNavigationPageGrid').style.display = 'block';
            if (salesDetailVATSalesReportCollectionView.pageIndex === 0) {
                btnSalesDetailVATSalesReportMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnSalesDetailVATSalesReportMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnSalesDetailVATSalesReportMoveToNextPageGrid.removeAttribute('disabled');
                btnSalesDetailVATSalesReportMoveToLastPageGrid.removeAttribute('disabled');
            } else if (salesDetailVATSalesReportCollectionView.pageIndex === (salesDetailVATSalesReportCollectionView.pageCount - 1)) {
                btnSalesDetailVATSalesReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnSalesDetailVATSalesReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnSalesDetailVATSalesReportMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnSalesDetailVATSalesReportMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnSalesDetailVATSalesReportMoveToFirstPageGrid.removeAttribute('disabled');
                btnSalesDetailVATSalesReportMoveToPreviousPageGrid.removeAttribute('disabled');
                btnSalesDetailVATSalesReportMoveToNextPageGrid.removeAttribute('disabled');
                btnSalesDetailVATSalesReportMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnSalesDetailVATSalesReportCurrentPageGrid.innerHTML = (salesDetailVATSalesReportCollectionView.pageIndex + 1) + ' / ' + salesDetailVATSalesReportCollectionView.pageCount;
        }

        // =================
        // Refresh Flex Grid
        // =================
        function refreshSalesDetailVATSalesReportFlexGrid() {
            salesDetailVATSalesReportCollectionView = new wijmo.collections.CollectionView(getSalesDetailVATSalesReportData());
            salesDetailVATSalesReportCollectionView.canFilter = true;
            salesDetailVATSalesReportCollectionView.pageSize = cboSalesDetailVATSalesReportShowNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpSalesDetailVATSalesReportFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                salesDetailVATSalesReportCollectionView.refresh();
            });

            salesDetailVATSalesReportCollectionView.filter = function (item) {
                return !filterText || (item.SIDate.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.SI.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Customer.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Discount.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Item.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Unit.toLowerCase().indexOf(filterText) > -1);
            }

            salesDetailVATSalesReportCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateSalesDetailVATSalesReportNavigationButtons();
            });

            salesDetailVATSalesReportFlexGrid.itemsSource = salesDetailVATSalesReportCollectionView;
            salesDetailVATSalesReportFlexGrid.trackChanges = true;
        }

        // ============
        // Download CSV
        // ============
        function btnSalesDetailVATSalesReportDownloadCSVOnclick() {
            var CSV = '';
            var salesDetailVATSalesReport = [];
            var fileName = 'SalesDetailVATSalesReport.CSV';

            salesDetailVATSalesReportCollectionView.moveToFirstPage();

            for (var p = 1; p <= salesDetailVATSalesReportCollectionView.pageCount; p++) {
                for (i = 0; i < salesDetailVATSalesReportCollectionView.items.length; i++) {
                    salesDetailVATSalesReport.push({
                        Branch: salesDetailVATSalesReportCollectionView.items[i].Branch,
                        SINumber: salesDetailVATSalesReportCollectionView.items[i].SIForCSV,
                        SIDate: salesDetailVATSalesReportCollectionView.items[i].SIDate,
                        Customer: salesDetailVATSalesReportCollectionView.items[i].Customer,
                        Item: salesDetailVATSalesReportCollectionView.items[i].Item,
                        Price: salesDetailVATSalesReportCollectionView.items[i].Price,
                        Unit: salesDetailVATSalesReportCollectionView.items[i].Unit,
                        Quantity: salesDetailVATSalesReportCollectionView.items[i].Quantity,
                        Discount: salesDetailVATSalesReportCollectionView.items[i].Discount,
                        DiscountRate: salesDetailVATSalesReportCollectionView.items[i].DiscountRate,
                        DiscountAmount: salesDetailVATSalesReportCollectionView.items[i].DiscountRate,
                        VAT: salesDetailVATSalesReportCollectionView.items[i].Discount,
                        VATRate: salesDetailVATSalesReportCollectionView.items[i].DiscountRate,
                        VATAmount: salesDetailVATSalesReportCollectionView.items[i].DiscountRate,
                        Amount: salesDetailVATSalesReportCollectionView.items[i].Amount,
                    });
                }

                salesDetailVATSalesReportCollectionView.moveToNextPage();
                if (p == salesDetailVATSalesReportCollectionView.pageCount) {
                    salesDetailVATSalesReportCollectionView.moveToPage(currentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                SINumber: "SI Number",
                SIDate: "SI Date",
                Customer: "Customer",
                Item: "Item",
                Price: "Price",
                Unit: "Unit",
                Quantity: "Quantity",
                Discount: "Discount",
                DiscountRate: "Discount Rate",
                DiscountAmount: "Discount Amount",
                VAT: "VAT",
                VATRate: "VAT Rate",
                VATAmount: "VAT Amount",
                Amount: "Amount"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < salesDetailVATSalesReport.length; i++) {
                var row = '';
                for (var a in salesDetailVATSalesReport[i]) {
                    row += '"' + salesDetailVATSalesReport[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                toastr.success("Dowload successful.");
            }
        }

        // =========
        // Print PDF
        // =========
        function btnSalesDetailVATSalesReportPDFOnclick() {
            if (cboSalesDetailVATSalesReportCompanyFilter.selectedValue != null) {
                if (cboSalesDetailVATSalesReportBranchFilter.selectedValue != null) {
                    var startDate = cboSalesDetailVATSalesReportStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var endDate = cboSalesDetailVATSalesReportEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');
                    var companyId = cboSalesDetailVATSalesReportCompanyFilter.selectedValue;
                    var branchId = cboSalesDetailVATSalesReportBranchFilter.selectedValue;

                    window.location.href = '/RepSalesDetailVATSalesReport/SalesDetailVATSalesReport?StartDate=' + startDate + '&EndDate=' + endDate + '&CompanyId=' + companyId + '&BranchId=' + branchId;
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createCboDateRangeFilters();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>