<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Statement of Account</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Statement of Account
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ========================================
                        Input Filters and Display Number of Rows
                        ========================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 49.5%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpStatementOfAccountSeachFilter" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b><i class="fa fa-table"></i></b></span>
                                        <div class="comboBox-wide" id="cboStatementOfAccountDisplayNumberOfRows"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24.5%" align="right">
                                    <button onclick="btnStatementOfAccountDownloadCSVOnclick()" id="btnStatementOfAccountDownloadCSV" class="btn btn-success"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</button>
                                    <button onclick="btnStatementOfAccountPrintPDFOnclick()" id="btnStatementOfAccountPrintPDF" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                                    <a href="/Software/AccountsReceivable" class="btn btn-danger"><i class="fa fa-close"></i> Close</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========================================
                        Date, Company, Branch amd Account Filters
                        =========================================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Date as of</b></span>
                                        <div class="comboBox-wide" id="cboStatementOfAccountDateAsOfFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%" align="right">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Company</b></span>
                                        <div class="comboBox-wide" id="cboStatementOfAccountCompanyFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Branch</b></span>
                                        <div class="comboBox-wide" id="cboStatementOfAccountBranchFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%">
                                    <div class="input-group ">
                                        <span class="input-group-addon"><b>Customer</b></span>
                                        <div class="comboBox-wide" id="cboStatementOfAccountCustomerFilter" style="font-size: 12.5px;"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="statementOfAccountFlexGrid" style="font-size: 11.5px;"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="statementOfAccountNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnStatementOfAccountMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnStatementOfAccountMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnStatementOfAccountCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnStatementOfAccountMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnStatementOfAccountMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ==========================================
                    Statement Of Account Report Totals (Aging)
                    ==========================================
                -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal dl-custom">
                                    <dt>
                                        <b>Total Balance</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalBalance" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Current Amount</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalCurrentAmount" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount in 30 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount30Days" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount in 60 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount60Days" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount in 90 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmount90Days" placeholder="0.00" disabled />
                                    </dd>
                                    <dt>
                                        <b>Total Amount Over 120 Days</b>
                                    </dt>
                                    <dd>
                                        <input type="text" class="form-control numberField" id="inpTotalAmountOver120Days" placeholder="0.00" disabled />
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ===========
        // Filter Date
        // ===========
        var cboStatementOfAccountDateAsOfFilter = new wijmo.input.InputDate('#cboStatementOfAccountDateAsOfFilter');
        var isCboDateAsOfFilterSelected = true;

        // ==============
        // Filter Company
        // ==============
        var cboStatementOfAccountCompanyFilter = new wijmo.input.ComboBox('#cboStatementOfAccountCompanyFilter');
        var isCboCompanyFilterSelected = false;

        // =============
        // Filter Branch
        // =============
        var cboStatementOfAccountBranchFilter = new wijmo.input.ComboBox('#cboStatementOfAccountBranchFilter');

        // ==============
        // Filter Account
        // ==============
        var cboStatementOfAccountCustomerFilter = new wijmo.input.ComboBox('#cboStatementOfAccountCustomerFilter');

        // ==================================================
        // Statement Of Account Collection View and Flex Grid
        // ==================================================
        var statementOfAccountCollectionView;
        var statementOfAccountFlexGrid;
        var cboStatementOfAccountDisplayNumberOfRows = new wijmo.input.ComboBox('#cboStatementOfAccountDisplayNumberOfRows');
        var ifStatementOfAccountHasData = false;

        // =================
        // Navigation Button
        // =================
        var btnStatementOfAccountMoveToFirstPageGrid = document.getElementById('btnStatementOfAccountMoveToFirstPageGrid');
        var btnStatementOfAccountMoveToPreviousPageGrid = document.getElementById('btnStatementOfAccountMoveToPreviousPageGrid');
        var btnStatementOfAccountMoveToNextPageGrid = document.getElementById('btnStatementOfAccountMoveToNextPageGrid');
        var btnStatementOfAccountMoveToLastPageGrid = document.getElementById('btnStatementOfAccountMoveToLastPageGrid');
        var btnStatementOfAccountCurrentPageGrid = document.getElementById('btnStatementOfAccountCurrentPageGrid');
        var statementOfAccountCurrentPageIndex = 0;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);

            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // ==============================
        // Create Combo Date As of Filter
        // ==============================
        function createCboStatementOfAccountDateAsOfFilter() {
            NProgress.start();

            cboStatementOfAccountDateAsOfFilter.dispose();
            cboStatementOfAccountDateAsOfFilter = new wijmo.input.InputDate('#cboStatementOfAccountDateAsOfFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(getURLParameterValue("DateAsOf")),
                onValueChanged: function () {
                    if (isCboDateAsOfFilterSelected) {
                        NProgress.start();
                        refreshStatementOfAccountFlexGrid();
                    } else {
                        isCboDateAsOfFilterSelected = false;
                    }
                }
            });

            createCboStatementOfAccountCompanyFilter();
        }

        // ===========================
        // Create Combo Company Filter
        // ===========================
        function createCboStatementOfAccountCompanyFilter() {
            var companyObservableArray = new wijmo.collections.ObservableArray();

            $.ajax({
                url: '/api/statementOfAccount/dropdown/list/company',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            companyObservableArray.push({
                                Id: results[i]["Id"],
                                Company: results[i]["Company"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                    } else {
                        $("#btnStatementOfAccountDownloadCSV").prop("disabled", true);
                        $("#btnStatementOfAccountPrintPDF").prop("disabled", true);
                    }

                    cboStatementOfAccountCompanyFilter.dispose();
                    cboStatementOfAccountCompanyFilter = new wijmo.input.ComboBox('#cboStatementOfAccountCompanyFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: companyObservableArray,
                        displayMemberPath: "Company",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CompanyId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();

                            if (ifStatementOfAccountHasData) {
                                $("#btnStatementOfAccountDownloadCSV").prop("disabled", false);
                                $("#btnStatementOfAccountPrintPDF").prop("disabled", false);
                            }

                            isCboCompanyFilterSelected = true;
                            createCboStatementOfAccountBranchFilter();
                        }
                    });

                    createCboStatementOfAccountBranchFilter();
                }
            });
        }

        // ==========================
        // Create Combo Branch Filter
        // ==========================
        function createCboStatementOfAccountBranchFilter() {
            var branchObservableArray = new wijmo.collections.ObservableArray();

            if (cboStatementOfAccountCompanyFilter.selectedValue != null) {
                var companyId = cboStatementOfAccountCompanyFilter.selectedValue;

                $.ajax({
                    url: '/api/statementOfAccount/dropdown/list/branch/' + companyId,
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                branchObservableArray.push({
                                    Id: results[i]["Id"],
                                    Branch: results[i]["Branch"]
                                });
                            }
                        }

                        var disabled = true;
                        if (results.length > 0) {
                            disabled = false;
                        } else {
                            $("#btnStatementOfAccountDownloadCSV").prop("disabled", true);
                            $("#btnStatementOfAccountPrintPDF").prop("disabled", true);
                        }

                        cboStatementOfAccountBranchFilter.dispose();
                        cboStatementOfAccountBranchFilter = new wijmo.input.ComboBox('#cboStatementOfAccountBranchFilter', {
                            disabled: disabled,
                            isEditable: false,
                            itemsSource: branchObservableArray,
                            displayMemberPath: "Branch",
                            selectedValuePath: "Id",
                            selectedValue: getURLParameterValue("BranchId"),
                            onSelectedIndexChanged: function () {
                                NProgress.start();
                                refreshStatementOfAccountFlexGrid();
                            }
                        });

                        if (!isCboCompanyFilterSelected) {
                            createCboStatementOfAccountCustomerFilter();
                        } else {
                            refreshStatementOfAccountFlexGrid();
                        }
                    }
                });
            } else {
                cboStatementOfAccountBranchFilter.dispose();
                cboStatementOfAccountBranchFilter = new wijmo.input.ComboBox('#cboStatementOfAccountBranchFilter', {
                    disabled: true,
                    itemsSource: branchObservableArray
                });

                refreshStatementOfAccountFlexGrid();
            }
        }

        // ============================
        // Create Combo Customer Filter
        // ============================
        function createCboStatementOfAccountCustomerFilter() {
            var customerObservableArray = new wijmo.collections.ObservableArray();

            $.ajax({
                url: '/api/statementOfAccount/dropdown/list/customer',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            customerObservableArray.push({
                                Id: results[i]["Id"],
                                Article: results[i]["Article"]
                            });
                        }
                    }

                    var disabled = true;
                    if (results.length > 0) {
                        disabled = false;
                        ifStatementOfAccountHasData = true;
                    } else {
                        $("#btnStatementOfAccountDownloadCSV").prop("disabled", true);
                        $("#btnStatementOfAccountPrintPDF").prop("disabled", true);
                    }

                    cboStatementOfAccountCustomerFilter.dispose();
                    cboStatementOfAccountCustomerFilter = new wijmo.input.ComboBox('#cboStatementOfAccountCustomerFilter', {
                        disabled: disabled,
                        isEditable: false,
                        itemsSource: customerObservableArray,
                        displayMemberPath: "Article",
                        selectedValuePath: "Id",
                        selectedValue: getURLParameterValue("CustomerId"),
                        onSelectedIndexChanged: function () {
                            NProgress.start();
                            refreshStatementOfAccountFlexGrid();
                        }
                    });

                    createCboStatementOfAccountDisplayNumberOfRows();
                }
            });
        }

        // =============================
        // Create Display Number of Rows
        // =============================
        function createCboStatementOfAccountDisplayNumberOfRows() {
            var rowsObservableArray = new wijmo.collections.ObservableArray();

            for (var i = 0; i <= 4; i++) {
                var rows = 0;
                var rowsString = "";

                if (i == 0) {
                    rows = 15;
                    rowsString = "Show 15 Rows";
                } else if (i == 1) {
                    rows = 50;
                    rowsString = "Show 50 Rows";
                } else if (i == 2) {
                    rows = 100;
                    rowsString = "Show 100 Rows";
                } else if (i == 3) {
                    rows = 150;
                    rowsString = "Show 150 Rows";
                } else {
                    rows = 200;
                    rowsString = "Show 200 Rows";
                }

                rowsObservableArray.push({
                    rowNumber: rows,
                    rowString: rowsString
                });
            }

            cboStatementOfAccountDisplayNumberOfRows.dispose();
            cboStatementOfAccountDisplayNumberOfRows = new wijmo.input.ComboBox('#cboStatementOfAccountDisplayNumberOfRows', {
                isEditable: false,
                itemsSource: rowsObservableArray,
                displayMemberPath: "rowString",
                selectedValuePath: "rowNumber",
                selectedValue: 50,
                onSelectedIndexChanged: function () {
                    NProgress.start();

                    setTimeout(function () {
                        var numberOfRows = cboStatementOfAccountDisplayNumberOfRows.selectedValue;
                        statementOfAccountCollectionView.pageSize = parseInt(numberOfRows);
                        statementOfAccountCollectionView.refresh();
                        statementOfAccountFlexGrid.refresh();

                        NProgress.done();
                    }, 300);
                }
            });

            createAccounstPayableReportFlexGrid();
        }

        // ====================================
        // Get Statement Of Account Report Data
        // ====================================
        function getStatementOfAccountData() {
            var statementOfAccountObservableArray = new wijmo.collections.ObservableArray;

            if (cboStatementOfAccountCompanyFilter.selectedValue != null) {
                if (cboStatementOfAccountBranchFilter.selectedValue != null) {
                    if (cboStatementOfAccountCustomerFilter.selectedValue != null) {

                        var dateAsOf = cboStatementOfAccountDateAsOfFilter.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboStatementOfAccountCompanyFilter.selectedValue;
                        var branchId = cboStatementOfAccountBranchFilter.selectedValue;
                        var customerId = cboStatementOfAccountCustomerFilter.selectedValue;

                        $.ajax({
                            url: '/api/statementOfAccount/list/' + dateAsOf + "/" + companyId + "/" + branchId + "/" + customerId,
                            cache: false,
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            success: function (results) {
                                var inpTotalBalance = 0;
                                var inpTotalCurrentAmount = 0;
                                var totalAge30Amount = 0;
                                var totalAge60Amount = 0;
                                var totalAge90Amount = 0;
                                var totalAge120Amount = 0;

                                if (results.length > 0) {
                                    for (i = 0; i < results.length; i++) {
                                        var docLink = "/Software/SalesDetail?id=" + results[i]["Id"];

                                        inpTotalBalance = inpTotalBalance + results[i]["BalanceAmount"];
                                        inpTotalCurrentAmount = inpTotalCurrentAmount + results[i]["CurrentAmount"];
                                        totalAge30Amount = totalAge30Amount + results[i]["Age30Amount"];
                                        totalAge60Amount = totalAge60Amount + results[i]["Age60Amount"];
                                        totalAge90Amount = totalAge90Amount + results[i]["Age90Amount"];
                                        totalAge120Amount = totalAge120Amount + results[i]["Age120Amount"];

                                        var SIDateResult = new Date(results[i]["SIDate"])
                                        var SIDate = ('0' + (SIDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + SIDateResult.getDate()).slice(-2) + '-' + SIDateResult.getFullYear();

                                        var DueDateResult = new Date(results[i]["DueDate"])
                                        var DueDate = ('0' + (DueDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + DueDateResult.getDate()).slice(-2) + '-' + DueDateResult.getFullYear();

                                        statementOfAccountObservableArray.push({
                                            BtnDetail: "<a href='" + docLink + "' style='font-size: 9px;' class='btn btn-primary btn-xs btn-block'><i class='fa fa-edit'></i> Detail</a>",
                                            Id: results[i]["Id"],
                                            Branch: results[i]["Branch"],
                                            Account: results[i]["Account"],
                                            SINumber: results[i]["SINumber"],
                                            Customer: results[i]["Customer"],
                                            SIDate: SIDate,
                                            DocumentReference: results[i]["DocumentReference"],
                                            DueDate: DueDate,
                                            BalanceAmount: results[i]["BalanceAmount"],
                                            BalanceAmountDisplay: parseFloat(results[i]["BalanceAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            CurrentAmount: results[i]["CurrentAmount"],
                                            CurrentAmountDisplay: parseFloat(results[i]["CurrentAmount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age30Amount: results[i]["Age30Amount"],
                                            Age30AmountDisplay: parseFloat(results[i]["Age30Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age60Amount: results[i]["Age60Amount"],
                                            Age60AmountDisplay: parseFloat(results[i]["Age60Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age90Amount: results[i]["Age90Amount"],
                                            Age90AmountDisplay: parseFloat(results[i]["Age90Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                            Age120Amount: results[i]["Age120Amount"],
                                            Age120AmountDisplay: parseFloat(results[i]["Age120Amount"]).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                                        });
                                    }
                                }

                                document.getElementById("inpTotalBalance").value = parseFloat(inpTotalBalance).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalCurrentAmount").value = parseFloat(inpTotalCurrentAmount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmount30Days").value = parseFloat(totalAge30Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmount60Days").value = parseFloat(totalAge60Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmount90Days").value = parseFloat(totalAge90Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                document.getElementById("inpTotalAmountOver120Days").value = parseFloat(totalAge120Amount).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                NProgress.done();
                            }
                        });
                    } else {
                        document.getElementById("inpTotalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        document.getElementById("inpTotalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        NProgress.done();
                    }
                } else {
                    document.getElementById("inpTotalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("inpTotalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    NProgress.done();
                }
            } else {
                document.getElementById("inpTotalBalance").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalCurrentAmount").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmount30Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmount60Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmount90Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById("inpTotalAmountOver120Days").value = parseFloat(0).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                NProgress.done();
            }

            return statementOfAccountObservableArray;
        }

        // ============================================
        // Create Statement Of Account Report Flex Grid
        // ============================================
        function createAccounstPayableReportFlexGrid() {
            statementOfAccountCollectionView = new wijmo.collections.CollectionView(getStatementOfAccountData());
            statementOfAccountCollectionView.canFilter = true;
            statementOfAccountCollectionView.pageSize = cboStatementOfAccountDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpStatementOfAccountSeachFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                statementOfAccountCollectionView.refresh();
            });

            statementOfAccountCollectionView.filter = function (item) {
                return !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            statementOfAccountCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateStatementOfAccountNavigateButtons();
            });

            statementOfAccountFlexGrid = new wijmo.grid.FlexGrid('#statementOfAccountFlexGrid');
            statementOfAccountFlexGrid.initialize({
                columns: [
                    {
                        "header": "Detail",
                        "binding": "BtnDetail",
                        "width": 70,
                        "isContentHtml": true
                    },
                    {
                        "header": "SI No.",
                        "binding": "SINumber",
                        "allowSorting": true,
                        "width": 80
                    },
                    {
                        "header": "Account",
                        "binding": "Account",
                        "allowSorting": true,
                        "width": "1.2*",
                    },
                    {
                        "header": "SI Date",
                        "binding": "SIDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Doc. Ref.",
                        "binding": "DocumentReference",
                        "allowSorting": true,
                        "width": "1*",
                    },
                    {
                        "header": "Due Date",
                        "binding": "DueDate",
                        "allowSorting": true,
                        "width": "0.8*"
                    },
                    {
                        "header": "Balance",
                        "binding": "BalanceAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Current",
                        "binding": "CurrentAmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "30 Days",
                        "binding": "Age30AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "60 Days",
                        "binding": "Age60AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "90 Days",
                        "binding": "Age90AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    },
                    {
                        "header": "Over 120 Days",
                        "binding": "Age120AmountDisplay",
                        "allowSorting": true,
                        "align": "right",
                        "width": "1*"
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: statementOfAccountCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            statementOfAccountFlexGrid.trackChanges = true;

            updateStatementOfAccountNavigateButtons();

            btnStatementOfAccountMoveToFirstPageGrid.addEventListener('click', function () {
                statementOfAccountCollectionView.moveToFirstPage();
                statementOfAccountCurrentPageIndex = statementOfAccountCollectionView.pageIndex + 1;
                updateStatementOfAccountNavigateButtons();
            });

            btnStatementOfAccountMoveToPreviousPageGrid.addEventListener('click', function () {
                statementOfAccountCollectionView.moveToPreviousPage();
                statementOfAccountCurrentPageIndex = statementOfAccountCollectionView.pageIndex + 1;
                updateStatementOfAccountNavigateButtons();
            });

            btnStatementOfAccountMoveToNextPageGrid.addEventListener('click', function () {
                statementOfAccountCollectionView.moveToNextPage();
                statementOfAccountCurrentPageIndex = statementOfAccountCollectionView.pageIndex + 1;
                updateStatementOfAccountNavigateButtons();
            });

            btnStatementOfAccountMoveToLastPageGrid.addEventListener('click', function () {
                statementOfAccountCollectionView.moveToLastPage();
                statementOfAccountCurrentPageIndex = statementOfAccountCollectionView.pageIndex + 1;
                updateStatementOfAccountNavigateButtons();
            });
        }

        // =============================================
        // Refresh Statement Of Account Report Flex Grid
        // =============================================
        function refreshStatementOfAccountFlexGrid() {
            statementOfAccountCollectionView = new wijmo.collections.CollectionView(getStatementOfAccountData());
            statementOfAccountCollectionView.canFilter = true;
            statementOfAccountCollectionView.pageSize = cboStatementOfAccountDisplayNumberOfRows.selectedValue;

            var filterText = '';
            $('#inpStatementOfAccountSeachFilter').keyup(function () {
                filterText = this.value.toLowerCase();
                statementOfAccountCollectionView.refresh();
            });

            statementOfAccountCollectionView.filter = function (item) {
                return !filterText || (item.SINumber.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.Account.toLowerCase().indexOf(filterText) > -1)
                    || !filterText || (item.DocumentReference.toLowerCase().indexOf(filterText) > -1);
            }

            statementOfAccountCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateStatementOfAccountNavigateButtons();
            });

            statementOfAccountFlexGrid.itemsSource = statementOfAccountCollectionView;
            statementOfAccountFlexGrid.trackChanges = true;
        }

        // =================================================
        // Update Accounst Payable Report Navigation Buttons
        // =================================================
        function updateStatementOfAccountNavigateButtons() {
            if (statementOfAccountCollectionView.pageSize <= 0) {
                document.getElementById('statementOfAccountNavigationPageGrid').style.display = 'none';
                return;
            }

            document.getElementById('statementOfAccountNavigationPageGrid').style.display = 'block';

            if (statementOfAccountCollectionView.pageIndex === 0) {
                btnStatementOfAccountMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnStatementOfAccountMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnStatementOfAccountMoveToNextPageGrid.removeAttribute('disabled');
                btnStatementOfAccountMoveToLastPageGrid.removeAttribute('disabled');
            } else if (statementOfAccountCollectionView.pageIndex === (statementOfAccountCollectionView.pageCount - 1)) {
                btnStatementOfAccountMoveToFirstPageGrid.removeAttribute('disabled');
                btnStatementOfAccountMoveToPreviousPageGrid.removeAttribute('disabled');
                btnStatementOfAccountMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnStatementOfAccountMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnStatementOfAccountMoveToFirstPageGrid.removeAttribute('disabled');
                btnStatementOfAccountMoveToPreviousPageGrid.removeAttribute('disabled');
                btnStatementOfAccountMoveToNextPageGrid.removeAttribute('disabled');
                btnStatementOfAccountMoveToLastPageGrid.removeAttribute('disabled');
            }

            btnStatementOfAccountCurrentPageGrid.innerHTML = (statementOfAccountCollectionView.pageIndex + 1) + ' / ' + statementOfAccountCollectionView.pageCount;
        }

        // ========================================
        // Download Statement Of Account Report CSV
        // ========================================
        function btnStatementOfAccountDownloadCSVOnclick() {
            var CSV = '';
            var accountPayables = [];
            var fileName = 'StatementOfAccount.CSV';

            statementOfAccountCollectionView.moveToFirstPage();

            for (var p = 1; p <= statementOfAccountCollectionView.pageCount; p++) {
                for (i = 0; i < statementOfAccountCollectionView.items.length; i++) {
                    accountPayables.push({
                        Branch: statementOfAccountCollectionView.items[i].Branch,
                        Account: statementOfAccountCollectionView.items[i].Account,
                        SINumber: "SI-" + statementOfAccountCollectionView.items[i].SINumber,
                        SIDate: statementOfAccountCollectionView.items[i].SIDate,
                        Customer: statementOfAccountCollectionView.items[i].Customer,
                        DocumentReference: statementOfAccountCollectionView.items[i].DocumentReference,
                        DueDate: statementOfAccountCollectionView.items[i].DueDate,
                        BalanceAmount: statementOfAccountCollectionView.items[i].BalanceAmount,
                        CurrentAmount: statementOfAccountCollectionView.items[i].CurrentAmount,
                        Age30Amount: statementOfAccountCollectionView.items[i].Age30Amount,
                        Age60Amount: statementOfAccountCollectionView.items[i].Age60Amount,
                        Age90Amount: statementOfAccountCollectionView.items[i].Age90Amount,
                        Age120Amount: statementOfAccountCollectionView.items[i].Age120Amount
                    });
                }

                statementOfAccountCollectionView.moveToNextPage();
                if (p == statementOfAccountCollectionView.pageCount) {
                    statementOfAccountCollectionView.moveToPage(statementOfAccountCurrentPageIndex - 1);
                }
            }

            var Headers = [];
            Headers.push({
                Branch: "Branch",
                Account: "Account",
                SINumber: "SI Number",
                SIDate: "SI Date",
                Customer: "Customer",
                DocumentReference: "Doc Reference",
                DueDate: "Due Date",
                BalanceAmount: "Balance",
                CurrentAmount: "Current",
                Age30Amount: "30 Days",
                Age60Amount: "60 Days",
                Age90Amount: "90 Days",
                Age120Amount: "120 Days"
            });

            var header = '';
            for (var b in Headers[0]) {
                header += '"' + Headers[0][b] + '",';
            }

            CSV = header + '\r\n';
            for (var i = 0; i < accountPayables.length; i++) {
                var row = '';
                for (var a in accountPayables[i]) {
                    row += '"' + accountPayables[i][a] + '",';
                }

                row.slice(0, row.length - 1);
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                toastr.error("No data.");
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var blob = new Blob([CSV], { type: 'text/csv;charset=utf-8;' });
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", fileName);
                    link.style = "visibility:hidden";
                }

                if (navigator.msSaveBlob) {
                    link.addEventListener("click", function (event) {
                        var blob = new Blob([CSV], {
                            "type": "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }, false);
                }

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                toastr.success("Dowload successful.");
            }
        }

        // =====================================
        // Print Statement Of Account Report PDF
        // =====================================
        function btnStatementOfAccountPrintPDFOnclick() {
            if (cboStatementOfAccountCompanyFilter.selectedValue != null) {
                if (cboStatementOfAccountBranchFilter.selectedValue != null) {
                    if (cboStatementOfAccountCustomerFilter.selectedValue != null) {
                        var dateAsOf = cboStatementOfAccountDateAsOfFilter.value.toLocaleDateString().replace(/\//g, '-');
                        var companyId = cboStatementOfAccountCompanyFilter.selectedValue;
                        var branchId = cboStatementOfAccountBranchFilter.selectedValue;
                        var customerId = cboStatementOfAccountCustomerFilter.selectedValue;

                        window.location.href = '/RepStatementOfAccount/StatementOfAccount?DateAsOf=' + dateAsOf + '&CompanyId=' + companyId + '&BranchId=' + branchId + '&CustomerId=' + customerId;
                    } else {
                        toastr.error("Lacking Information");
                    }
                } else {
                    toastr.error("Lacking Information");
                }
            } else {
                toastr.error("Lacking Information");
            }
        }

        // =============================
        // Document Ready - On load Page
        // =============================
        $(document).ready(function () {
            createCboStatementOfAccountDateAsOfFilter();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>