@model easyfis.Entities.MstUserForm
@{
    // =====================
    // User Rights Variables
    // =====================
    var canAdd = Model.CanAdd;
    var canEdit = Model.CanEdit;
    var canDelete = Model.CanDelete;
    var canLock = Model.CanLock;
    var canUnlock = Model.CanUnlock;
    var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Stock Count</title>
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")

            <section class="content-header">
                <div class="container">
                    <h3>
                        Stock Count
                    </h3>
                    <p>
                        <i class="fa fa-building-o fa-fw"></i> &nbsp; @ViewData["Company"] <br />
                        <i class="fa fa-home fa-fw"></i> &nbsp; <a href="#" onclick="getUserBranches()" style="color: white;">@ViewData["Branch"]</a>
                    </p>
                </div>
            </section>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        ===============
                        Search / Filter
                        ===============
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 59%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" id="inpStockCountFilterSearch" placeholder="Search...">
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 40%" align="right">
                                    @{
                                        if (canAdd)
                                        {
                                            <button class="btn btn-primary" id="btnAddStockCount" onclick="btnStockCountAddOnclick()"><i class="fa fa-plus"></i> Add</button>
                                        }
                                    }
                                    <button class="btn btn-danger" id="btnCloseStockCount" onclick="btnStockCountCloseOnclick()"><i class=" fa fa-times"></i> Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        ==================
                        Date Range Filters
                        ==================
                    -->
                    <div class="panel-heading">
                        <table style="width: 100%" border="0">
                            <tr>
                                <td style="width: 29%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>Start Date</b></span>
                                        <div id="cboStockCountStartDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 1%"></td>
                                <td style="width: 29%">
                                    <div class="input-group">
                                        <span class="input-group-addon"><b>End Date</b></span>
                                        <div id="cboStockCountEndDateFilter"></div>
                                    </div>
                                </td>
                                <td style="width: 41%"></td>
                            </tr>
                        </table>
                    </div>

                    <!--
                        =========
                        Flex Grid
                        =========
                    -->
                    <div class="panel-body">
                        <div id="stockCountFlexGrid" class="grid" align="left"></div>
                    </div>

                    <!--
                        ==================
                        Navigation Buttons
                        ==================
                    -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-group col-md-7" id="stockCountNavigationPageGrid">
                                <button type="button" class="btn btn-default border-custom" id="btnStockCountMoveToFirstPageGrid">
                                    <span class="glyphicon glyphicon-fast-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnStockCountMoveToPreviousPageGrid">
                                    <span class="glyphicon glyphicon-step-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnStockCountCurrentPageGrid"></button>
                                <button type="button" class="btn btn-default border-custom" id="btnStockCountMoveToNextPageGrid">
                                    <span class="glyphicon glyphicon-step-forward"></span>
                                </button>
                                <button type="button" class="btn btn-default border-custom" id="btnStockCountMoveToLastPageGrid">
                                    <span class="glyphicon glyphicon-fast-forward"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    ==========
                    User Stamp
                    ==========
                -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User stamp
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Created by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-6">
                                <p>Updated by:</p>
                                <div style="padding-left: 10px;">
                                    <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                    <br />
                                    <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!--
        ==================================
        Stock Count Confirm Delete (Modal)
        ==================================
    -->
    <div class="modal fade" id="stockCountConfirmDeleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Delete Stock Count?
                </div>
                <div class="modal-footer">
                    <button id="btnStockCountConfirmDelete" class="btn btn-danger" onclick="btnStockCountConfirmDeleteOnclick()"><i class="fa fa-trash"></i> Delete</button>
                    <button id="btnStockCountConfirmDeleteCloseModal" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        // ==============================
        // Stock Count Date Range Filters
        // ==============================
        var cboStockCountStartDateFilter = new wijmo.input.InputDate('#cboStockCountStartDateFilter');
        var cboStockCountEndDateFilter = new wijmo.input.InputDate('#cboStockCountEndDateFilter');
        var isCboStockCountStartDateFilterSelected = true;
        var isCboStockCountEndDateFilterSelected = true;

        // =========================================
        // Stock Count Collection View and Flex Grid
        // =========================================
        var stockCountCollectionView;
        var stockCountFlexGrid;

        // ==============================
        // Stock Count Navigation Buttons
        // ==============================
        var btnStockCountMoveToFirstPageGrid;
        var btnStockCountMoveToPreviousPageGrid;
        var btnStockCountMoveToNextPageGrid;
        var btnStockCountMoveToLastPageGrid;
        var btnStockCountCurrentPageGrid;

        // ===============================
        // Create Combo Date Range Filters
        // ===============================
        function createCboDateRangeFilters() {
            cboStockCountStartDateFilter.dispose();
            cboStockCountStartDateFilter = new wijmo.input.InputDate('#cboStockCountStartDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isCboStockCountStartDateFilterSelected) {
                        refreshStockCountFlexGrid();
                    } else {
                        isCboStockCountStartDateFilterSelected = false;
                    }
                }
            });

            cboStockCountEndDateFilter.dispose();
            cboStockCountEndDateFilter = new wijmo.input.InputDate('#cboStockCountEndDateFilter', {
                format: 'MM-dd-yyyy',
                value: new Date(),
                onValueChanged: function () {
                    if (!isCboStockCountEndDateFilterSelected) {
                        refreshStockCountFlexGrid();
                    } else {
                        isCboStockCountEndDateFilterSelected = false;
                    }
                }
            });
        }

        // ====================
        // Get Stock Count Data
        // ====================
        function getStockCountData() {
            NProgress.start();
            var startDate = cboStockCountStartDateFilter.value.toLocaleDateString().replace(/\//g, '-');
            var endDate = cboStockCountEndDateFilter.value.toLocaleDateString().replace(/\//g, '-');

            var stockCountObservableArray = new wijmo.collections.ObservableArray;
            $.ajax({
                url: '/api/stockCount/list/' + startDate + '/' + endDate,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {
                    if (results.length > 0) {
                        for (i = 0; i < results.length; i++) {
                            var SCDateResult = new Date(results[i]["SCDate"])
                            var SCDate = ('0' + (SCDateResult.getMonth() + 1)).slice(-2) + '-' + ('0' + SCDateResult.getDate()).slice(-2) + '-' + SCDateResult.getFullYear();

                            stockCountObservableArray.push({
                                Edit: "<button class='btn btn-primary btn-xs btn-block' onclick='btnEditStockCountOnclick()'><i class='fa fa-edit'></i> Edit</button>",
                                Delete: "<button class='btn btn-danger btn-xs btn-block' onclick='btnDeleteStockCountOnclick()'><i class='fa fa-trash'></i> Delete</button>",
                                Id: results[i]["Id"],
                                SCNumber: results[i]["SCNumber"],
                                SCDate: SCDate,
                                Particulars: results[i]["Particulars"],
                                IsLocked: results[i]["IsLocked"],
                                CreatedBy: results[i]["CreatedBy"],
                                CreatedDateTime: results[i]["CreatedDateTime"],
                                UpdatedBy: results[i]["UpdatedBy"],
                                UpdatedDateTime: results[i]["UpdatedDateTime"]
                            });
                        }
                    }

                    NProgress.done();
                }
            });

            return stockCountObservableArray;
        }

        // ===========================
        // Create Stock Count FlexGrid
        // ===========================
        function createStockCountFlexGrid() {
            createCboDateRangeFilters();
            stockCountCollectionView = new wijmo.collections.CollectionView(getStockCountData());
            stockCountCollectionView.canFilter = true;
            stockCountCollectionView.pageSize = 15;

            var filterText = '';
            $('#inpStockCountFilterSearch').keyup(function () {
                filterText = this.value.toLowerCase();
                stockCountCollectionView.refresh();
            });

            stockCountCollectionView.filter = function (item) {
                return !filterText || (item.SCNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
            }

            stockCountCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateStockCountNavigationButtons();
            });

            stockCountCollectionView.currentChanged.addHandler(function (sender, args) {
                updateStockCountDetailsFlexGridSelection();
            });

            stockCountFlexGrid = new wijmo.grid.FlexGrid('#stockCountFlexGrid');
            stockCountFlexGrid.initialize({
                columns: [
                    @{
                        if (canEdit)
                        {
                            <text>
                                {
                                    "header": "Edit",
                                    "binding": "Edit",
                                    "width": 70,
                                    "align": "center",
                                    "allowResizing": false,
                                    "allowSorting": false,
                                    "isContentHtml": true
                                },
                            </text>
                        }
                        if (canDelete)
                        {
                            <text>
                                {
                                    "header": "Delete",
                                    "binding": "Delete",
                                    "width": 70,
                                    "align": "center",
                                    "allowResizing": false,
                                    "allowSorting": false,
                                    "isContentHtml": true
                                },
                            </text>
                        }
                    }
                    {
                        "header": "SC Number",
                        "binding": "SCNumber",
                        "allowSorting": true,
                        "width": 100
                    },
                    {
                        "header": "SC Date",
                        "binding": "SCDate",
                        "allowSorting": true,
                        "width": 90
                    },
                    {
                        "header": "Particulars",
                        "binding": "Particulars",
                        "allowSorting": true,
                        "width": "5*"
                    },
                    {
                        "header": "L",
                        "binding": "IsLocked",
                        "allowSorting": true,
                        "width": 50
                    }
                ],
                autoGenerateColumns: false,
                itemsSource: stockCountCollectionView,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row
            });

            stockCountFlexGrid.trackChanges = true;

            btnStockCountMoveToFirstPageGrid = document.getElementById('btnStockCountMoveToFirstPageGrid');
            btnStockCountMoveToPreviousPageGrid = document.getElementById('btnStockCountMoveToPreviousPageGrid');
            btnStockCountMoveToNextPageGrid = document.getElementById('btnStockCountMoveToNextPageGrid');
            btnStockCountMoveToLastPageGrid = document.getElementById('btnStockCountMoveToLastPageGrid');
            btnStockCountCurrentPageGrid = document.getElementById('btnStockCountCurrentPageGrid');

            updateStockCountNavigationButtons();

            btnStockCountMoveToFirstPageGrid.addEventListener('click', function () {
                stockCountCollectionView.moveToFirstPage();
                updateStockCountNavigationButtons();
            });

            btnStockCountMoveToPreviousPageGrid.addEventListener('click', function () {
                stockCountCollectionView.moveToPreviousPage();
                updateStockCountNavigationButtons();
            });

            btnStockCountMoveToNextPageGrid.addEventListener('click', function () {
                stockCountCollectionView.moveToNextPage();
                updateStockCountNavigationButtons();
            });

            btnStockCountMoveToLastPageGrid.addEventListener('click', function () {
                stockCountCollectionView.moveToLastPage();
                updateStockCountNavigationButtons();
            });
        }

        // ==============================================
        // Update Stock Count Details Flex Grid Selection
        // ==============================================
        function updateStockCountDetailsFlexGridSelection() {
            var item = stockCountCollectionView.currentItem;
            document.getElementById('createdBy').innerHTML = item.CreatedBy;
            document.getElementById('createdDate').innerHTML = item.CreatedDateTime;
            document.getElementById('updatedBy').innerHTML = item.UpdatedBy;
            document.getElementById('updatedDate').innerHTML = item.UpdatedDateTime;
        }

        // =====================================
        // Update Stock Count Navigation Buttons
        // =====================================
        function updateStockCountNavigationButtons() {
            if (stockCountCollectionView.pageSize <= 0) {
                document.getElementById('stockCountNavigationPageGrid').style.display = 'none';
                return;
            }
            document.getElementById('stockCountNavigationPageGrid').style.display = 'block';
            if (stockCountCollectionView.pageIndex === 0) {
                btnStockCountMoveToFirstPageGrid.setAttribute('disabled', 'disabled');
                btnStockCountMoveToPreviousPageGrid.setAttribute('disabled', 'disabled');
                btnStockCountMoveToNextPageGrid.removeAttribute('disabled');
                btnStockCountMoveToLastPageGrid.removeAttribute('disabled');
            } else if (stockCountCollectionView.pageIndex === (stockCountCollectionView.pageCount - 1)) {
                btnStockCountMoveToFirstPageGrid.removeAttribute('disabled');
                btnStockCountMoveToPreviousPageGrid.removeAttribute('disabled');
                btnStockCountMoveToLastPageGrid.setAttribute('disabled', 'disabled');
                btnStockCountMoveToNextPageGrid.setAttribute('disabled', 'disabled');
            } else {
                btnStockCountMoveToFirstPageGrid.removeAttribute('disabled');
                btnStockCountMoveToPreviousPageGrid.removeAttribute('disabled');
                btnStockCountMoveToNextPageGrid.removeAttribute('disabled');
                btnStockCountMoveToLastPageGrid.removeAttribute('disabled');
            }
            btnStockCountCurrentPageGrid.innerHTML = (stockCountCollectionView.pageIndex + 1) + ' / ' + stockCountCollectionView.pageCount;
        }

        // ============================
        // Refresh Stock Count FlexGrid
        // ============================
        function refreshStockCountFlexGrid() {
            stockCountCollectionView = new wijmo.collections.CollectionView(getStockCountData());
            stockCountCollectionView.canFilter = true;
            stockCountCollectionView.pageSize = 15;

            var filterText = '';
            $('#inpStockCountFilterSearch').keyup(function () {
                filterText = this.value.toLowerCase();
                stockCountCollectionView.refresh();
            });

            stockCountCollectionView.filter = function (item) {
                return !filterText || (item.SCNumber.toLowerCase().indexOf(filterText) > -1)
                    || (item.Particulars.toLowerCase().indexOf(filterText) > -1);
            }

            stockCountCollectionView.collectionChanged.addHandler(function (sender, args) {
                updateStockCountNavigationButtons();
            });

            stockCountCollectionView.currentChanged.addHandler(function (sender, args) {
                updateStockCountDetailsFlexGridSelection();
            });

            stockCountFlexGrid.itemsSource = stockCountCollectionView;
            stockCountFlexGrid.trackChanges = true;
        }

        // ===============
        // Add Stock Count
        // ===============
        function btnStockCountAddOnclick() {
            document.getElementById('btnAddStockCount').innerHTML = "<i class='fa fa-plus'></i> Adding...";
            $('#btnAddStockCount').prop('disabled', true);
            $('#btnCloseStockCount').prop('disabled', true);

            $.ajax({
                type: "POST",
                url: '/api/stockCount/add',
                contentType: "application/json; charset=utf-8",
                statusCode: {
                    200: function (id) {
                        window.location = '/Software/StockCountDetail?id=' + id;
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        document.getElementById('btnAddStockCount').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddStockCount').prop('disabled', false);
                        $('#btnCloseStockCount').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        document.getElementById('btnAddStockCount').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddStockCount').prop('disabled', false);
                        $('#btnCloseStockCount').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        document.getElementById('btnAddStockCount').innerHTML = "<i class='fa fa-plus'></i> Add";
                        $('#btnAddStockCount').prop('disabled', false);
                        $('#btnCloseStockCount').prop('disabled', false);
                    }
                }
            });
        }

        // ================
        // Edit Stock Count
        // ================
        function btnEditStockCountOnclick() {
            stockCountCollectionView.editItem(stockCountCollectionView.currentItem);
            var sale = stockCountCollectionView.currentEditItem;
            var saleId = sale.Id;
            window.location = '/Software/StockCountDetail?id=' + saleId;
        }

        // ==================
        // Delete Stock Count
        // ==================
        function btnDeleteStockCountOnclick() {
            stockCountCollectionView.editItem(stockCountCollectionView.currentItem);
            var sale = stockCountCollectionView.currentEditItem;
            if (sale.IsLocked) {
                toastr.error("Delete is not allowed when the selected record is locked!");
            } else {
                $('#stockCountConfirmDeleteModal').modal({
                    show: true,
                    backdrop: 'static'
                });

                document.getElementById('btnStockCountConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                $("#btnStockCountConfirmDelete").prop("disabled", false);
                $("#btnStockCountConfirmDeleteCloseModal").prop("disabled", false);
            }
        }

        // ==========================
        // Confirm Delete Stock Count
        // ==========================
        function btnStockCountConfirmDeleteOnclick() {
            document.getElementById('btnStockCountConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Deleting...";
            $("#btnStockCountConfirmDelete").prop("disabled", true);
            $("#btnStockCountConfirmDeleteCloseModal").prop("disabled", true);

            stockCountCollectionView.editItem(stockCountCollectionView.currentItem);
            var id = stockCountCollectionView.currentEditItem.Id;

            $.ajax({
                url: '/api/stockCount/delete/' + id,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#stockCountConfirmDeleteModal').modal('hide');
                        refreshStockCountFlexGrid();
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        $('#stockCountConfirmDeleteModal').modal('hide');
                        document.getElementById('btnStockCountConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnStockCountConfirmDelete").prop("disabled", false);
                        $("#btnStockCountConfirmDeleteCloseModal").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        $('#stockCountConfirmDeleteModal').modal('hide');
                        document.getElementById('btnStockCountConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnStockCountConfirmDelete").prop("disabled", false);
                        $("#btnStockCountConfirmDeleteCloseModal").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        $('#stockCountConfirmDeleteModal').modal('hide');
                        document.getElementById('btnStockCountConfirmDelete').innerHTML = "<i class='fa fa-trash'></i> Delete";
                        $("#btnStockCountConfirmDelete").prop("disabled", false);
                        $("#btnStockCountConfirmDeleteCloseModal").prop("disabled", false);
                    }
                }
            });
        }

        // =================
        // Close Stock Count
        // =================
        function btnStockCountCloseOnclick() {
            window.location = '/Software';
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            createStockCountFlexGrid();
        });
    </script>
    <script type="text/javascript">
        // =================
        // User Branch Combo
        // =================
        var cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches');

        // =========================
        // Get Current User Branches
        // =========================
        function getUserBranches() {
            $("#loadingUserBranches").show();
            document.getElementById("loadingUserBranches").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            $("#userBranchContent").hide();

            $('#userBranchesModal').modal({ show: true, backdrop: 'static' });

            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
            $("#updateUserBranch").prop("disabled", false);
            $("#closeUserBranch").prop("disabled", false);

            var userBranchesObservableArray = new wijmo.collections.ObservableArray();
            $.ajax({
                url: '/api/userBranch/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (userBranchesResults) {
                    if (userBranchesResults.length > 0) {
                        for (i = 0; i < userBranchesResults.length; i++) {
                            userBranchesObservableArray.push({
                                BranchId: userBranchesResults[i]["BranchId"],
                                Branch: userBranchesResults[i]["Branch"]
                            });
                        }
                    }

                    var currentBranch = "@ViewData["BranchId"]";
                    cboUserBranches.dispose();
                    cboUserBranches = new wijmo.input.ComboBox('#cboUserBranches', {
                        isEditable: false,
                        placeholder: "Select Branches",
                        itemsSource: userBranchesObservableArray,
                        displayMemberPath: "Branch",
                        selectedValuePath: "BranchId",
                        selectedValue: currentBranch
                    });

                    setTimeout(function () {
                        $("#loadingUserBranches").hide();
                        $("#userBranchContent").show();
                    }, 500)
                }
            });
        }

        // ==========================
        // Update Current User Branch
        // ==========================
        function updateUserBranchOnclick() {
            document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-spinner fa-spin'></i> Updating";
            $("#updateUserBranch").prop("disabled", true);
            $("#closeUserBranch").prop("disabled", true);

            var userBranchObject = new Object();
            userBranchObject.BranchId = cboUserBranches.selectedValue;
            var userBranchData = JSON.stringify(userBranchObject);

            $.ajax({
                type: "PUT",
                url: '/api/userBranch/update',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: userBranchData,
                statusCode: {
                    200: function () {
                        toastr.success("Update Successful");
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function () {
                        toastr.error("Not Found");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    },
                    500: function () {
                        toastr.error("Bad Request");
                        document.getElementById('updateUserBranch').innerHTML = "<i class='fa fa-save fa-fw'></i> Update";
                        $("#updateUserBranch").prop("disabled", false);
                        $("#closeUserBranch").prop("disabled", false);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ======================
        // Side Bar Menu Settings
        // ======================
        var slideLeft = new Menu({
            wrapper: '#o-wrapper',
            type: 'slide-left',
            menuOpenerClass: '.c-button',
            maskId: '#c-mask'
        });

        var slideLeftBtn = document.querySelector('#c-button--slide-left');

        slideLeftBtn.addEventListener('click', function (e) {
            e.preventDefault;
            slideLeft.open();
        });
    </script>
</body>
</html>